<template>
    <section class="extended-panel">
        <h2 class="hidden">{{ $t('header.menuTitle') }}</h2>
        <ul class="panel">
            <li class="panel__element">
                <button
                    :aria-label="$t('aria.changeSiteLanguage')"
                    class="button__no-style panel__button"
                    @click="envChangePopoverMode('siteLanguage')">
                    <div class="panel__inner">
                        <span class="panel__inner-title">
                            {{ $t('header.language') }}
                        </span>
                        <div
                            class="language panel__icon"
                            :class="`language-${locale.code}`">
                            <span>
                                {{ locale.name }}
                            </span>
                        </div>
                    </div>
                </button>
                <popover
                    v-if="popoverMode==='siteLanguage'"
                    :mode="popoverMode"/>
            </li>
            <li class="panel__element panel__element--offer-language">
                <button
                    :aria-label="$t('aria.changeOffersLanguage')"
                    class="button__no-style panel__button"
                    @click="envChangePopoverMode('offersLanguage')">
                    <div class="panel__inner">
                        <span class="panel__inner-title">{{ $t('header.offerLanguage') }}</span>
                        <ul class="panel__icon">
                            <template v-for="locale in offerLanguage.split('+')">
                                <li
                                    :key="locale"
                                    class="language language--offer-language"
                                    :class="`language-${locale}`">
                                    <span class="hidden">
                                        {{ locale.toUpperCase() }}
                                    </span>
                                </li>
                            </template>
                        </ul>
                    </div>
                </button>
                <popover
                    v-if="popoverMode==='offersLanguage'"
                    :mode="popoverMode"/>
            </li>
            <template v-if="!isAuthenticated">
                <li class="panel__element">
                    <button
                        :aria-label="$t('aria.openLogInPopover')"
                        class="button__no-style panel__button"
                        @click="envChangePopoverMode('logIn')">
                        <div class="panel__inner">
                            <span class="panel__inner-title">
                                {{ $t('header.logIn') }}
                            </span>
                            <span class="panel__icon panel__cabinet-icon-login">
                                {{ $t('header.logIn') }}
                            </span>
                        </div>
                    </button>
                    <popover
                        v-if="popoverMode==='logIn'"
                        :mode="popoverMode"/>
                </li>
                <li class="panel__element">
                    <button
                        :aria-label="$t('aria.openSignUpPopover')"
                        class="button__no-style panel__button"
                        @click="envChangePopoverMode('signUp')">
                        <div class="panel__inner">
                            <span class="panel__inner-title">
                                {{ $t('header.signUp') }}
                            </span>
                            <span class="panel__icon panel__cabinet-icon-registration">
                                {{ $t('header.signUp') }}
                            </span>
                        </div>
                    </button>
                    <popover
                        v-if="popoverMode==='signUp'"
                        :mode="popoverMode"/>
                </li>
            </template>
            <template v-else>
                <li class="panel__element">
                    <button
                        :aria-label="$t('aria.openProfile')"
                        class="button__no-style panel__button"
                        @click="envChangePopoverMode('userProfile')">
                        <div class="panel__inner">
                            <span class="panel__inner-title">
                                {{ $t('header.userProfile.headerTitle') }}
                            </span>
                            <span class="panel__icon panel__cabinet-icon">
                                {{ $t('header.userProfile.headerTitle') }}
                            </span>
                        </div>
                    </button>
                    <popover
                        v-if="popoverMode==='userProfile'"
                        :mode="popoverMode"/>
                </li>
            </template>
        </ul>
    </section>
</template>

<script>
import { mapActions, mapState, mapGetters } from 'vuex';
import Popover from '../../../common/Popover/Popover';

export default {
    name: 'ExtendedPanel',
    components: {
        Popover
    },
    methods: {
        ...mapActions(['changeCurrentJobLanguage', 'envChangePopoverMode']),
    },
    computed: {
        ...mapState({
            offerLanguage: state =>
                state.search.offerLanguages.hasOwnProperty(state.search.offerLanguage)
                    ? state.search.offerLanguage
                    : state.search.offerLanguages.all.code,
            popoverMode: state => state.environment.popoverMode,
        }),
        ...mapGetters(['isAuthenticated']),
        locale() {
            return this.$i18n.locales.find(
                locale => locale.code === this.$i18n.locale,
            );
        },
    },
};
</script>

<style lang="scss">

.panel {
    &__cabinet {
        &-wrapper {
            height: 50px;
            display: flex;
            align-items: center;
            flex-direction: column;
        }

        &-title {
            font-size: $font-size-s;
            color: $text-color-grey;
            line-height: 18px;
        }

        &-icon,
        &-icon-login,
        &-icon-registration {
            padding-left: 28px;
            position: relative;
            width: 20px;
            height: 20px;
            overflow: hidden;
            white-space: nowrap;

            &:before {
                padding: 0 $spacing;
                height: 20px;
                width: 20px;
                position: absolute;
                top: 0;
                left: 0;

                .page--rtl & {
                  padding: 0 0 0 $spacing;
                }
            }

            .page--rtl & {
                padding-left: 0;
                padding-right: 28px;
            }
        }

        &-icon:before {
            content: url('/svg/profile.svg');
        }

        &-icon-login:before {
            content: url('/svg/login.svg');
        }

        &-icon-registration:before {
            content: url('/svg/register.svg');
        }
    }
}
</style>
