<template>
    <section class="hamburger-panel">
        <h2 class="hidden">{{ $t('header.menuTitle') }}</h2>
        <div class="panel">
            <div
                :aria-label="$t('aria.openSiteMenu')"
                class="panel__element"
                @click="envChangePopoverMode('mobileMenu')">
                <button class="button__no-style panel__button">
                    <div class="panel__inner">
                        <span class="panel__inner-title">
                            {{ $t('header.mobile.menu') }}
                        </span>
                        <object
                            data="/svg/hamburger_menu.svg"
                            type="image/svg+xml"
                            class="panel__icon">
                            Menu
                        </object>
                    </div>
                </button>
                <popover
                    v-if="popoverMode==='mobileMenu'"
                    :mode="popoverMode"/>
            </div>
        </div>
    </section>
</template>

<script>
import { mapActions, mapState } from 'vuex';
import Popover from '~/components/common/Popover/Popover';

export default {
    name: 'HamburgerPanel',
    components: {
        Popover,
    },
    methods: {
        ...mapActions(['changeCurrentOfferLanguage', 'envChangePopoverMode']),
    },
    computed: {
        ...mapState({
            offerLanguage: state =>
                state.search.offerLanguages.hasOwnProperty(state.search.offerLanguage)
                    ? state.search.offerLanguage
                    : state.search.offerLanguages.all.code,
            popoverMode: state => state.environment.popoverMode,
            token: state => state.user.token,
        }),
        locale() {
            return this.$i18n.locales.find(
                locale => locale.code === this.$i18n.locale,
            );
        },
    },
};
</script>
