<template>
    <div class="popover-footer">
        <slot name="popover-footer-text">-</slot>
    </div>
</template>

<script>
export default {
    name: 'PopoverFooter',
    props: {
        text: {
            type: String,
            default: '',
        },
    },
};
</script>

<style lang="scss">

$modal-footer-background-color: #eff1f4;
$footer-color: #b4b9bc;

.popover-footer {
    background-color: $modal-footer-background-color;
    color: $footer-color;
    font-size: $font-size-m;
    text-align: center;
    border-top: 1px solid $color-lightest-grey;
    padding: $spacing * 8 0;
    @include border-radius-bottomleft($border-radius);
    @include border-radius-bottomright($border-radius);

    a {
        color: $color-blue;
        cursor: pointer;
    }
}
</style>
