<template>
    <div
        v-click-outside="onClickOutside"
        class="popover"
        :class="{
            'popover--trailing': [
                'logIn',
                'signUp',
                'mobileMenu',
                'userProfile',
                'saveSearch',
                'saveSearchNewcomer',
                'saveSearchSuccess',
            ].includes(mode),
            'popover--opened': opened,
        }"
    >
        <offers-language v-if="mode === 'offersLanguage'" />
        <site-language v-if="mode === 'siteLanguage'" />
        <log-in v-if="mode === 'logIn'" />
        <sign-up v-if="mode === 'signUp'" />
        <user-profile v-if="mode === 'userProfile'" />
        <mobile-menu v-if="mode === 'mobileMenu'" />
        <save-search-popover v-if="mode === 'saveSearch'" />
        <students-register-form v-if="mode === 'studentsRegister'" />
    </div>
</template>

<script>
import { mapState, mapActions } from 'vuex';
import ClickOutside from 'vue-click-outside';
import UserProfile from '~/components/header-panel/elements/components/UserProfile';
import OffersLanguage from '~/components/header-panel/elements/components/OffersLanguage';
import SiteLanguage from '~/components/header-panel/elements/components/SiteLanguage';
import LogIn from '~/components/header-panel/elements/components/LogIn';
import StudentsRegisterForm from '~/components/students/StudentsRegisterForm';
import SignUp from '~/components/header-panel/elements/components/SignUp';
import MobileMenu from '~/components/header-panel/elements/components/MobileMenu';
import SaveSearchPopover from '~/components/save-search/SaveSearchPopover';

export default {
    name: 'Popover',
    components: {
        UserProfile,
        OffersLanguage,
        SiteLanguage,
        LogIn,
        SignUp,
        MobileMenu,
        SaveSearchPopover,
        StudentsRegisterForm,
    },
    directives: {
        ClickOutside,
    },
    props: {
        mode: {
            type: String,
            default: '',
        },
    },
    data: () => ({
        opened: false,
    }),
    computed: {
        ...mapState({
            popoverMode: state => state.environment.popoverMode,
        }),
    },
    mounted: function() {
        setTimeout(() => (this.opened = true), 40);
    },
    methods: {
        ...mapActions(['envResetPopoverMode']),
        onClickOutside() {
            this.opened &&
                this.mode === this.popoverMode &&
                this.envResetPopoverMode();
        },
    },
};
</script>

<style lang="scss">
.popover {
    min-height: 100px;
    min-width: 100px;
    left: 0;
    top: 50%;
    opacity: 0;
    position: absolute;
    background-color: $color-white;
    box-shadow: $default-box-shadow;
    z-index: 2;
    @include transition(top 0.3s ease-in-out, opacity 0.3s ease-in);
    @include border-radius($border-radius);
    & > .block {
        margin: 0;
    }
    &--opened {
        top: calc(100% + #{$spacing * 3});
        opacity: 1;
    }
    &--trailing {
        left: unset;
        right: 0;

        &:before {
            left: unset;
            right: 16px;
        }

        .page--rtl & {
            right: unset;
            left: 0;

            &:before {
                right: unset;
                left: 16px;
            }
        }
    }
}
</style>
