<template>
    <div>
        <save-search-no-query-popover v-if="!query" />
        <save-search-success-popover v-else-if="searchIsSaved" />
        <save-search-authenticated-popover v-else-if="isAuthenticated" />
        <save-search-newcomer-popover v-else />
    </div>
</template>

<script>
import { mapGetters, mapState } from 'vuex';
import SaveSearchNoQueryPopover from './save-search-modes/SaveSearchNoQueryPopover';
import SaveSearchAuthenticatedPopover from './save-search-modes/SaveSearchAuthenticatedPopover';
import SaveSearchNewcomerPopover from './save-search-modes/SaveSearchNewcomerPopover';
import SaveSearchSuccessPopover from './save-search-modes/SaveSearchSuccessPopover';

export default {
    name: 'SaveSearchPopover',
    components: {
        SaveSearchNewcomerPopover,
        SaveSearchAuthenticatedPopover,
        SaveSearchSuccessPopover,
        SaveSearchNoQueryPopover,
    },
    computed: {
        ...mapState({
            query: state => state.search.query,
            searchIsSaved: state =>
                state.user &&
                state.user.savedSearches &&
                state.user.savedSearches.some(
                    search =>
                        search &&
                        search.query &&
                        search.query === state.search.query,
                ),
        }),
        ...mapGetters(['isAuthenticated']),
    },
};
</script>
