<template>
    <main class="enter-cabinet">
        <div class="headline">
            <h1>{{ $t('enterCabinet.title') }}</h1>
        </div>
        <div class="main-content">
            <span/>
        </div>
    </main>
</template>

<script>

export default {
    middleware: 'authenticatedUser',
};
</script>
