<template>
    <main class="profile">
        <div class="headline">
            <h1>{{ $t('profile.title') }}</h1>
        </div>
        <div class="main-content aside__wrapper">
            <div class="aside-menu">
                <cabinet-menu
                    :get-menu-fn="getUserMenu"
                    :current="$route.name"
                />
            </div>
            <div class="aside-content">
                <div v-if="userData === null" class="preloader">
                    <loading />
                </div>
                <profile-form v-else :user-data="userData" />
            </div>
        </div>
    </main>
</template>

<script>
import { mapState } from 'vuex';
import CabinetMenu from '~/components/cabinet/CabinetMenu';
import ProfileForm from '~/components/cabinet/ProfileForm';
import Loading from '~/components/Loading';
import { getUserMenu } from '~/util';

export default {
    middleware: 'authenticatedUser',
    components: {
        CabinetMenu,
        ProfileForm,
        Loading,
    },
    computed: {
        ...mapState({
            userData: state => state.user.userData,
        }),
    },
    data: () => ({
        getUserMenu,
    }),
};
</script>

<style>
.preloader {
    position: relative;
    min-height: 300px;
    height: 90vh;
}
</style>
