<template>
    <main class="offer-added">
        <div class="headline">
            <h1>{{ $t('offerAdded.title') }}</h1>
        </div>
        <div class="main-content aside__wrapper">
            <div class="aside-menu">
                <cabinet-menu
                    :get-menu-fn="getRecruiterMenu"
                    :current="$route.name"/>
            </div>
            <div class="aside-content">
                <div class="block offer-added__content">
                    <p>{{ $t('offerAdded.successText') }}</p>
                    <div class="offer-added__buttons-row">
                        <nuxt-link :to="localePath({ name: 'cabinet-recruiter-offers-list' })">
                            <button
                                :aria-label="$t('offerAdded.goToList')"
                                class="button button--green">
                                <span>{{ $t('offerAdded.goToList') }}</span>
                            </button>
                        </nuxt-link>
                    </div>
                </div>
            </div>
        </div>
    </main>
</template>

<script>
import CabinetMenu from '~/components/cabinet/CabinetMenu';
import { getRecruiterMenu } from '~/util';

export default {
    middleware: 'authenticatedRecruiter',
    components: {
        CabinetMenu
    },
    data: () => ({
        getRecruiterMenu
    })
};
</script>

<style lang="scss">

.offer-added {
  &__content {
    margin-bottom: $spacing * 5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__buttons-row {
    margin-top: $spacing * 3;
    display: block;
  }
}
</style>
