.landing-page {
    min-height: 100vh;
}

.students {
    background-color: $color-white;

    &-hero {
        width: 100vw;
        position: relative;
        overflow: hidden;
        display: flex;
        justify-content: center;

        img {
            width: 100%;
            min-width: 1800px;
        }
    }

    &-form {
        position: absolute;
        top: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &-logo {
        margin: $spacing * 6;
    }

    &-heading {
        margin: ($spacing * 12) ($spacing * 8);
        text-align: center;
        max-width: 100vw;
        color: $color-white;
        font-size: $font-size-super-xxl;

        @media screen and (max-width: $screen-tablet-larger) {
            font-size: $font-size-xxl;
        }

        @media screen and (max-width: $screen-tablet) {
            font-size: $font-size-xl;
        }
    }

    &-cta {
        text-align: center;
        margin: $spacing * 6 $spacing * 3;
        color: $color-white;
        font-size: $font-size-xl;
    }

    &-features {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: $spacing * 12 0;

        @media screen and (max-width: $screen-desktop-small) {
            flex-direction: column;
        }

        & .text-feature {
            flex: 0 1 30%;
            padding: ($spacing * 3) $spacing;
        }
    }

    &-controls {
        font-size: $font-size-xxl;
        display: flex;
        justify-content: space-between;
        padding: ($spacing * 10) 0 ($spacing * 5);

        @media screen and (max-width: $screen-tablet) {
            font-size: $font-size-l;
        }
    }

    &-control {
        width: 49%;
        border-bottom: solid 1px $color-orange;
        padding: $spacing * 2 0;
        text-decoration: none;

        &:hover {
            cursor: default;
            color: $color-black;
        }

        &:first-child {
            text-align: left;
            .page--rtl & {
                text-align: right;
            }
        }

        &:last-child {
            text-align: right;
            .page--rtl & {
                text-align: left;
            }
        }

        &-inactive {
            color: $color-grey;
            border-bottom-color: $color-grey;

            &:hover {
                color: $main-color;
                cursor: pointer;
                border-bottom-color: $main-color;
            }
        }
    }

    &-jobs {
        position: relative;
        min-height: 50vh;
    }

    &-bottom-cta {
        padding: $spacing * 14 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h2 {
            font-size: $font-size-xxl;
            padding-bottom: $spacing * 5;
        }

        .button span {
            font-size: $font-size-xl;
        }
    }
}
