<template>
    <main class="students">
        <section class="students-hero">
            <picture>
                <img
                    srcset="
                        /students/students_top.png,
                        /students/students_top_2x.png 2x,
                        /students/students_top_4x.png 4x
                    "
                    src="/students/students_top.png"
                    data-sizes="auto"
                    class="lazyload blur-up"
                    :alt="$t('students.imgAlt')"
                    :title="$t('students.imgAlt')"
                />
            </picture>
            <div class="students-form">
                <nuxt-link :to="localePath({ name: 'index' })">
                    <logo-white
                        :class="'students-logo'"
                        :title="$t('students.logoTitle')"
                    />
                </nuxt-link>
                <h1
                    class="students-heading"
                    id="register-section"
                    v-html="$t('students.headTitle')"
                />
                <p class="students-cta">
                    {{ $t('students.registerCta') }}
                </p>
                <register-button />
            </div>
        </section>
        <section class="main-content">
            <h2 class="hidden">{{ $t('students.features.hidden') }}</h2>
            <div class="students-features">
                <feature
                    :title="$t('students.features.jobs.title')"
                    :text="$t('students.features.jobs.text')"
                >
                    <binary-code-icon slot="svg" />
                </feature>

                <feature
                    :title="$t('students.features.it.title')"
                    :text="$t('students.features.it.text')"
                >
                    <learning-icon slot="svg" />
                </feature>

                <feature
                    :title="$t('students.features.ai.title')"
                    :text="$t('students.features.ai.text')"
                >
                    <brain-icon slot="svg" />
                </feature>
            </div>
            <section>
                <nav role="tablist" class="students-controls">
                    <a
                        aria-controls="student-jobs"
                        class="students-control"
                        @click="toggleJobsList"
                        :class="{
                            'students-control-inactive': !isStudentToggle,
                        }"
                        :disabled="isStudentToggle"
                        role="tab"
                    >
                        {{ $t('students.studentJobs') }}
                    </a>
                    <a
                        aria-controls="student-jobs"
                        @click="toggleJobsList"
                        class="students-control"
                        :class="{
                            'students-control-inactive': isStudentToggle,
                        }"
                        :disabled="!isStudentToggle"
                        role="tab"
                    >
                        {{ $t('students.graduateJobs') }}
                    </a>
                </nav>
                <section
                    id="students-jobs"
                    class="students-jobs"
                    aria-live="polite"
                    role="region"
                >
                    <loading v-if="isLoading" />
                    <template v-else>
                        <search-list :offers="jobs" :hide-score-match="true" />
                        <show-more :query="currentSearchQuery" />
                    </template>
                </section>
            </section>
            <section class="students-bottom-cta">
                <h2>{{ $t('students.interestedQuestion') }}</h2>
                <a href="#register-section">
                    <button class="button button--blue">
                        <span>
                            {{ $t('students.notifyMe') }}
                        </span>
                    </button>
                </a>
            </section>
        </section>
    </main>
</template>

<script>
import { mapState, mapActions } from 'vuex';
import LogoWhite from '~/static/students/logo_white.svg?inline';
import BinaryCodeIcon from '~/static/students/students-features-1.svg?inline';
import LearningIcon from '~/static/students/students-features-2.svg?inline';
import BrainIcon from '~/static/students/students-features-3.svg?inline';
import RegisterButton from '~/components/students/RegisterButton.vue';
import Feature from '~/components/students/Feature.vue';
import SearchList from '~/components/offers-list/SearchList';
import ShowMore from '~/components/students/ShowMore.vue';
import Loading from '~/components/Loading';
import { get } from '~/util/lodash';

export default {
    layout: 'students',
    components: {
        LogoWhite,
        BinaryCodeIcon,
        LearningIcon,
        BrainIcon,
        RegisterButton,
        Feature,
        SearchList,
        Loading,
        ShowMore,
    },
    data: () => ({
        isStudentToggle: true,
    }),
    async fetch({ store, params }) {
        const isStudent = true;
        const query = params.query || 'data scientist';
        await store.dispatch('getStudentsJobs', { isStudent, query });
    },
    computed: {
        ...mapState({
            jobs: state => get(state, ['students', 'studentsJobs'], []),
            isLoading(state) {
                return get(
                    state,
                    [
                        'request',
                        'responses',
                        this.$requestModules.STUDENTS,
                        'isRequestLoading',
                    ],
                    [],
                );
            },
            currentSearchQuery: state =>
                get(
                    state,
                    ['students', 'currentSearchQuery'],
                    'data scientist',
                ),
        }),
    },
    methods: {
        ...mapActions(['getStudentsJobs']),
        toggleJobsList() {
            this.isStudentToggle = !this.isStudentToggle;
        },
    },
    watch: {
        isStudentToggle(isStudent) {
            this.getStudentsJobs({ isStudent });
        },
    },
};
</script>

<style lang="scss" src="./index.scss"></style>
