<template>
    <form class="offer__form" @submit.prevent="handleSubmit">
        <section class="form-section">
            <div class="heading">
                <h2>{{ $t('addOffer.indexedData') }}</h2>
                <hr class="delimeter heading-delimeter" />
            </div>

            <div class="form__input-group">
                <form-input
                    :label="$t('addOffer.offerTitle')"
                    :required="true"
                    :id="'job-title'"
                    :value="title"
                    :update-value="val => (this.title = val)"
                    :placeholder="$t('addOffer.offerTitlePlaceholder')"
                />
            </div>

            <div class="form__group">
                <form-textarea
                    :label="$t('addOffer.miniDescription')"
                    :id="'job-mini-description'"
                    :value="miniDescription"
                    :update-value="val => (this.miniDescription = val)"
                    :placeholder="$t('addOffer.miniDescriptionPlaceholder')"
                />
            </div>

            <div class="form__group">
                <wysiwyg-editor
                    :content="
                        offerHtmlDescription.length
                            ? offerHtmlDescription
                            : description
                    "
                    :update-content="html => (this.description = html)"
                >
                    <label
                        slot="editor-label"
                        class="form__label form__label--required tooltip"
                    >
                        {{ $t('addOffer.description') }}
                        <span class="tooltip__text tooltip__text--right">
                            {{ $t('required') }}
                        </span>
                    </label>
                </wysiwyg-editor>
            </div>

            <div class="form__group form__group--recognise-tags">
                <button
                    @click="recogniseTags"
                    :aria-label="$t('addOffer.recogniseTags')"
                    class="button button--blue form__button"
                >
                    <span>
                        {{ $t('addOffer.recogniseTags') }}
                    </span>
                </button>
                <span class="recognise-tags__text secondary-text">
                    {{ $t('addOffer.recogniseTagsText') }}
                </span>
            </div>

            <div class="form__input-group">
                <autocomplete-tags-input
                    :label="$t('addOffer.skills')"
                    :inputplacholder="$t('addOffer.skillsPlaceholder')"
                    :id="'job-skills'"
                    :tags="skills"
                    :oninput="skillsSuggestions"
                    :set-tags="tags => (this.skills = tags)"
                />
            </div>

            <div class="form__input-group">
                <autocomplete-tags-input
                    :label="$t('addOffer.langs')"
                    :inputplacholder="$t('addOffer.langsPlaceholder')"
                    :id="'job-langs'"
                    :tags="languages"
                    :oninput="languageSuggestions"
                    :set-tags="tags => (this.languages = tags)"
                />
            </div>

            <div class="form__input-group">
                <autocomplete-tags-input
                    :label="$t('addOffer.destinations')"
                    :inputplacholder="$t('addOffer.destinationsPlaceholder')"
                    :id="'job-destinations'"
                    :tags="destinations"
                    :oninput="locationsSuggestions"
                    :set-tags="tags => (this.destinations = tags)"
                />
            </div>

            <div class="form__input-group">
                <form-select
                    :label="$t('addOffer.offerLanguage')"
                    :id="'language'"
                    :value="language"
                    :update-value="val => (this.language = val)"
                    :options="
                        Object.keys(offerLanguages).map(offerLanguageKey => {
                            const offerLanguage =
                                offerLanguages[offerLanguageKey];
                            return {
                                value: offerLanguage.param,
                                text: offerLanguage.title,
                            };
                        })
                    "
                    :placeholder="$t('addOffer.offerLanguagePlaceholder')"
                />
            </div>
        </section>

        <section class="form-section">
            <div class="heading">
                <h2>{{ $t('addOffer.contactData') }}</h2>
                <hr class="delimeter heading-delimeter" />
            </div>

            <div class="form__input-group">
                <form-input
                    :label="$t('addOffer.url')"
                    :required="true"
                    :id="'job-url'"
                    :value="url"
                    :update-value="val => (this.url = val)"
                    :placeholder="$t('addOffer.urlPlaceholder')"
                />
            </div>

            <div class="column-wrapper">
                <div class="column">
                    <div class="form__input-group">
                        <form-input
                            :label="$t('addOffer.companyName')"
                            :required="true"
                            :id="'job-company'"
                            :value="companyName"
                            :update-value="val => (this.companyName = val)"
                            :placeholder="$t('addOffer.companyNamePlaceholder')"
                        />
                    </div>
                </div>

                <div class="column">
                    <div class="form__input-group">
                        <form-file-button
                            :button-label="$t('addOffer.uploadLogo')"
                            :empty-text="$t('addOffer.emptyText')"
                            :input-name="'companyLogo'"
                            :file-name="fileName"
                            :alt-text="
                                $t('logoText', {
                                    companyName: this.companyName,
                                })
                            "
                            :temp-file-name="logo ? logo.name : ''"
                            :on-upload="uploadLogo"
                        />
                        <!--<email-input-->
                        <!--:label="$t('addOffer.email')"-->
                        <!--:id="'job-email'"-->
                        <!--:value="email"-->
                        <!--:update-value="val => this.email = val"-->
                        <!--:placeholder="$t('addOffer.emailPlaceholder')"/>-->
                    </div>
                </div>
            </div>
        </section>

        <section class="form-section">
            <div class="heading">
                <h2>{{ $t('addOffer.otherData') }}</h2>
                <hr class="delimeter heading-delimeter" />
            </div>

            <div class="column-wrapper">
                <div class="column">
                    <div class="form__input-group">
                        <form-select
                            :label="$t('addOffer.offerTypes')"
                            :id="'job-type'"
                            :value="offerType"
                            :update-value="val => (this.offerType = val)"
                            :options="
                                workTypes.map(workType => ({
                                    value: workType.type,
                                    text: this.$t(workType.translation),
                                }))
                            "
                            :placeholder="$t('addOffer.offerTypesPlaceholder')"
                        />
                    </div>

                    <div class="form__input-group">
                        <date-picker
                            :label="$t('addOffer.startsFrom')"
                            :id="`job-valid-until`"
                            :update-value="val => (this.startsFrom = val)"
                            :value="startsFrom"
                        />
                    </div>
                </div>

                <div class="column">
                    <div class="form__input-group">
                        <number-input
                            :label="$t('addOffer.salaryFrom')"
                            :id="'job-salary-from'"
                            :value="salaryFrom"
                            :update-value="val => (this.salaryFrom = val)"
                            :placeholder="$t('addOffer.salaryFromPlaceholder')"
                        />
                    </div>

                    <div class="form__input-group">
                        <number-input
                            :label="$t('addOffer.salaryTo')"
                            :id="'job-salary-to'"
                            :value="salaryTo"
                            :update-value="val => (this.salaryTo = val)"
                            :placeholder="$t('addOffer.salaryToPlaceholder')"
                        />
                    </div>
                </div>

                <loading v-if="isLoading" />
            </div>
        </section>

        <div class="offer__button-row">
            <button
                :aria-label="buttonText"
                @click="
                    onButtonClick({
                        data: {
                            title,
                            description,
                            miniDescription,
                            url,
                            companyName,
                            email,
                            startsFrom,
                            salaryFrom,
                            salaryTo,
                            destinations,
                            skills,
                            programmingLanguages: languages,
                            offerType,
                            logo,
                            language,
                        },
                    })
                "
                class="button button--green"
            >
                <span>{{ buttonText }}</span>
            </button>

            <component-response :component-name="$requestModules.OFFER_FORM" />
        </div>
    </form>
</template>

<script>
import { mapState } from 'vuex';
import stripTags from 'strip_tags';
import FormTextarea from '~/components/form/FormTextarea';
import FormSelect from '~/components/form/FormSelect';
import FormInput from '~/components/form/FormInput';
import NumberInput from '~/components/form/NumberInput';
import DatePicker from '~/components/form/DatePicker';
import FormFileButton from '~/components/form/FormFileButton';
import Loading from '~/components/Loading';
import WysiwygEditor from '~/components/WysiwygEditor';
import ComponentResponse from '~/components/form/response/ComponentResponse';
import { get } from '~/util/lodash';
import AutocompleteTagsInput from '~/components/form/AutocompleteTagsInput';
import {
    requestSkillsSuggestions,
    requestLanguageSuggestions,
    requestLocationsSuggestions,
    mapRemoteTag,
} from '~/util';
import { apiRecognisedTags } from '~/api/suggestions';

export default {
    name: 'OfferForm',
    components: {
        FormTextarea,
        FormSelect,
        DatePicker,
        FormFileButton,
        NumberInput,
        FormInput,
        Loading,
        WysiwygEditor,
        AutocompleteTagsInput,
        ComponentResponse,
    },
    data: function() {
        return {
            logo: null,
            title: this.getFromOfferData('title', ''),
            url: this.getFromOfferData('url', ''),
            companyName: this.getFromOfferData('companyName', ''),
            miniDescription: this.getFromOfferData('miniDescription', ''),
            startsFrom: this.getFromOfferData('startsFrom', ''),
            email: this.getFromOfferData('email', ''),
            offerType: this.getFromOfferData('offerType', ''),
            salaryFrom: this.getFromOfferData('salaryFrom', '0'),
            salaryTo: this.getFromOfferData('salaryTo', '0'),
            skills: this.getFromOfferData('skills', []),
            languages: this.getFromOfferData('programmingLanguages', []),
            destinations: this.getFromOfferData('destinations', []),
            fileName: this.getFromOfferData('logo', ''),
            language: this.getFromOfferData('language', ''),
            description: this.getFromOfferData(
                'description',
                `
<h2>
  Hi there,
</h2><br>
<p>
  Here you can <em>describe</em> the job, you <b>offer</b>.
</p><br>
<p>
  You can put
</p><br>
<ul>
  <li>
    A regular list
  </li>
  <li>
    With regular items
  </li>
</ul><br>
<ol>
  <li>or unordered</li>
</ol><br>
<a href="https://github.com">In order to make a link, select the text and a helper-bubble will appear</a><br>
<blockquote>
  Hopefully it is amazing 👏
</blockquote>
`,
            ),
        };
    },
    computed: {
        ...mapState({
            offerLanguages: state => state.search.offerLanguages,
            isLoading(state) {
                return get(
                    state,
                    [
                        'request',
                        'responses',
                        this.$requestModules.OFFER_FORM,
                        'isRequestLoading',
                    ],
                    false,
                );
            },
            workTypes: state => state.user.workTypes,
        }),
    },
    props: {
        buttonText: {
            type: String,
            default: '',
        },
        offerData: {
            type: Object,
            default: () => {},
        },
        offerHtmlDescription: {
            type: String,
            default: '',
        },
        onButtonClick: {
            type: Function,
            default: () => null,
        },
    },
    methods: {
        getFromOfferData(propName, defaultVal) {
            return this.offerData &&
                this.offerData.hasOwnProperty(propName) &&
                this.offerData[propName] !== null
                ? this.offerData[propName]
                : defaultVal;
        },
        handleSubmit(e) {
            e.preventDefault();
        },
        recogniseTags() {
            this.skills = [];
            this.languages = [];
            this.destinations = [];

            apiRecognisedTags({ query: stripTags(this.description) }).then(
                (result = {}) => {
                    const {
                        data: { tags = [] },
                    } = result;

                    tags.forEach(tag => {
                        const mapped = mapRemoteTag(tag);
                        if (this.hasOwnProperty(mapped.type))
                            this[mapped.type].push(mapped);
                    });
                },
            );
        },
        skillsSuggestions: requestSkillsSuggestions.bind(this),
        languageSuggestions: requestLanguageSuggestions.bind(this),
        locationsSuggestions: requestLocationsSuggestions.bind(this),
        uploadLogo(e) {
            const file = e.target.files[0];
            this.fileName = file.name;
            this.logo = file;
        },
    },
};
</script>

<style lang="scss">
.offer {
    &__form {
        position: relative;
        margin-bottom: $spacing * 8;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__button-row {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        margin-top: $spacing * 5;
        .button span {
            font-size: $font-size-l;
        }
    }
}

.form__group--recognise-tags {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    .recognise-tags__text {
        padding-left: $spacing;
    }
}
</style>
