<template>
    <div class="panel-container">
        <extended-panel />
        <hamburger-panel />
    </div>
</template>

<script>
import { hydrateWhenIdle } from 'vue-lazy-hydration';

export default {
    name: 'PanelContainer',
    components: {
        HamburgerPanel: hydrateWhenIdle(() => import('./modes/HamburgerPanel')),
        ExtendedPanel: hydrateWhenIdle(() => import('./modes/ExtendedPanel')),
    },
};
</script>

<style lang="scss">
.panel-container {
    height: 100%;

    .hamburger-panel {
        display: none;
    }

    @media screen and (max-width: $screen-tablet-large) {
        .extended-panel {
            display: none;
        }

        .hamburger-panel {
            display: block;
        }
    }
}
</style>
