<template>
    <main class="update-offer">
        <div class="headline">
            <h1>{{ $t('updateJob.title') }}</h1>
        </div>
        <div class="main-content aside__wrapper">
            <div class="aside-menu">
                <cabinet-menu
                    :get-menu-fn="getRecruiterMenu"
                    :current="$route.name"
                />
            </div>
            <div class="aside-content">
                <div v-if="offerData === null" class="preloader">
                    <loading />
                </div>
                <offer-form
                    v-else
                    :on-button-click="updateRecruiterOffer"
                    :button-text="$t('updateJob.button')"
                    :offer-data="offerData"
                />
            </div>
        </div>
    </main>
</template>

<script>
import { mapActions } from 'vuex';
import Loading from '~/components/Loading';
import OfferForm from '~/components/cabinet/recruiter/OfferForm';
import GET_OFFER from '~/api/apollo/offers/query/offerData.gql';
import { getTagsFromString, getRecruiterMenu } from '~/util';
import CabinetMenu from '~/components/cabinet/CabinetMenu';
import { property } from '~/util/lodash';

export default {
    middleware: 'authenticatedRecruiter',
    components: {
        OfferForm,
        Loading,
        CabinetMenu,
    },
    data: () => ({
        offerData: null,
        getRecruiterMenu,
    }),
    mounted() {
        this.$apollo
            .mutate({
                mutation: GET_OFFER,
                variables: { id: this.$route.params.id },
            })
            .then(property(['data', 'offer']))
            .then(offer => {
                const startsFromDate = new Date(offer.startsFrom);
                this.offerData = {
                    ...offer,
                    description: offer.htmlDescription,
                    startsFrom: startsFromDate.toISOString().slice(0, 10),
                    skills: getTagsFromString('skills', offer.skills),
                    programmingLanguages: getTagsFromString(
                        'languages',
                        offer.programmingLanguages,
                    ),
                    destinations: getTagsFromString(
                        'destinations',
                        offer.destinations,
                    ),
                };
            });
    },
    methods: {
        ...mapActions(['updateOffer']),
        updateRecruiterOffer({ data }) {
            this.updateOffer({
                data: {
                    ...data,
                    logo: data.logo ? data.logo : this.offerData.logo,
                },
                id: this.$route.params.id,
            });
        },
    },
};
</script>

<style>
.preloader {
    position: relative;
    min-height: 300px;
    height: 90vh;
}
</style>
