<template>
    <div role="combobox">
        <label :for="id" class="form__label">{{ label }}</label>
        <div
            class="tags__input-wrapper"
            :class="{
                'tags__input-wrapper--suggestions-opened':
                    suggestions.length > 0,
                'tags__input-wrapper--focused': focused,
            }"
        >
            <tags-list :removable="true" :keywords="tags" :onclick="onRemove" />
            <input
                type="text"
                ref="autocompleteInput"
                @input="e => oninput(e.target.value, setSsgs)"
                @keydown="inputKeyHandler"
                @focus="onFocus"
                @blur="onBlur"
                :id="id"
                class="form__input tags__input"
                :placeholder="inputplacholder"
                spellcheck="false"
                autocapitalize="none"
                autocomplete="off"
                autocorrect="off"
                aria-autocomplete="both"
                aria-expanded="true"
            />
        </div>
        <div class="form__input__suggestions" v-if="suggestions.length > 0">
            <suggestions-list
                :suggestions="suggestions"
                :selected="selectedSuggestion"
                :onenter="onEnterPress"
                :onssgclick="clickSsg"
                :selectnext="selectNext"
                :selectprev="selectPrev"
                :onhover="onSsgHover"
                :clickoutside="closeSuggestions"
            />
        </div>
    </div>
</template>

<script>
import TagsList from '~/components/common/TagsList';
import { curriedRemoveTag, curriedAddTag } from '~/util';
import { flow } from '~/util/lodash';
import SuggestionsList from '~/components/common/Suggestions/SuggestionsList';

export default {
    name: 'AutocompleteTagsInput',
    components: {
        TagsList,
        SuggestionsList,
    },
    props: {
        inputplacholder: {
            type: String,
            default: '',
        },
        label: {
            type: String,
            default: '',
        },
        id: {
            type: String,
            default: '',
        },
        tags: {
            type: Array,
            default: () => [],
        },
        oninput: {
            type: Function,
            default: null,
        },
        setTags: {
            type: Function,
            default: null,
        },
    },
    data: () => ({
        suggestions: [],
        selectedSuggestion: null,
        focused: false,
    }),
    methods: {
        onSsgHover(index) {
            this.selectedSuggestion = index;
        },
        closeSuggestions() {
            this.suggestions = [];
        },
        inputKeyHandler(e) {
            switch (e.which) {
                case 13: {
                    this.onEnterPress();
                    e.preventDefault();
                    break;
                }
                case 38: {
                    this.selectPrev();
                    e.preventDefault();
                    break;
                }
                case 40: {
                    this.selectNext();
                    e.preventDefault();
                    break;
                }
            }
        },
        onEnterPress() {
            this.onAdd(this.suggestions[this.selectedSuggestion]);
            this.$refs.autocompleteInput.value = '';
            this.$refs.autocompleteInput.focus();
            this.closeSuggestions();
        },
        clickSsg(index) {
            this.onAdd(this.suggestions[index]);
            this.$refs.autocompleteInput.value = '';
            this.$refs.autocompleteInput.focus();
            this.closeSuggestions();
        },
        selectNext() {
            let newSelectedSsg = 0;
            if (this.selectedSuggestion !== null) {
                newSelectedSsg =
                    this.selectedSuggestion === this.tags.length - 1
                        ? this.selectedSuggestion
                        : this.selectedSuggestion + 1;
            }
            this.selectedSuggestion = newSelectedSsg;
        },
        selectPrev() {
            if (this.selectedSuggestion === null) return;
            this.selectedSuggestion =
                this.selectedSuggestion > 0 ? this.selectedSuggestion - 1 : 0;
        },
        setSsgs(ssgs) {
            this.suggestions = ssgs;
        },
        onFocus() {
            this.focused = true;
        },
        onBlur() {
            this.focused = false;
        },
        onAdd(tag) {
            flow(
                curriedAddTag(this.tags),
                this.setTags,
            )(tag);
        },
        onRemove(index) {
            flow(
                curriedRemoveTag(this.tags),
                this.setTags,
            )(index);
        },
    },
};
</script>
