<template>
    <fieldset class="form__fieldset">
        <legend>{{ label }}</legend>
        <p
            v-if="clarification"
            class="secondary-text form__multi-inputs__clarification"
        >
            {{ clarification }}
        </p>
        <ul class="form__multi-inputs">
            <li v-for="(val, index) in values" :key="`${val}-${index}`">
                <form-input
                    :required="false"
                    :placeholder="index === 0 && placeholder ? placeholder : ''"
                    :id="`${id}.${val}`"
                    :value="val"
                    :type="type"
                    :min="min"
                    :max="max"
                    :update-value="newVal => updateSingleValue(index, newVal)"
                />
            </li>
            <li>
                <button
                    class="button--plus"
                    :aria-label="$t('aria.add')"
                    @click="addEmptyInput"
                />
            </li>
        </ul>
    </fieldset>
</template>

<script>
import FormInput from '~/components/form/FormInput';

export default {
    name: 'FormMultiInput',
    components: {
        FormInput,
    },
    props: {
        updateValue: {
            type: Function,
            default: () => null,
        },
        values: {
            type: Array,
            default: () => [''],
        },
        id: {
            type: String,
            default: '',
        },
        label: {
            type: String,
            default: '',
        },
        type: {
            type: String,
            default: null,
        },
        min: {
            type: Number,
            default: null,
        },
        max: {
            type: Number,
            default: null,
        },
        placeholder: {
            type: String,
            default: null,
        },
        clarification: {
            type: String,
            default: '',
        },
    },
    methods: {
        addEmptyInput() {
            const vals = this.values;
            vals.push('');
            this.updateValue(vals);
        },
        updateSingleValue(index, newVal) {
            const vals = this.values;
            vals[index] = newVal;
            this.updateValue(vals);
        },
    },
};
</script>

<style lang="scss">
.form__multi-inputs {
    padding: 0;
    display: flex;
    flex-wrap: wrap;

    li {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: $spacing * 19;
        padding-right: $spacing * 3;
        padding-bottom: $spacing * 3;
    }

    &__clarification {
        margin-bottom: $spacing * 3;
    }
}
</style>
