<template>
    <div>
        <label
            :for="id"
            class="form__label">{{ label }}</label>
        <select
            :id="id"
            class="form__select"
            :class="{ 'form__select--placeholder' : !value || value.length === 0 }"
            @change="e => updateValue(e.target.value)">
            <option
                v-if="placeholder.length"
                value=""
                disabled
                selected>
                {{ placeholder }}
            </option>
            <option
                v-for="option in options"
                :key="option.value"
                :selected="option.value === value"
                :value="option.value">
                {{ option.text }}
            </option>
        </select>
    </div>
</template>

<script>
export default {
    name: 'FormSelect',
    props: {
        updateValue: {
            type: Function,
            default: () => null
        },
        options: {
            type: Array,
            default: () => []
        },
        placeholder: {
            type: String,
            default: ''
        },
        value: {
            type: String,
            default: ''
        },
        id: {
            type: String,
            default: ''
        },
        label: {
            type: String,
            default: ''
        },
    }
};
</script>
