<template>
    <div>
        <label
            :for="id"
            v-if="label"
            class="form__label"
            :class="{ 'tooltip form__label--required': required }"
        >
            {{ label }}
            <span class="tooltip__text tooltip__text--right" v-if="required">
                {{ $t('required') }}
            </span>
        </label>
        <input
            :type="type"
            :value="value"
            :min="min"
            :max="max"
            @input="e => updateValue(e.target.value)"
            :placeholder="placeholder"
            :id="id"
            class="form__input"
        />
    </div>
</template>

<script>
export default {
    name: 'FormInput',
    props: {
        updateValue: {
            type: Function,
            default: () => null,
        },
        required: {
            type: Boolean,
            default: false,
        },
        value: {
            type: String,
            default: '',
        },
        min: {
            type: Number,
            default: null,
        },
        max: {
            type: Number,
            default: null,
        },
        placeholder: {
            type: String,
            default: '',
        },
        id: {
            type: String,
            default: '',
        },
        type: {
            type: String,
            default: 'text',
        },
        label: {
            type: String,
            default: '',
        },
    },
};
</script>
