<template>
    <fieldset class="form__fieldset">
        <legend>{{ label }}</legend>
        <div class="form__checkbox-list">
            <div
                v-for="option in options"
                :key="option"
                class="form__checkbox-group tag__button"
                :class="{
                    'tag__button--active-checkbox': values.includes(
                        option.toLowerCase(),
                    ),
                }"
            >
                <label :for="`${id}.${option}`">{{ option }}</label>
                <input
                    type="checkbox"
                    :id="`${id}.${option}`"
                    :checked="values.includes(option.toLowerCase())"
                    :name="id"
                    :value="option"
                    @click="_ => toggleDay(option.toLowerCase())"
                />
            </div>
        </div>
    </fieldset>
</template>

<script>
export default {
    name: 'FormCheckboxList',
    props: {
        updateValue: {
            type: Function,
            default: () => null,
        },
        options: {
            type: Array,
            default: () => [],
        },
        values: {
            type: Array,
            default: () => [],
        },
        id: {
            type: String,
            default: '',
        },
        label: {
            type: String,
            default: '',
        },
    },
    methods: {
        toggleDay(weekDay) {
            const option = weekDay.toLowerCase();

            if (this.values.includes(option)) {
                const index = this.values.findIndex(val => val === option);
                const current = this.values.slice();
                current.splice(index, 1);
                this.updateValue(current);
            } else {
                const selected = this.values.slice();
                selected.push(option);
                this.updateValue(selected);
            }
        },
    },
};
</script>

<style lang="scss">
.form__checkbox {
    &-group {
        input {
            display: none;
        }
    }

    &-list {
        display: flex;
        flex-direction: row;
    }
}
</style>
