<template>
    <div
        class="form__button-wrapper"
        :class="{
            'form__button-wrapper--uploaded':
                tempFileName.length === 0 && fileName.length !== 0,
        }"
    >
        <span
            class="upload-status secondary-text"
            v-if="fileName.length === 0 && tempFileName.length === 0"
        >
            {{ emptyText }}
        </span>
        <span class="upload-status secondary-text" v-else-if="tempFileName">
            {{ tempFileName }}
        </span>
        <img
            class="uploaded-logo lazyload"
            v-else-if="fileName.length !== 0"
            :alt="altText"
            :title="altText"
            :data-src="$storageFile(fileName)"
        />

        <div class="upload-button__wrapper">
            <button
                :aria-label="buttonLabel"
                class="button button--blue upload-button form__button"
            >
                <span class="upload-button-text">
                    {{ buttonLabel }}
                </span>
            </button>

            <input :name="inputName" type="file" @change="onUpload" />
        </div>
    </div>
</template>

<script>
export default {
    name: 'FormFileButton',
    props: {
        buttonClasses: {
            type: String,
            default: '',
        },
        emptyText: {
            type: String,
            default: '',
        },
        buttonLabel: {
            type: String,
            default: '',
        },
        altText: {
            type: String,
            default: '',
        },
        fileName: {
            type: String,
            default: '',
        },
        tempFileName: {
            type: String,
            default: '',
        },
        onUpload: {
            type: Function,
            default: () => null,
        },
        inputName: {
            type: String,
            default: '',
        },
    },
};
</script>

<style lang="scss">
.upload-status {
    display: inline-block;
    padding-right: $spacing * 4;
    color: $text-color-grey;
    text-align: left;
    width: 100%;
    max-width: 250px;
    text-overflow: ellipsis;
    overflow: hidden;
    .page--rtl & {
        text-align: right;
    }
}
.upload-button {
    min-width: 240px;
    @media screen and (max-width: $screen-tablet-large) {
        min-width: unset;
    }
}
.uploaded-logo {
    max-height: 70px;
    margin: -30px auto 0;
}
</style>
