<template>
    <div>
        <label
            :for="id"
            class="form__label">{{ label }}</label>
        <textarea
            :placeholder="placeholder"
            :id="id"
            @input="e => updateValue(e.target.value)"
            class="form__textarea"
            :rows="rows"
            :value="value"/>
    </div>
</template>

<script>
export default {
    name: 'FormTextarea',
    props: {
        updateValue: {
            type: Function,
            default: () => null
        },
        rows: {
            type: Number,
            default: 3
        },
        value: {
            type: String,
            default: ''
        },
        placeholder: {
            type: String,
            default: ''
        },
        id: {
            type: String,
            default: ''
        },
        label: {
            type: String,
            default: ''
        },
    }
};
</script>
