<template>
    <div class="form__button-wrapper">
        <span class="upload-status secondary-text">
            {{ text }}
        </span>

        <div class="upload-button__wrapper">
            <button
                :aria-label="buttonLabel"
                class="button form__button"
                @click="onClick"
            >
                <span>
                    {{ buttonLabel }}
                </span>
            </button>
        </div>
    </div>
</template>

<script>
export default {
    name: 'FormFileButton',
    props: {
        text: {
            type: String,
            default: '',
        },
        buttonLabel: {
            type: String,
            default: '',
        },
        onClick: {
            type: Function,
            default: () => null,
        },
    },
};
</script>

<style lang="scss">
.form__button-wrapper {
    .upload-status {
        display: inline-block;
        padding-right: $spacing * 4;
        color: $text-color-grey;
        text-align: left;
        width: 100%;
        .page--rtl & {
            text-align: right;
        }
    }
    .button {
        @media screen and (min-width: $screen-tablet-large) {
            min-width: 220px;
        }
    }
    .uploaded-logo {
        max-height: 70px;
        margin: -30px auto 0;
    }
}
</style>
