<template>
    <div>
        <label
            :for="id"
            class="form__label">{{ label }}</label>
        <input
            type="number"
            :value="value"
            @input="e => updateValue(e.target.value)"
            :placeholder="placeholder"
            :id="id"
            class="form__input">
    </div>
</template>

<script>
export default {
    name: 'NumberInput',
    props: {
        updateValue: {
            type: Function,
            default: () => null
        },
        value: {
            type: [String, Number],
            default: '0'
        },
        placeholder: {
            type: String,
            default: ''
        },
        id: {
            type: String,
            default: ''
        },
        label: {
            type: String,
            default: ''
        },
    }
};
</script>
