<template>
    <main class="main-content">
        <section class="text-page block">
            <div class="heading">
                <h1>{{ $t('impressum.title') }}</h1>
                <hr class="delimeter heading-delimeter">
            </div>
            <p v-html="$t('impressum.text')"/>
        </section>
    </main>
</template>

<script>
export default {
    head() {
        return {
            title: this.$t('seo.impressum.title'),
            meta: [
                {
                    hid: 'keywords',
                    name: 'keywords',
                    content: `${this.$t('seo.impressum.keywords')}}`,
                },
                {
                    hid: 'description',
                    name: 'description',
                    content: `${this.$t('seo.impressum.description')}`,
                },
                {
                    hid: `og:title`,
                    property: 'og:title',
                    content: this.$t('seo.impressum.title'),
                },
                {
                    hid: `og:description`,
                    property: 'og:description',
                    content: this.$t('seo.impressum.description')
                }
            ],
        };
    },
};
</script>
