<template>
    <main class="main-content">
        <section class="text-page block">
            <div class="heading">
                <h1>{{ $t('privacy.title') }}</h1>
                <hr class="delimeter heading-delimeter">
            </div>
            <multi-lang-text-page
                :locale="$i18n.locale"
                :page="`privacy-policy`"/>
        </section>
    </main>
</template>

<script>
import MultiLangTextPage from '~/components/MultiLangTextPage.vue';

export default {
    head() {
        return {
            title: this.$t('seo.privacyPolicy.title'),
            meta: [
                {
                    hid: 'keywords',
                    name: 'keywords',
                    content: `${this.$t('seo.privacyPolicy.keywords')}}`,
                },
                {
                    hid: 'description',
                    name: 'description',
                    content: `${this.$t('seo.privacyPolicy.description')}`,
                },
                {
                    hid: `og:title`,
                    property: 'og:title',
                    content: this.$t('seo.privacyPolicy.title'),
                },
                {
                    hid: `og:description`,
                    property: 'og:description',
                    content: this.$t('seo.privacyPolicy.description')
                }
            ],
        };
    },
    components: {
        MultiLangTextPage,
    },
};
</script>
