<template>
    <main>
        <div class="headline">
            <h1>{{ $t('relevantOffers.title') }}</h1>
        </div>
        <div class="main-content aside__wrapper">
            <div class="aside-menu">
                <cabinet-menu
                    :get-menu-fn="getUserMenu"
                    :current="$route.name"
                />
            </div>
            <div class="aside-content">
                <div class="block">
                    <span class="secondary-text">
                        {{ $t('relevantOffers.pageDescription') }}
                    </span>
                    <p
                        v-if="hasEmptyProfile"
                        class="relevant-offers-empty-profile"
                    >
                        <nuxt-link
                            :to="localePath({ name: 'cabinet-profile' })"
                        >
                            {{ $t('relevantOffers.emptyProfileLink') }}
                        </nuxt-link>
                        {{ $t('relevantOffers.emptyProfile') }}
                    </p>
                </div>
                <search-list v-if="offersNumber > 0" :offers="offers" />
                <div class="block" v-else-if="!isRequestLoading">
                    <span class="main-text">
                        {{ $t('relevantOffers.notFound') }}
                    </span>
                </div>
                <loading v-if="isRequestLoading" />
                <pagination
                    v-if="offersNumber > 0"
                    :is-loading="isRequestLoading"
                    :current-page="page"
                    :page-size="pageSize"
                    :list-length="offersNumber"
                    :on-click="changePage"
                    :route-params-fn="getRelevantOffersPath"
                />
            </div>
        </div>
    </main>
</template>

<script>
import { mapActions, mapState } from 'vuex';
import CabinetMenu from '~/components/cabinet/CabinetMenu';
import SearchList from '~/components/offers-list/SearchList';
import Loading from '~/components/Loading';
import Pagination from '~/components/common/Pagination';
import { getUserMenu } from '~/util';
import { get, isNull, property } from '~/util/lodash';

export default {
    middleware: 'authenticatedUser',
    components: {
        CabinetMenu,
        SearchList,
        Loading,
        Pagination,
    },
    data: function() {
        return {
            getUserMenu,
            page:
                parseInt(this.$route.params.page, 10) > 1
                    ? parseInt(this.$route.params.page, 10)
                    : 1,
            pageSize: 15,
        };
    },
    watch: {
        token(val) {
            // we need to wait until token will be available on frontend side before request
            if (val) {
                this.applicantProfileSearch({
                    pageSize: this.pageSize,
                    page: this.page,
                });
            }
        },
    },
    mounted() {
        if (!this.hasEmptyProfile) {
            this.applicantProfileSearch({
                pageSize: this.pageSize,
                page: this.page,
            });
        }
    },
    computed: {
        ...mapState({
            offers: property(['applicantCabinet', 'offers']),
            offersNumber: property(['applicantCabinet', 'offersNumber']),
            token: property(['user', 'token']),
            hasEmptyProfile(state) {
                const userData = get(state, ['user', 'userData'], {});

                if (isNull(userData)) {
                    return false;
                }

                const {
                    file = null,
                    titles = [],
                    skills = [],
                    programmingLanguages = [],
                    locations = [],
                } = userData;
                return (
                    (!file || file.length === '') &&
                    ![titles, skills, programmingLanguages, locations].some(
                        tags => tags && tags.length > 0,
                    )
                );
            },
            isRequestLoading(state) {
                return get(
                    state,
                    [
                        'request',
                        'responses',
                        this.$requestModules.RELEVANT_OFFERS,
                        'isRequestLoading',
                    ],
                    true,
                );
            },
        }),
    },
    methods: {
        ...mapActions(['applicantProfileSearch']),
        changePage(newPageIndex) {
            this.page = newPageIndex;
            this.applicantProfileSearch({
                pageSize: this.pageSize,
                page: this.page,
            });
        },
        getRelevantOffersPath(pageIndex) {
            const routeParams = {
                name:
                    `cabinet-relevant-offers` +
                    `${pageIndex > 1 ? '-page' : ''}`,
            };
            const pageParams = {};

            if (pageIndex > 1) pageParams.page = pageIndex;
            routeParams.params = pageParams;
            return this.localePath(routeParams, this.$i18n.locale);
        },
    },
};
</script>

<style lang="scss">
.relevant-offers-empty-profile {
    padding-top: $spacing * 2;
}
</style>
