<template>
    <section class="save-search block block--divided">
        <div class="heading heading--grey">
            <h2 class="auth__title">{{ $t('saveSearch.popoverTitle') }}</h2>
            <p class="auth__heading-text secondary-text">
                {{ $t('saveSearch.saveSearchSubtitle') }}
            </p>
        </div>
        <div class="block-content">
            <p>{{ $t('saveSearch.saveSearchPopoverText') }}</p>
        </div>
        <loading v-if="isLoading" />
        <component-response :component-name="$requestModules.SAVE_SEARCH" />
        <button
            :aria-label="$t('saveSearch.submitUser')"
            class="button button--blue ending"
            @click="formSubmit"
        >
            <span>{{ $t('saveSearch.submitUser') }}</span>
        </button>
    </section>
</template>

<script>
import { mapState, mapActions } from 'vuex';
import ComponentResponse from '~/components/form/response/ComponentResponse';
import Loading from '~/components/Loading';
import { get } from '~/util/lodash';

export default {
    name: 'SaveSearchAuthenticatedPopover',
    components: {
        ComponentResponse,
        Loading,
    },
    computed: {
        ...mapState({
            isLoading(state) {
                return get(
                    state,
                    [
                        'request',
                        'responses',
                        this.$requestModules.SAVE_SEARCH,
                        'isRequestLoading',
                    ],
                    false,
                );
            },
            query: state => state.search.query,
            token: state => state.user.token,
        }),
    },
    methods: {
        ...mapActions(['saveSearch']),
        formSubmit(e) {
            e.preventDefault();
            this.saveSearch({ query: this.query, analyticsModule: this.$ga });
        },
    },
};
</script>
