<template>
    <section class="save-search block block--divided">
        <div class="heading heading--grey">
            <h2 class="auth__title">
                {{ $t('saveSearch.successPopoverTitle') }}
            </h2>
        </div>
        <div class="block-content">
            <p>{{ $t('saveSearch.successPopoverText') }}</p>
        </div>
        <nuxt-link :to="localePath({ name: 'cabinet-saved-searches' })">
            <button
                :aria-label="$t('saveSearch.manageSchedule')"
                class="button button--blue ending"
            >
                <span>{{ $t('saveSearch.manageSchedule') }}</span>
            </button>
        </nuxt-link>
    </section>
</template>

<script>
export default {
    name: 'SaveSearchSuccessPopover',
};
</script>
