<template>
    <section class="save-search block block--divided">
        <div class="heading heading--grey">
            <h2 class="auth__title">{{ $t('saveSearch.popoverTitle') }}</h2>
            <p class="auth__heading-text secondary-text">
                {{ $t('saveSearch.popoverSubtitle') }}
            </p>
        </div>
        <form class="form">
            <div class="form__input-group">
                <label for="auth__email" class="form__label">{{
                    $t('header.email')
                }}</label>
                <input
                    type="email"
                    ref="saveSearchEmail"
                    id="auth__email"
                    class="form__input"
                />
            </div>
            <div class="form__hint">
                {{ $t('saveSearch.popoverText') }}
            </div>
            <component-response :component-name="$requestModules.SAVE_SEARCH" />
        </form>
        <button
            :aria-label="$t('saveSearch.submitNewcomer')"
            class="button button--blue ending"
            @click="formSubmit"
        >
            <span>{{ $t('saveSearch.submitNewcomer') }}</span>
        </button>
        <loading v-if="isLoading" />
    </section>
</template>

<script>
import { mapState, mapActions } from 'vuex';
import ComponentResponse from '~/components/form/response/ComponentResponse';
import Loading from '~/components/Loading';
import { get } from '~/util/lodash';

export default {
    name: 'SaveSearchNewcomerPopover',
    components: {
        ComponentResponse,
        Loading,
    },
    computed: {
        ...mapState({
            isLoading(state) {
                return get(
                    state,
                    [
                        'request',
                        'responses',
                        this.$requestModules.SAVE_SEARCH,
                        'isRequestLoading',
                    ],
                    false,
                );
            },
            query: state => state.search.query,
            keywords: state => state.search.keywords,
        }),
    },
    methods: {
        ...mapActions(['saveSearchAndAddNewcomer']),
        formSubmit(e) {
            e.preventDefault();
            this.saveSearchAndAddNewcomer({
                query: this.query,
                email: this.$refs.saveSearchEmail.value,
                analyticsModule: this.$ga,
            });
        },
    },
};
</script>
