<template>
    <section class="save-search block block--divided">
        <div class="heading heading--grey">
            <h2 class="auth__title">{{ $t('saveSearch.popoverTitle') }}</h2>
            <p class="auth__heading-text secondary-text">
                {{ $t('saveSearch.saveSearchSubtitle') }}
            </p>
        </div>
        <div class="block-content">
            <p>{{ $t('saveSearch.saveSearchNoQuery') }}</p>
        </div>
    </section>
</template>


<script>
export default {
    name: 'SaveSearchNoQueryPopover',
};
</script>
