<template>
    <main>
        <div class="headline">
            <h1>{{ $t('savedSearches.title') }}</h1>
        </div>
        <div class="saved-searches main-content aside__wrapper">
            <div class="aside-menu">
                <cabinet-menu
                    :get-menu-fn="getUserMenu"
                    :current="$route.name"
                />
            </div>
            <div class="aside-content">
                <div class="block">
                    <span class="secondary-text">
                        {{ $t('savedSearches.pageDescription') }}
                    </span>
                    <p
                        v-if="isNoSearches"
                        class="main-text empty-saved-searches"
                    >
                        {{ $t('savedSearches.emptySearches') }}
                        <nuxt-link
                            :to="
                                localePath({
                                    name: 'search-query',
                                    params: { query: 'developer' },
                                })
                            "
                        >
                            {{ $t('savedSearches.emptySearchesLink') }}
                        </nuxt-link>
                    </p>
                </div>
                <save-searches-list
                    v-if="!isNoSearches"
                    :searches="userSearches"
                />
            </div>
        </div>
    </main>
</template>

<script>
import { mapState } from 'vuex';
import CabinetMenu from '~/components/cabinet/CabinetMenu';
import SaveSearchesList from '~/components/save-search/cabinet/SaveSearchesList';
import { getUserMenu } from '~/util';
import { property } from '~/util/lodash';

export default {
    middleware: 'authenticatedUser',
    components: {
        CabinetMenu,
        SaveSearchesList,
    },
    data: function() {
        return {
            getUserMenu,
            isNoSearches: false,
        };
    },
    computed: {
        ...mapState({
            userSearches: property(['user', 'savedSearches']),
        }),
    },
    watch: {
        userSearches(val) {
            this.isNoSearches = !val || val.length === 0;
        },
    },
};
</script>

<style lang="scss">
.empty-saved-searches {
    padding-top: $spacing * 2;
}
</style>
