<template>
    <div class="block broad-pagination">
        <nuxt-link
            v-if="prevPageLink !== null"
            :to="prevPageLink"
            :disabled="isLoading"
        >
            <span
                class="broad-pagination__back"
                @click="e => linkClick(currentPage - 1)(e)"
            />
        </nuxt-link>
        <span v-else class="broad-pagination__back" />
        <ul class="broad-pagination" v-if="listLength > 0">
            <template v-for="page in pagesList">
                <nuxt-link
                    :key="page.index"
                    :to="page.url"
                    class="broad-pagination__page-link"
                    :disabled="isLoading || page.index === currentPage"
                >
                    <li
                        class="broad-pagination__page"
                        :class="{
                            'broad-pagination__page--current':
                                page.index === currentPage,
                            'broad-pagination__page--active':
                                page.index !== currentPage,
                        }"
                        @click="e => linkClick(page)(e)"
                    >
                        <span>{{ page.index }}</span>
                    </li>
                </nuxt-link>
            </template>
        </ul>
        <nuxt-link
            v-if="nextPageLink !== null"
            :to="nextPageLink"
            :disabled="isLoading"
        >
            <span
                class="broad-pagination__next"
                @click="e => linkClick(currentPage + 1)(e)"
            />
        </nuxt-link>
        <span v-else class="broad-pagination__next" />
    </div>
</template>

<script>
export default {
    name: 'DesktopPagination',
    props: {
        isLoading: {
            type: Boolean,
            default: false,
        },
        currentPage: {
            type: Number,
            default: 1,
        },
        pageSize: {
            type: Number,
            default: 15,
        },
        routeParamsFn: {
            type: Function,
            default: () => {},
        },
        listLength: {
            type: Number,
            default: 0,
        },
        onClick: {
            type: Function,
            default: () => null,
        },
    },
    data: function() {
        const pages = this.getPages(
            this.currentPage,
            this.pageSize,
            this.listLength,
            10,
        );
        return {
            ...pages,
            maxPages: 10,
        };
    },
    watch: {
        currentPage(val) {
            this.applyToState(
                this.getPages(val, this.pageSize, this.listLength),
            );
        },
        pageSize(val) {
            this.applyToState(
                this.getPages(this.currentPage, val, this.listLength),
            );
        },
        listLength(val) {
            this.applyToState(
                this.getPages(this.currentPage, this.pageSize, val),
            );
        },
    },
    mounted() {
        window.addEventListener('resize', this.resized);
        this.maxPages = !this.$viewport.isMobile(document.body.clientWidth)
            ? 10
            : 5;
        this.applyToState(
            this.getPages(this.currentPage, this.pageSize, this.listLength),
        );
    },
    methods: {
        resized() {
            this.maxPages = this.$viewport.isDesktop(document.body.clientWidth)
                ? 10
                : 5;
            this.applyToState(
                this.getPages(this.currentPage, this.pageSize, this.listLength),
            );
        },
        getPaginationLinkPath(pageIndex) {
            return this.routeParamsFn(pageIndex);
        },
        getPages(currentPage, pageSize, listLength, maxPages = 10) {
            const pagesNumber = Math.ceil(listLength / pageSize);
            const halfOfMaxShowPages = Math.ceil(maxPages / 2);
            let pages = {};
            if (currentPage <= halfOfMaxShowPages) {
                pages = {
                    start: 1,
                    end: pagesNumber > maxPages ? maxPages : pagesNumber,
                };
            } else if (pagesNumber - currentPage < halfOfMaxShowPages) {
                pages = {
                    start:
                        pagesNumber >= maxPages
                            ? pagesNumber - (maxPages - 1)
                            : 1,
                    end: pagesNumber,
                };
            } else {
                pages = {
                    start: currentPage - halfOfMaxShowPages - 1,
                    end: currentPage + (halfOfMaxShowPages - 1),
                };
            }

            const result = {};
            result.pagesList = [];

            pages.start = Math.max(pages.start, 1);

            for (
                let pageIndex = pages.start;
                pageIndex <= pages.end;
                pageIndex++
            ) {
                result.pagesList.push({
                    index: pageIndex,
                    url: this.getPaginationLinkPath(pageIndex),
                });
            }

            result.prevPageLink =
                this.currentPage > 1
                    ? this.getPaginationLinkPath(this.currentPage - 1)
                    : null;

            result.nextPageLink =
                pages.end - this.currentPage >= 1
                    ? this.getPaginationLinkPath(this.currentPage + 1)
                    : null;

            return result;
        },
        applyToState({ pagesList, prevPageLink, nextPageLink }) {
            this.pagesList = pagesList;
            this.prevPageLink = prevPageLink;
            this.nextPageLink = nextPageLink;
        },
        linkClick(page) {
            return e => {
                e.stopPropagation();
                e.preventDefault();
                if (page.index !== this.currentPage) {
                    this.onClick(page.index);
                }
            };
        },
    },
};
</script>

<style lang="scss">
.broad-pagination {
    padding: ($spacing * 2) ($spacing * 9);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: $screen-tablet-large) {
        padding: 0 $spacing * 5;
    }

    &__page {
        display: inline-block;
        padding: $spacing 0.5em;
        min-width: $spacing * 8;
        text-align: center;

        &--active:hover {
            color: $color-black;
            background-color: $color-white;
            border: 1px $color-dark-grey solid;
            cursor: pointer;
            @include border-radius($border-radius);
            @include outline(4px);
            @include transition(background-color 0.1s ease-out);
            box-shadow: 0 0 3px rgba(95, 99, 104, 0.8);
            @include transition(box-shadow 0.1s ease-in);
            &:active {
                background-color: $color-light-grey;
                box-shadow: 0 0 0;
            }
        }
        &-link {
            text-decoration: none;
            margin: 0 $spacing * 4;
            color: $color-black;
            font-size: $font-size-m;
            @media screen and (max-width: $screen-tablet-large) {
                margin: 0 $spacing;
            }
        }
        &--current {
            @include border-radius($border-radius);
            background-color: $background-color-black;
            color: white;
            border: 1px $color-white solid;
            cursor: default;
        }
    }
    &__back,
    &__next {
        height: 20px;
        width: 20px;
        cursor: pointer;
        display: inline-block;

        .page--rtl & {
            transform: scaleX(-1);
        }
    }

    &__back {
        background-image: url('/svg/arrow_back.svg');
    }

    &__next {
        background-image: url('/svg/arrow_next.svg');
    }
}
</style>
