<template>
    <div class="pagination">
        <desktop-pagination
            :is-loading="isLoading"
            :current-page="currentPage"
            :page-size="pageSize"
            :route-params-fn="routeParamsFn"
            :list-length="listLength"
            :on-click="onClick"/>
        <mobile-pagination
            :is-loading="isLoading"
            :current-page="currentPage"
            :page-size="pageSize"
            :route-params-fn="routeParamsFn"
            :list-length="listLength"
            :on-click="onClick"/>
    </div>
</template>

<script>
import DesktopPagination from './DesktopPagination';
import MobilePagination from './MobilePagination';

export default {
    name: 'Pagination',
    components: {
        DesktopPagination,
        MobilePagination
    },
    props: {
        isLoading: {
            type: Boolean,
            default: false,
        },
        currentPage: {
            type: Number,
            default: 1
        },
        pageSize: {
            type: Number,
            default: 15
        },
        routeParamsFn: {
            type: Function,
            default: () => {}
        },
        listLength: {
            type: Number,
            default: 0
        },
        onClick: {
            type: Function,
            default: () => null
        }
    },
};
</script>

<style lang="scss">
    .pagination {
        margin: $spacing * 10 0;

        .narrow-pagination {
            display: none;
        }

        @media screen and (max-width: $screen-tablet-large) {
            .broad-pagination {
                display: none;
            }

            .narrow-pagination {
                display: block;
            }
        }
    }
</style>
