<template>
    <div class="narrow-pagination">
        <show-more
            :on-click="showMoreClick.bind(this)"
            :text="$t('showMore')"
        />
    </div>
</template>

<script>
import ShowMore from '~/components/common/Buttons/ShowMore';
export default {
    name: 'MobilePagination',
    components: {
        ShowMore,
    },
    props: {
        isLoading: {
            type: Boolean,
            default: false,
        },
        currentPage: {
            type: Number,
            default: 1,
        },
        pageSize: {
            type: Number,
            default: 15,
        },
        routeParamsFn: {
            type: Function,
            default: () => {},
        },
        listLength: {
            type: Number,
            default: 0,
        },
        onClick: {
            type: Function,
            default: () => null,
        },
    },
    methods: {
        isLastPage() {
            const pagesNumber = Math.ceil(this.listLength / this.pageSize);
            return pagesNumber === this.currentPage;
        },
        showMoreClick(e) {
            e.stopPropagation();
            e.preventDefault();
            this.onClick(this.currentPage + 1);
        },
    },
};
</script>

<style lang="scss">
.narrow-pagination__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    .button {
        max-width: none;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        &:before {
            content: url('/svg/chevron_down.svg');
            left: 20px;
            position: absolute;
            top: 12px;
        }

        span {
            font-size: $font-size-xl;
        }
    }
}
</style>
