<template>
    <div class="main-content"></div>
</template>
<script>
import { mapState } from 'vuex';
import { property } from '~/util/lodash';

export default {
    head() {
        return {
            title: this.$t('seo.offerNotFound.title'),
        };
    },
    computed: {
        ...mapState({
            notFoundTitle: property(['offerNotFound', 'title']),
            substituteOffers: property(['offerNotFound', 'substituteOffers']),
        }),
    },
    fetch({ params, error }) {
        const title = params.title || '';
        error({ offerCode: title, statusCode: 410 });
    },
};
</script>
