<template>
    <div class="accordion" :class="{ 'accordion--open': open }">
        <slot name="component">-</slot>
    </div>
</template>

<script>
export default {
    name: 'Accordeon',
    props: {
        open: {
            type: Boolean,
            default: false,
        },
    },
};
</script>

<style lang="scss">
.accordion {
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height 0.55s;
    -o-transition: max-height 0.55s;
    transition: max-height 0.55s;

    .block {
        margin: 0;
        @include border-radius(0);

        .heading,
        .ending {
            @include border-radius(0);
        }
    }

    &--open {
        border-top: $narrow-border;
        max-height: 300vh;
    }
}
</style>
