<template>
    <ul :class="cssClass">
        <template v-for="locale in $i18n.locales">
            <li
                :key="locale.code"
                class="language"
                :class="[
                    locale.code === $i18n.locale ? 'language--active' : '',
                    `language-${locale.code}`,
                ]"
            >
                <a rel="nofollow" :href="getLocalePath(locale.code)">
                    {{ locale.name }}
                </a>
            </li>
        </template>
    </ul>
</template>

<script>
export default {
    name: 'LanguagesList',
    props: {
        cssClass: {
            type: String,
            default: '',
        },
    },
    methods: {
        getLocalePath(code) {
            if (process.env.NODE_ENV === 'production') {
                if (code === 'de') {
                    return 'https://clusterjobs.de';
                } else {
                    return `https://${code}.clusterjobs.de`;
                }
            } else {
                return this.switchLocalePath(code);
            }
        },
    },
};
</script>
