<template>
    <nuxt-link :to="getSearchLink(linkQuery)">
        <span
            @click="e => linkClick(e, linkQuery)"
            class="link-to-search js-link-to-search"
        >
            <template v-if="text">
                {{ text }}
            </template>
            <template v-else>
                {{ linkQuery }}
            </template>
        </span>
    </nuxt-link>
</template>

<script>
import { mapActions } from 'vuex';
import { getSearchRoutePathParams } from '~/store/search/utils';

export default {
    name: 'LinkToSearchPage',
    props: {
        linkQuery: {
            type: String,
            default: '',
        },
        text: {
            type: String,
            default: null,
        },
    },
    methods: {
        ...mapActions(['search']),
        getSearchLink(text) {
            const routeParams = getSearchRoutePathParams('search-query');
            routeParams.params.query = text;

            try {
                return this.localePath(routeParams, this.$i18n.locale);
            } catch (e) {
                return this.localePath(routeParams, 'de');
            }
        },
        linkClick(e, linkText) {
            e.stopPropagation();
            e.preventDefault();
            this.search({
                query: linkText,
                page: 1,
                analyticsModule: this.$ga,
            });
        },
    },
};
</script>
