<template>
    <nuxt-link :to="getSearchLink()">
        <span
            @click="e => linkClick(e)"
            class="link-to-search js-link-to-search"
        >
            <template v-if="!isFull && programming">
                {{ programming }}
            </template>
            <template v-else-if="programming">
                {{
                    $t('popularQueries.linkText', {
                        programming: programming,
                        location: location,
                    })
                }}
            </template>
            <template v-else>
                {{ location }}
            </template>
        </span>
    </nuxt-link>
</template>

<script>
import { mapActions } from 'vuex';
import { getSearchRoutePathParams } from '~/store/search/utils';

export default {
    name: 'LinkToSeoSearchPage',
    props: {
        code: {
            type: String,
            default: '',
        },
        programming: {
            type: String,
            default: '',
        },
        isFull: {
            type: Boolean,
            default: true,
        },
        location: {
            type: String,
            default: '',
        },
    },
    computed: {
        routeParams() {
            const routeParams = getSearchRoutePathParams('search-popular-code');
            routeParams.params.code = this.code;
            return routeParams;
        },
    },
    methods: {
        ...mapActions(['search']),
        getSearchLink() {
            try {
                return this.localePath(this.routeParams, this.$i18n.locale);
            } catch (e) {
                return this.localePath(this.routeParams, 'de');
            }
        },
        linkClick(e) {
            e.stopPropagation();
            e.preventDefault();
            this.search({
                query: `${this.programming || ''} ${this.location ||
                    ''}`.trim(),
                page: 1,
                route: this.routeParams,
                analyticsModule: this.$ga,
            });
        },
    },
};
</script>
