<template>
    <button
        v-if="clickable"
        :aria-label="$t('aria.removeTag')"
        @mousedown="onclick(index)"
        @touchstart="onclick(index)"
        :class="classes"
        class="tag__button">
        <span>{{ text }}</span>
    </button>
    <div
        v-else
        :class="classes"
        class="tag__button">
        <span>{{ text }}</span>
    </div>
</template>

<script>
export default {
    name: 'Tag',
    props: {
        onclick: {
            type: Function,
            default: () => null,
        },
        clickable: {
            type: Boolean,
            default: false,
        },
        index: {
            type: Number,
            default: 0,
        },
        text: {
            type: String,
            default: '',
        },
        classes: {
            type: String,
            default: '',
        },
    },
};
</script>
