<template>
    <div class="tags" :class="classes">
        <span class="tags-label" v-if="label && !isInlineLabel">
            {{ label }}
        </span>
        <ul class="tags-list" :itemprop="itemprop">
            <li v-if="label && isInlineLabel">
                <span class="tags-label">
                    {{ label }}
                </span>
            </li>
            <template v-for="(keyword, index) in keywords">
                <li :key="index" v-if="keyword && keyword.text && keyword.type">
                    <tag
                        :onclick="onclick"
                        :clickable="removable"
                        :index="index"
                        :classes="
                            `
              tag tag__button--${keyword.type}
              ${removable ? 'tag--removable' : 'tag__button--inactive'}
              ${
                  hasHighlighting && !keyword.highlight
                      ? 'tag--no-highlight'
                      : ''
              }
            `
                        "
                        :text="keyword.text"
                    />
                </li>
            </template>
        </ul>
    </div>
</template>

<script>
import Tag from './Tag.vue';
export default {
    name: 'TagsList',
    components: {
        Tag,
    },
    props: {
        isInlineLabel: {
            type: Boolean,
            default: false,
        },
        hasHighlighting: {
            type: Boolean,
            default: false,
        },
        onclick: {
            type: Function,
            default: () => {},
        },
        classes: {
            type: String,
            default: '',
        },
        label: {
            type: String,
            default: '',
        },
        keywords: {
            type: Array,
            default: () => [],
        },
        removable: {
            type: Boolean,
            default: false,
        },
        itemprop: {
            type: String,
            default: '',
        },
    },
};
</script>

<style lang="scss">
.tag--no-highlight {
    border: 0;
    border-radius: 0;
}
</style>
