<template>
    <ul
        v-click-outside="clickoutside"
        class="suggestions-container"
        role="listbox"
        aria-label="Job Titles"
        :id="id"
        @keydown="keyHandler"
    >
        <suggestions-loading v-if="isLoading" />
        <template v-else v-for="(suggestion, index) in suggestions">
            <suggestion
                :key="suggestion.id"
                :index="index"
                v-bind="suggestion"
                :selected="selected !== null && selected === suggestion.id"
                :onhover="onhover"
                :onclick="onssgclick"
            />
        </template>
    </ul>
</template>

<script>
import ClickOutside from 'vue-click-outside';
import Suggestion from './Suggestion';
import SuggestionsLoading from '~/components/common/Suggestions/SuggestionsLoading/index';

export default {
    name: 'SuggestionsList',
    components: {
        SuggestionsLoading,
        Suggestion,
    },
    directives: {
        ClickOutside,
    },
    props: {
        id: {
            type: String,
            default: null,
        },
        selected: {
            type: Number,
            default: null,
        },
        suggestions: {
            type: Array,
            default: () => [],
        },
        onssgclick: {
            type: Function,
            default: null,
        },
        selectprev: {
            type: Function,
            default: null,
        },
        selectnext: {
            type: Function,
            default: null,
        },
        onhover: {
            type: Function,
            default: null,
        },
        clickoutside: {
            type: Function,
            default: null,
        },
        onenter: {
            type: Function,
            default: null,
        },
        isLoading: {
            type: Boolean,
            default: false,
        },
    },
    methods: {
        keyHandler(e) {
            switch (e.which) {
                case 13: {
                    e.preventDefault();
                    this.onenter();
                    break;
                }
                case 38: {
                    this.selectprev();
                    e.preventDefault();
                    break;
                }
                case 40: {
                    this.selectnext();
                    e.preventDefault();
                    break;
                }
            }
        },
    },
};
</script>

<style lang="scss">
.suggestions-container {
    position: absolute;
    width: 100%;
    box-shadow: $angle-box-shadow;
    background-color: $color-white;
    border: 1px $color-light-grey solid;
    border-top: none;
    overflow: hidden;
    z-index: 5;
    @include border-radius-bottomleft($border-radius);
    @include border-radius-bottomright($border-radius);
    padding: 0;
}
</style>
