<template>
    <li
        class="suggestion__wrapper"
        :class="{'suggestion__wrapper--selected': selected}"
        @focus="onhover(index)"
        @mouseenter="onhover(index)"
        @click="onclick(index)"
        tabindex="0">
        <span class="suggestion">
            {{ text }}
        </span>
    </li>
</template>

<script>
export default {
    name: 'Suggestion',
    props: {
        id: {
            type: Number,
            default: null,
        },
        index: {
            type: Number,
            default: null,
        },
        text: {
            type: String,
            default: '',
        },
        selected: {
            type: Boolean,
            default: false,
        },
        onhover: {
            type: Function,
            default: null,
        },
        onclick: {
            type: Function,
            default: null,
        },
    },
};
</script>

<style lang="scss">

.suggestion {
    font-size: $font-size-xl;
    padding: 0;
    font-family: $main-font;
    white-space: nowrap;

    &__wrapper {
        cursor: pointer;
        padding: $spacing * 3 17px;
        overflow: hidden;
        text-overflow: ellipsis;

        &:focus {
            outline: none;
        }

        &--selected {
            background-color: $color-lightest-grey;
        }
    }
}
</style>
