<template>
    <article class="text-feature">
        <slot name="svg">-</slot>
        <h3>{{ title }}</h3>
        <p>{{ text }}</p>
    </article>
</template>

<script>
export default {
    name: 'Feature',
    props: {
        title: {
            type: String,
            default: ''
        },
        text: {
            type: String,
            default: ''
        }
    }
};
</script>

<style lang="scss">
.text-feature {
    svg {
        min-height: 75px;
    }

    h3 {
        white-space: nowrap;
        font-size: $font-size-m;
        margin: ($spacing * 2) 0;
    }

    p {
        margin-top: $spacing * 2;
        font-size: $font-size-s;
        line-height: 1.5em;
    }
}
</style>
