<template>
    <div class="student-register-wrapper">
        <button
            @click="registerOpen"
            class="button button--orange">
            <span>
                {{ $t('students.register') }}
            </span>
        </button>
        <popover
            v-if="['studentsRegister'].includes(popoverMode)"
            :mode="popoverMode"/>
    </div>
</template>

<script>
import { mapActions, mapState } from 'vuex';
import Popover from '~/components/common/Popover/Popover';

export default {
    name: 'RegisterButton',
    components: {
        Popover
    },
    data: () => ({
        registerDialogOpened: false
    }),
    methods: {
        ...mapActions(['envChangePopoverMode']),
        registerOpen() {
            this.envChangePopoverMode('studentsRegister');
        }
    },
    computed: {
        ...mapState({
            popoverMode: state => state.environment.popoverMode,
        }),
    }
};
</script>

<style scoped lang="scss">
.button span {
    font-size: $font-size-xl;
}

.student-register-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;

    .popover {
        top: -$spacing;
        left: calc(50% - 200px);

        @media screen and (max-width: 400px) {
            left: 0;
        }
    }
}
</style>
