<template>
    <div class="show-more">
        <link-to-search-page
            :link-query="query"
            :text="$t('students.showMore')"/>
    </div>
</template>

<script>
import LinkToSearchPage from '~/components/common/LinkToSearchPage';

export default {
    name: 'ShowMore',
    components: {
        LinkToSearchPage
    },
    props: {
        query: {
            type: String,
            default: ''
        }
    }
};
</script>

<style lang="scss">
.show-more {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: ($spacing * 5) ($spacing * 2);
}

.link-to-search {
    font-size: $font-size-xxl;
}
</style>
