<template>
    <section class="students-register-form block">
        <h2>{{ $t('students.registerForm.signUpTitle') }}</h2>
        <registration-form
            :can-register-recruiter="false"
            :component-name="$requestModules.USER"
            :register-fn="registerStudent"
        />
    </section>
</template>

<script>
import { mapActions } from 'vuex';
import RegistrationForm from '~~/components/authentication/RegistrationForm';

export default {
    name: 'StudentsRegisterForm',
    components: {
        RegistrationForm
    },
    methods: {
        ...mapActions(['registerStudent']),
    },

};
</script>

<style lang="scss">
.students-register-form {
    display: flex;
    flex-direction: column;
    align-items: center;

    .registration-form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    h2 {
        font-size: $font-size-xl;
    }

    .button span {
        font-size: $font-size-xl;
    }
}
</style>
