<template>
    <ul class="alphabet-jobs">
        <li v-for="link in links" :key="link">
            <link-to-search-page
                v-if="link.isSearch"
                :link-query="link.title"
            />
            <nuxt-link
                v-else
                :to="
                    localePath({
                        name: 'jobs-alphabet-letter-title',
                        params: { letter: letter, title: link.title },
                    })
                "
            >
                {{ link.title }}
            </nuxt-link>
        </li>
    </ul>
</template>

<script>
import LinkToSearchPage from '~/components/common/LinkToSearchPage';
import { flow, property, get } from '~/util/lodash';
import { curriedIsEqual } from '~/util/fnHelpers';

export default {
    name: 'AlphabetJobs',
    components: {
        LinkToSearchPage,
    },
    props: {
        jobs: {
            type: Array,
            default: () => [],
        },
        letter: {
            type: String,
            default: '',
        },
        title: {
            type: String,
            default: '',
        },
    },
    computed: {
        links() {
            return this.title
                ? get(
                      this.jobs.find(
                          flow(
                              property('title'),
                              curriedIsEqual(this.title),
                          ),
                      ),
                      'cities',
                      [],
                  ).map(city => ({
                      title: `${this.title} ${city}`,
                      isSearch: true,
                  }))
                : this.jobs.map(({ title, cities }) => ({
                      title,
                      isSearch: cities.length === 0,
                  }));
        },
    },
};
</script>

<style lang="scss">
.alphabet-jobs {
    margin-top: $spacing * 5;
    -webkit-columns: 2;
    -moz-columns: 2;
    columns: 2;
    padding: 0;

    li {
        display: block;
    }
}
</style>
