<template>
    <ul class="alphabet-links">
        <li v-for="letter in letters" :key="letter">
            <nuxt-link
                :to="
                    localePath({
                        name: 'jobs-alphabet-letter',
                        params: { letter: letter },
                    })
                "
            >
                {{ letter }}
            </nuxt-link>
        </li>
    </ul>
</template>

<script>
export default {
    name: 'AlphabetLinks',
    props: {
        letters: {
            type: Array,
            default: () => [],
        },
        currentLetter: {
            type: String,
            default: 'A',
        },
    },
};
</script>

<style lang="scss">
.alphabet-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0;

    li {
        display: block;
    }
}
</style>
