<template>
    <div class="load">
        <div class="load-animation-wrapper">
            <div class="load-animation"/>
        </div>
    </div>
</template>

<script>
export default {
    name: 'Loading',
};
</script>

<style lang="scss">

.load {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: $color-lightest-grey;
  opacity: 0.9;
  z-index: 1;
  @include border-radius($border-radius);

  &-animation {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 6px solid $main-color-lightest;
    border-top-color: $main-color;
    border-bottom-color: $main-color;
    -webkit-animation: loadAnimation 2.5s infinite ease-in-out;
    animation: loadAnimation 2.5s infinite ease-in-out;

    &-wrapper {
      z-index: 10;
      position: sticky;
      top: $spacing * 25;
      display: flex;
      justify-content: center;
      margin: $spacing * 40 0;
    }

    @-webkit-keyframes loadAnimation {
      0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
      }
      100% {
        -webkit-transform: rotate(540deg);
        transform: rotate(540deg);
      }
    }

    @keyframes loadAnimation {
      0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
      }
      100% {
        -webkit-transform: rotate(540deg);
        transform: rotate(540deg);
      }
    }
  }
}
</style>
