<template>
    <div class="multi-lang-page">
        <loading v-if="html.length === 0" />
        <div v-else v-html="html" />
    </div>
</template>

<script>
import Loading from '~/components/Loading';
export default {
    name: 'MultiLangTextPage',
    components: {
        Loading,
    },
    props: {
        locale: {
            type: String,
            default: 'en',
        },
        page: {
            type: String,
            default: '',
        },
    },
    data: () => ({
        html: '',
    }),
    watch: {
        locale(val) {
            import(`~/lang/${this.page}/${val}.js`).then(
                val => (this.html = val.default),
            );
        },
    },
    mounted: function() {
        import(`~/lang/${this.page}/${this.locale}.js`).then(
            val => (this.html = val.default),
        );
    },
};
</script>
