<template>
    <div>
        <div class="search-results__heading">
            <h1 class="search-results__title">
                <template v-if="hasSearchQuery">
                    {{
                        isFileSearch
                            ? $t('offers.h1CV')
                            : $t('offers.h1', {
                                  currentQuery: searchQuery,
                              })
                    }}
                </template>
                <template v-if="offersNumber > 0">
                    | {{ offersNumber }} {{ $t('offers.offers') }}
                </template>
                <template v-if="currentPage > 1">
                    | {{ $t('offers.page') }} {{ currentPage }}
                </template>
            </h1>
            <div class="search-results__save-btn" v-if="offersNumber > 0">
                <save-search-button />
            </div>
        </div>
        <section class="search-results">
            <search-list
                :offers="offers"
                :hide-score-match="!isFileSearch && notMuchOfKeywords"
            />
            <search-results-pagination v-if="offersNumber > 0" />
        </section>
    </div>
</template>

<script>
import { mapState } from 'vuex';
import { hydrateWhenIdle } from 'vue-lazy-hydration';
import SearchResultsPagination from './offers-list/SearchResultsPagination';
import SaveSearchButton from './save-search/SaveSearchButton';

export default {
    name: 'SearchResults',
    components: {
        SearchResultsPagination,
        SearchList: hydrateWhenIdle(() => import('./offers-list/SearchList')),
        SaveSearchButton,
    },
    data: () => ({
        saveSearchDialogOpened: false,
    }),
    computed: {
        ...mapState({
            offers: state =>
                state.offersList.offers ? state.offersList.offers : [],
            offersNumber: state =>
                state.offersList.offersNumber
                    ? state.offersList.offersNumber
                    : 0,
            currentPage: state => state.search.currentPage,
            searchQuery: state => state.search.query,
            notMuchOfKeywords: state => state.search.keywords.length <= 5,
            hasSearchQuery: state =>
                (state.search.query && state.search.query.length > 0) ||
                state.search.keywords.length > 0,
            isFileSearch: state => state.search.file !== undefined,
        }),
    },
};
</script>

<style lang="scss">
$search-results-title-color: #343434;

.search-results {
    min-height: 250px;
    &__heading {
        margin-top: $spacing * 5;
        display: inline-flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
    &__title {
        color: $search-results-title-color;
        font-size: $font-size-m;
        flex: 8 0 100px;

        @media screen and (max-width: $screen-tablet) {
            font-size: $font-size-s;
        }
    }
    &__save-btn {
        flex: 0 2 50px;
        margin-left: $spacing;
    }

    .search-list {
        padding: 0;
        margin-top: $spacing * 5;

        @media screen and (max-width: $screen-tablet) {
            margin-top: $spacing * 3;
        }

        &__element {
            margin-bottom: $spacing * 6;
        }
    }
}
</style>
