<template>
    <div class="editor">
        <slot name="editor-label">-</slot>

        <div class="editor__wrapper">
            <editor-menu-bar :editor="editor">
                <div class="menubar" slot-scope="{ commands, isActive }">
                    <button
                        class="menubar__button"
                        :aria-label="$t('aria.boldText')"
                        :class="{ 'is-active': isActive.bold() }"
                        @click="commands.bold"
                    >
                        <bold-icon />
                    </button>

                    <button
                        class="menubar__button"
                        :aria-label="$t('aria.italicText')"
                        :class="{ 'is-active': isActive.italic() }"
                        @click="commands.italic"
                    >
                        <italic-icon />
                    </button>

                    <button
                        class="menubar__button"
                        :aria-label="$t('aria.strikeText')"
                        :class="{ 'is-active': isActive.strike() }"
                        @click="commands.strike"
                    >
                        <strike-icon />
                    </button>

                    <button
                        class="menubar__button"
                        :aria-label="$t('aria.underlineText')"
                        :class="{ 'is-active': isActive.underline() }"
                        @click="commands.underline"
                    >
                        <underline-icon />
                    </button>

                    <button
                        class="menubar__button"
                        :aria-label="$t('aria.makeCodeBlock')"
                        :class="{ 'is-active': isActive.code_block() }"
                        @click="commands.code_block"
                    >
                        <code-icon />
                    </button>

                    <button
                        class="menubar__button"
                        :aria-label="$t('aria.addParagraph')"
                        :class="{ 'is-active': isActive.paragraph() }"
                        @click="commands.paragraph"
                    >
                        <paragraph-icon />
                    </button>

                    <button
                        class="menubar__button"
                        :aria-label="$t('aria.addH1')"
                        :class="{ 'is-active': isActive.heading({ level: 1 }) }"
                        @click="commands.heading({ level: 1 })"
                    >
                        H1
                    </button>

                    <button
                        class="menubar__button"
                        :aria-label="$t('aria.addH2')"
                        :class="{ 'is-active': isActive.heading({ level: 2 }) }"
                        @click="commands.heading({ level: 2 })"
                    >
                        H2
                    </button>

                    <button
                        class="menubar__button"
                        :aria-label="$t('aria.addH3')"
                        :class="{ 'is-active': isActive.heading({ level: 3 }) }"
                        @click="commands.heading({ level: 3 })"
                    >
                        H3
                    </button>

                    <button
                        class="menubar__button"
                        :aria-label="$t('aria.bulletList')"
                        :class="{ 'is-active': isActive.bullet_list() }"
                        @click="commands.bullet_list"
                    >
                        <ol-icon />
                    </button>

                    <button
                        class="menubar__button"
                        :aria-label="$t('aria.orderedList')"
                        :class="{ 'is-active': isActive.ordered_list() }"
                        @click="commands.ordered_list"
                    >
                        <ul-icon />
                    </button>

                    <button
                        class="menubar__button"
                        :aria-label="$t('aria.quote')"
                        :class="{ 'is-active': isActive.blockquote() }"
                        @click="commands.blockquote"
                    >
                        <quote-icon />
                    </button>

                    <button
                        class="menubar__button"
                        :aria-label="$t('aria.undo')"
                        @click="commands.undo"
                    >
                        <undo-icon />
                    </button>

                    <button
                        class="menubar__button"
                        :aria-label="$t('aria.redo')"
                        @click="commands.redo"
                    >
                        <redo-icon />
                    </button>

                    <button
                        class="menubar__button"
                        :aria-label="$t('aria.addImage')"
                        @click="showImagePrompt(commands.image)"
                    >
                        <image-icon />
                    </button>
                </div>
            </editor-menu-bar>

            <editor-menu-bubble class="menububble" :editor="editor">
                <div
                    slot-scope="{ commands, isActive, getMarkAttrs, menu }"
                    class="menububble"
                    :class="{ 'is-active': menu.isActive || linkMenuIsActive }"
                    :style="`left: ${menu.left}px; bottom: ${menu.bottom}px;`"
                >
                    <form
                        class="menububble__form"
                        v-if="linkMenuIsActive"
                        @submit.prevent="setLinkUrl(commands.link, linkUrl)"
                    >
                        <input
                            @keydown.esc="hideLinkMenu"
                            class="menububble__input"
                            placeholder="https://"
                            ref="linkInput"
                            type="text"
                            v-model="linkUrl"
                        />

                        <button
                            class="menububble__button"
                            :aria-label="$t('aria.removeLink')"
                            @click="setLinkUrl(commands.link, null)"
                            type="button"
                        >
                            <remove-icon />
                        </button>
                    </form>

                    <template v-else>
                        <button
                            class="menububble__button"
                            :aria-label="$t('aria.addLink')"
                            @click="showLinkMenu(getMarkAttrs('link'))"
                            :class="{ 'is-active': isActive.link() }"
                        >
                            <span>Add Link</span>
                            <link-icon />
                        </button>
                    </template>
                </div>
            </editor-menu-bubble>

            <editor-content class="html-content" :editor="editor" />
        </div>
    </div>
</template>

<script>
import { Editor, EditorContent, EditorMenuBar, EditorMenuBubble } from 'tiptap';
import {
    Mention,
    Blockquote,
    CodeBlock,
    HardBreak,
    Heading,
    OrderedList,
    BulletList,
    ListItem,
    TodoItem,
    TodoList,
    Bold,
    Italic,
    Link,
    Strike,
    Underline,
    History,
    Image,
} from 'tiptap-extensions';
import RemoveIcon from '~/assets/editor/remove.svg?inline';
import LinkIcon from '~/assets/editor/link.svg?inline';
import BoldIcon from '~/assets/editor/bold.svg?inline';
import ItalicIcon from '~/assets/editor/italic.svg?inline';
import StrikeIcon from '~/assets/editor/strike.svg?inline';
import UnderlineIcon from '~/assets/editor/underline.svg?inline';
import CodeIcon from '~/assets/editor/code.svg?inline';
import ParagraphIcon from '~/assets/editor/paragraph.svg?inline';
import QuoteIcon from '~/assets/editor/quote.svg?inline';
import UndoIcon from '~/assets/editor/undo.svg?inline';
import RedoIcon from '~/assets/editor/redo.svg?inline';
import OlIcon from '~/assets/editor/ol.svg?inline';
import UlIcon from '~/assets/editor/ul.svg?inline';
import ImageIcon from '~/assets/editor/image.svg?inline';

export default {
    name: 'WysiwygEditor',
    components: {
        EditorMenuBubble,
        EditorContent,
        EditorMenuBar,
        OlIcon,
        UlIcon,
        BoldIcon,
        ItalicIcon,
        StrikeIcon,
        UnderlineIcon,
        CodeIcon,
        ParagraphIcon,
        QuoteIcon,
        UndoIcon,
        RedoIcon,
        ImageIcon,
        LinkIcon,
        RemoveIcon,
    },
    props: {
        content: {
            type: String,
            default: '',
        },
        updateContent: {
            type: Function,
            default: null,
        },
    },
    data: () => ({
        editor: null,
        linkUrl: null,
        linkMenuIsActive: false,
    }),
    mounted() {
        this.editor = new Editor({
            extensions: [
                new Mention(),
                new Blockquote(),
                new BulletList(),
                new CodeBlock(),
                new HardBreak(),
                new Heading({ levels: [1, 2, 3] }),
                new ListItem(),
                new OrderedList(),
                new TodoItem(),
                new TodoList(),
                new Bold(),
                new Italic(),
                new Link(),
                new Strike(),
                new Underline(),
                new History(),
                new Image(),
            ],
            content: this.content,
            onUpdate: ({ getHTML }) => {
                this.updateContent(getHTML());
            },
        });
    },
    beforeDestroy() {
        this.editor.destroy();
    },
    methods: {
        showImagePrompt(command) {
            const src = prompt('Enter the url of your image here');
            if (src !== null) {
                command({ src });
            }
        },
        showLinkMenu(attrs) {
            this.linkUrl = attrs.href;
            this.linkMenuIsActive = true;
            this.editor.focus();
        },
        hideLinkMenu() {
            this.linkUrl = null;
            this.linkMenuIsActive = false;
        },
        setLinkUrl(command, url) {
            command({ href: url });
            this.hideLinkMenu();
            this.editor.focus();
        },
    },
};
</script>

<style lang="scss">
.menubar {
    background-color: $color-lightest-grey;
    display: inline-block;
    margin-bottom: 1rem;
    padding: $spacing;
    width: 100%;
    @include border-radius-topleft($border-radius);
    @include border-radius-topright($border-radius);

    &__button {
        font-weight: bold;
        display: inline-flex;
        background: transparent;
        border: 0;
        color: $color-black;
        padding: 0.2rem 0.5rem;
        margin-right: 0.2rem;
        border-radius: 3px;
        cursor: pointer;

        &:hover {
            background-color: rgba($color-black, 0.05);
        }

        &.is-active {
            background-color: rgba($color-black, 0.1);
        }
    }
}

.editor {
    position: relative;
    margin: 0 auto;

    &__wrapper {
        background-color: $color-white;
        @include border-radius($border-radius);
        border: $narrow-border-half;
        outline: none;
    }
}

.html-content {
    table {
        .selectedCell:after {
            z-index: 2;
            position: absolute;
            content: '';
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background: rgba(200, 200, 255, 0.4);
            pointer-events: none;
        }

        .column-resize-handle {
            position: absolute;
            right: -2px;
            top: 0;
            bottom: 0;
            width: 4px;
            z-index: 20;
            background-color: #adf;
            pointer-events: none;
        }
    }

    .tableWrapper {
        margin: 1em 0;
        overflow-x: auto;
    }

    .resize-cursor {
        cursor: ew-resize;
        cursor: col-resize;
    }
}

.menububble {
    position: absolute;
    display: flex;
    z-index: 20;
    background: $color-black;
    border-radius: 5px;
    padding: 0.3rem;
    margin-bottom: 0.5rem;
    transform: translateX(-50%);
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s, visibility 0.2s;

    &.is-active {
        opacity: 1;
        visibility: visible;
    }

    &__button {
        display: inline-flex;
        background: transparent;
        border: 0;
        color: $color-white;
        padding: 0.2rem 0.5rem;
        margin-right: 0.2rem;
        border-radius: 3px;
        cursor: pointer;

        span {
            margin-right: $spacing * 2;
        }

        &:last-child {
            margin-right: 0;
        }

        &:hover {
            background-color: rgba($color-white, 0.1);
        }

        &.is-active {
            background-color: rgba($color-white, 0.2);
        }
    }

    &__form {
        display: flex;
        align-items: center;
    }

    &__input {
        font: inherit;
        border: none;
        background: transparent;
        color: $color-white;
    }
}
.ProseMirror-focused {
    outline: none;
}
</style>
