<template>
    <div class="suggestions-loading">
        <div class="suggestions-loading__shimmer"></div>
        <div class="suggestions-loading__shimmer"></div>
        <div class="suggestions-loading__shimmer"></div>
        <div class="suggestions-loading__shimmer"></div>
    </div>
</template>

<script>
export default {
    name: 'SuggestionsLoading',
};
</script>
<style lang="scss" src="./_index.scss"></style>
