<template>
    <div class="show-more__wrapper">
        <div class="show-more">
            <a v-if="link" :href="link" class="show-more__link">
                <button class="button" @click="onClick">
                    <span>
                        {{ text }}
                    </span>
                </button>
            </a>
            <button v-else class="button" @click="onClick">
                <span>
                    {{ text }}
                </span>
            </button>
        </div>
    </div>
</template>

<script>
export default {
    name: 'ShowMore',
    props: {
        link: {
            type: String,
            default: '',
        },
        text: {
            type: String,
            default: '',
        },
        onClick: {
            type: Function,
            default: () => null,
        },
    },
};
</script>

<style lang="scss">
.show-more {
    display: flex;
    justify-content: center;
    align-items: center;

    .button {
        max-width: none;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        &:before {
            content: url('/svg/chevron_down.svg');
            left: 20px;
            position: absolute;
            top: 12px;
        }

        span {
            font-size: $font-size-xl;
        }
    }

    &__link {
        width: 100%;
        min-width: 265px;
        max-width: 350px;
    }
}
</style>
