<template>
    <main class="main-content">
        <div class="alphabet-header">
            <div class="alphabet-title">
                <h1>{{ $t('alphabet.title') }}</h1>
            </div>
            <alphabet-links
                :letters="alphabet"
                :current-letter="currentLetter"
            />
        </div>
        <alphabet-jobs
            :jobs="links[currentLetter]"
            :letter="currentLetter"
            :title="currentTitle"
        />
    </main>
</template>

<script>
import { mapState } from 'vuex';
import AlphabetLinks from '~/components/alphabet/AlphabetLinks';
import AlphabetJobs from '~/components/alphabet/AlphabetJobs';
import alphabeticalLinks from '~/sitemap_links/titles_cities.js';

export default {
    head() {},
    components: {
        AlphabetLinks,
        AlphabetJobs,
    },
    data: () => {
        const alphabet = 'ABCDEFGHIJKLMNOPQRSTUVWXYZÄÖÜ';
        const alphabetLinks = alphabet
            .split('')
            .reduce((alphabetObj, letter) => {
                const letterLinks = [];
                alphabeticalLinks.forEach((linkObj, linkIndex) => {
                    if (
                        linkObj.title
                            .toLowerCase()
                            .startsWith(letter.toLowerCase())
                    ) {
                        letterLinks.push(linkObj);
                        letterLinks.splice(linkIndex, 1);
                    }
                });

                alphabetObj[letter] = letterLinks;
                return alphabetObj;
            }, {});
        return {
            alphabet,
            links: alphabetLinks,
        };
    },

    computed: {
        ...mapState({
            currentLetter: state => state.alphabet.currentLetter,
            currentTitle: state => state.alphabet.currentTitle,
        }),
    },
    async fetch({ params, store, redirect, app }) {
        const { letter, title } = params;

        if (!letter) {
            redirect(
                app.localePath({
                    name: 'jobs-alphabet-letter',
                    params: { letter: 'A' },
                }),
            );
        }

        await store.dispatch('alphabetSetLetter', letter);
        await store.dispatch('alphabetSetTitle', title || null);
    },
};
</script>

<style lang="scss">
.alphabet-title {
    margin: $spacing * 4 0;
}
</style>
