<template>
    <div class="account">
        <form class="account__form" @submit.prevent="handleSubmit">
            <section class="form-section">
                <div class="heading">
                    <h2>{{ $t('account.formTitle') }}</h2>
                    <hr class="delimeter heading-delimeter" />
                </div>

                <div class="column-wrapper">
                    <div class="column">
                        <div class="form__input-group">
                            <form-input
                                :label="$t('account.name')"
                                :id="'account-name'"
                                :value="name"
                                :update-value="val => (this.name = val)"
                                :placeholder="''"
                            />
                        </div>
                        <div class="form__input-group">
                            <form-input
                                :label="$t('account.lastName')"
                                :id="'account-last-name'"
                                :value="lastName"
                                :update-value="val => (this.lastName = val)"
                                :placeholder="''"
                            />
                        </div>
                        <div class="form__input-group">
                            <form-input
                                :label="$t('account.email')"
                                :id="'account-email'"
                                :value="email"
                                :update-value="val => (this.email = val)"
                                :placeholder="''"
                            />
                        </div>
                    </div>
                    <div class="column">
                        <div class="form__text-group">
                            <span
                                class="secondary-text"
                                v-html="$t('account.nameUsageDetails')"
                            />
                        </div>
                        <div class="form__text-group" />
                        <div class="form__text-group">
                            <span
                                class="secondary-text"
                                v-html="$t('account.emailUsageDetails')"
                            />
                        </div>
                    </div>
                </div>

                <template v-if="$userType.isRecruiter(getUserType())">
                    <div class="heading heading--inside">
                        <h2>{{ $t('account.recruiter.title') }}</h2>
                        <hr class="delimeter heading-delimeter" />
                    </div>

                    <div class="column-wrapper">
                        <div class="column">
                            <div class="form__input-group">
                                <form-input
                                    :label="
                                        $t('account.recruiter.variableName')
                                    "
                                    :id="'account-recruiter-var-name'"
                                    :value="partnerParam"
                                    :update-value="
                                        val => (this.partnerParam = val)
                                    "
                                    :placeholder="''"
                                />
                            </div>
                            <div class="form__input-group">
                                <form-input
                                    :label="
                                        $t('account.recruiter.variableValue')
                                    "
                                    :id="'account-recruiter-var-value'"
                                    :value="partnerValue"
                                    :update-value="
                                        val => (this.partnerValue = val)
                                    "
                                    :placeholder="''"
                                />
                            </div>
                        </div>
                        <div class="column">
                            <div class="form__text-group">
                                <span
                                    class="secondary-text secondary-text--two-lines"
                                    v-html="
                                        $t('account.recruiter.variableNameText')
                                    "
                                />
                            </div>
                            <div class="form__text-group">
                                <span
                                    class="secondary-text"
                                    v-html="
                                        $t(
                                            'account.recruiter.variableValueText',
                                        )
                                    "
                                />
                            </div>
                        </div>
                    </div>
                </template>

                <div class="form__button-row">
                    <button
                        @click="updateAccount"
                        :aria-label="$t('account.updateButton')"
                        class="button button--green"
                    >
                        <span>{{ $t('account.updateButton') }}</span>
                    </button>
                    <component-response
                        :component-name="$requestModules.USER"
                    />
                </div>
            </section>
        </form>
        <form
            class="account__form account__form--password"
            @submit.prevent="handleSubmit"
        >
            <section class="form-section">
                <div class="heading">
                    <h2>{{ $t('account.formPasswordTitle') }}</h2>
                    <hr class="delimeter heading-delimeter" />
                </div>

                <div class="column-wrapper">
                    <div class="column">
                        <div class="form__input-group">
                            <form-password
                                :label="$t('account.password')"
                                :id="'account-password'"
                                :update-value="val => (this.password = val)"
                                :required="false"
                                :placeholder="''"
                            />
                        </div>
                        <div class="form__input-group">
                            <form-password
                                :label="$t('account.newPassword')"
                                :id="'account-new-password'"
                                :update-value="val => (this.newPassword = val)"
                                :required="false"
                                :placeholder="''"
                            />
                        </div>
                    </div>
                    <div class="column">
                        <div class="form__text-group">
                            <span
                                class="secondary-text"
                                v-html="$t('account.updatePasswordText')"
                            />
                        </div>
                        <div class="form__input-group">
                            <form-password
                                :label="$t('account.newPasswordConfirmation')"
                                :id="'account-new-password-confirmation'"
                                :update-value="
                                    val => (this.newPasswordConfirmation = val)
                                "
                                :placeholder="''"
                            />
                        </div>
                    </div>
                </div>

                <div class="form__button-row">
                    <button
                        @click="executeUpdatePassword"
                        :aria-label="$t('account.updatePasswordButton')"
                        class="button button--green"
                    >
                        <span>{{ $t('account.updatePasswordButton') }}</span>
                    </button>
                    <component-response
                        :component-name="$requestModules.USER_PASSWORD"
                    />
                </div>
            </section>
        </form>
        <form
            class="account__form account__form--delete"
            @submit.prevent="handleSubmit"
        >
            <section class="form-section">
                <div class="heading">
                    <h2>{{ $t('account.deleteUserTitle') }}</h2>
                    <hr class="delimeter heading-delimeter" />
                </div>
                <span
                    class="secondary-text secondary-text--delete"
                    v-html="$t('account.deleteText')"
                />
                <div class="form__button-row">
                    <button
                        @click="deleteUser"
                        :aria-label="$t('account.deleteLabel')"
                        class="button"
                    >
                        <span>{{ $t('account.deleteLabel') }}</span>
                    </button>

                    <component-response
                        :component-name="$requestModules.DELETE_USER"
                    />
                </div>
            </section>
        </form>
        <loading v-if="isLoading" />
    </div>
</template>

<script>
import { mapState, mapActions, mapGetters } from 'vuex';
import Loading from '~/components/Loading';
import ComponentResponse from '~/components/form/response/ComponentResponse';
import FormInput from '~/components/form/FormInput';
import FormPassword from '~/components/form/FormPassword';
import { get, property } from '~/util/lodash';

export default {
    name: 'AccountForm',
    components: {
        Loading,
        ComponentResponse,
        FormInput,
        FormPassword,
    },
    props: {
        userData: {
            type: Object,
            default: () => {},
        },
    },
    data() {
        return {
            password: '',
            newPassword: '',
            newPasswordConfirmation: '',
            name: this.userData.name || '',
            lastName: this.userData.lastName || '',
            email: this.userData.email || '',
            partnerParam: this.userData.partnerParam || '',
            partnerValue: this.userData.partnerValue || '',
        };
    },
    computed: {
        ...mapState({
            token: property(['user', 'token']),
            isLoading(state) {
                return get(
                    state,
                    [
                        'request',
                        'responses',
                        this.$requestModules.USER,
                        'isRequestLoading',
                    ],
                    false,
                );
            },
        }),
    },
    watch: {
        userData(value) {
            this.setAccountDataFromUserData(value);
        },
    },
    methods: {
        ...mapGetters(['isAuthenticated', 'getUserType']),
        ...mapActions([
            'deleteUser',
            'updatePassword',
            'updateUserAccount',
            'requestFailed',
            'requestSucceed',
            'requestStart',
            'requestFinish',
            'logoutUser',
        ]),
        setAccountDataFromUserData(data = {}) {
            this.name = data.name || '';
            this.lastName = data.lastName || '';
            this.email = data.email || '';
            this.partnerParam = data.partnerParam || '';
            this.partnerValue = data.partnerValue || '';
        },
        handleSubmit(e) {
            e.preventDefault();
        },
        updateAccount() {
            if (!this.isAuthenticated) {
                this.requestFailed({
                    message: 'There is no valid token',
                    component: this.$requestModules.USER,
                });
                return;
            }

            this.updateUserAccount({
                successMessage: 'account.successUpdate',
                userData: {
                    name: this.name,
                    lastName: this.lastName,
                    email: this.email,
                    partnerParam: this.partnerParam,
                    partnerValue: this.partnerValue,
                },
            });
        },
        executeUpdatePassword() {
            this.updatePassword({
                password: this.password,
                newPassword: this.newPassword,
                newPasswordConfirmation: this.newPasswordConfirmation,
            });
        },
    },
};
</script>

<style lang="scss">
.account {
    position: relative;
}

.account__form {
    margin: 0 0 $spacing * 5;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.secondary-text--delete {
    text-align: center;
    display: inline-block;
    width: 100%;
}
</style>
