<template>
    <nav class="block cabinet-menu__wrapper">
        <div class="heading">
            <h2>{{ $t('profile.menu') }}</h2>
            <hr class="delimeter heading-delimeter">
        </div>
        <nav>
            <ul class="cabinet-menu">
                <li
                    class="cabinet-menu__link"
                    v-for="section in menu"
                    :key="section.text">
                    <span
                        v-if="
                            section.path && section.path.name
                                && section.path.name.length && current.indexOf(section.path.name) !== -1
                        ">
                        {{ section.text }}
                    </span>
                    <nuxt-link
                        v-else
                        :to="localePath(section.path)">{{ section.text }}</nuxt-link>
                </li>
            </ul>
        </nav>

    </nav>
</template>

<script>
export default {
    name: 'CabinetMenu',
    props: {
        getMenuFn: {
            type: Function,
            default: () => null
        },
        current: {
            type: String,
            default: ''
        }
    },
    data: function() {
        return {
            menu: this.getMenuFn(this)
        };
    }
};
</script>

<style lang="scss">

.cabinet-menu {
  padding-left: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-bottom: $spacing * 4;

  &__wrapper {
    position: sticky;
    top: $spacing * 3;
    margin: 0;
  }

  .cabinet-menu__link {
    padding-bottom: $spacing * 2;

    &:last-child {
      padding-bottom: 0;
    }

    span {
      color: $color-grey;
      font-size: $font-size-s;
    }

    a {
      text-decoration: none;
      white-space: nowrap;
      font-size: $font-size-s;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
</style>
