<template>
    <form class="profile__form" @submit.prevent="handleSubmit">
        <section class="form-section">
            <div class="heading">
                <h2>
                    {{ $t('profile.formTitle') }}
                    <nuxt-link
                        :to="localePath({ name: 'cabinet-relevant-offers' })"
                    >
                        {{ $t('profile.formTitleLink') }}
                    </nuxt-link>
                </h2>
                <hr class="delimeter heading-delimeter" />
            </div>

            <div class="column-wrapper">
                <div class="column">
                    <div class="form__input-group">
                        <autocomplete-tags-input
                            :label="$t('profile.offerTitles')"
                            :inputplacholder="
                                $t('profile.offerTitlesPlaceholder')
                            "
                            :id="'profile-offer-titles'"
                            :tags="titles"
                            :oninput="titlesSuggestions"
                            :set-tags="tags => (this.titles = tags)"
                        />
                    </div>
                </div>

                <div class="column">
                    <div class="form__input-group form__input-group--button">
                        <form-file-button
                            :button-label="$t('profile.addCv')"
                            :empty-text="$t('profile.cvLabel')"
                            :input-name="'userCV'"
                            :temp-file-name="fileName ? fileName : ''"
                            :on-upload="uploadCv"
                        />
                    </div>
                    <div
                        class="form__input-group form__input-group--button"
                        v-if="newFile || fileName"
                    >
                        <form-button
                            :button-label="$t('profile.recogniseTags')"
                            :text="$t('profile.recogniseTagsLabel')"
                            :on-click="recogniseTags"
                        />
                    </div>
                </div>
            </div>

            <div class="form__input-group">
                <autocomplete-tags-input
                    :label="$t('profile.skills')"
                    :inputplacholder="$t('profile.skillsPlaceholder')"
                    :id="'profile-skills'"
                    :tags="skills"
                    :oninput="skillsSuggestions"
                    :set-tags="tags => (this.skills = tags)"
                />
            </div>

            <div class="form__input-group">
                <autocomplete-tags-input
                    :label="$t('profile.langs')"
                    :inputplacholder="$t('profile.langsPlaceholder')"
                    :id="'job-langs'"
                    :tags="languages"
                    :oninput="languageSuggestions"
                    :set-tags="tags => (this.languages = tags)"
                />
            </div>

            <div class="form__input-group">
                <autocomplete-tags-input
                    :label="$t('profile.locations')"
                    :inputplacholder="$t('profile.locationsPlaceholder')"
                    :id="'profile-locations'"
                    :tags="destinations"
                    :oninput="locationsSuggestions"
                    :set-tags="tags => (this.destinations = tags)"
                />
            </div>

            <div class="form__input-group">
                <form-select
                    :label="$t('profile.offerTypes')"
                    :id="'job-type'"
                    :value="offerType"
                    :update-value="val => (this.offerType = val)"
                    :options="
                        workTypes.map(workType => ({
                            value: workType.type,
                            text: this.$t(workType.translation),
                        }))
                    "
                    :placeholder="$t('profile.offerTypesPlaceholder')"
                />
            </div>

            <loading v-if="isLoading" />
        </section>

        <div class="form__button-row">
            <button
                @click="update"
                :aria-label="$t('profile.button')"
                class="button button--green"
            >
                <span>{{ $t('profile.button') }}</span>
            </button>
            <component-response :component-name="$requestModules.USER" />
        </div>
    </form>
</template>

<script>
import { mapState, mapActions, mapGetters } from 'vuex';
import { blobToFile } from '../../util';
import AutocompleteTagsInput from '~/components/form/AutocompleteTagsInput';
import Loading from '~/components/Loading';
import ComponentResponse from '~/components/form/response/ComponentResponse';
import FormSelect from '~/components/form/FormSelect';
import FormFileButton from '~/components/form/FormFileButton';
import FormButton from '~/components/form/FormButton';
import { apiRecognisedTags } from '~/api/suggestions';
import { apiStoreFile } from '~/api/file/load';
import { apiGetFile } from '~/api/file/get';
import { get, property, flow } from '~/util/lodash';
import {
    requestSkillsSuggestions,
    requestLanguageSuggestions,
    requestTitlesSuggestions,
    requestLocationsSuggestions,
    mapTagsToString,
    mapRemoteTag,
} from '~/util';

export default {
    name: 'ProfileForm',
    components: {
        AutocompleteTagsInput,
        Loading,
        ComponentResponse,
        FormSelect,
        FormFileButton,
        FormButton,
    },
    props: {
        userData: {
            type: Object,
            default: () => {},
        },
    },
    data: function() {
        return {
            newFile: null,
            fileName: this.userData.fileName || null,
            offerType: this.userData.offerType || null,
            skills: this.userData.skills || null,
            languages: this.userData.programmingLanguages || null,
            titles: this.userData.titles || null,
            destinations: this.userData.locations || null,
        };
    },
    computed: {
        ...mapState({
            token: state => state.user.token,
            workTypes: state => state.user.workTypes,
            isLoading(state) {
                return get(
                    state,
                    [
                        'request',
                        'responses',
                        this.$requestModules.USER,
                        'isRequestLoading',
                    ],
                    false,
                );
            },
        }),
        ...mapGetters(['isAuthenticated']),
    },
    watch: {
        userData(value) {
            this.setProfileDataFromUserData(value);
        },
    },
    methods: {
        ...mapActions([
            'updateUserProfile',
            'requestFailed',
            'requestFinish',
            'requestStart',
        ]),
        setProfileDataFromUserData(val) {
            this.fileName = val.fileName || '';
            this.offerType = val.offerType || null;
            this.skills = val.skills || [];
            this.languages = val.programmingLanguages || [];
            this.titles = val.titles || [];
            this.destinations = val.locations || [];
        },
        skillsSuggestions: requestSkillsSuggestions.bind(this),
        languageSuggestions: requestLanguageSuggestions.bind(this),
        titlesSuggestions: requestTitlesSuggestions.bind(this),
        locationsSuggestions: requestLocationsSuggestions.bind(this),
        handleSubmit(e) {
            e.preventDefault();
        },
        async update() {
            if (!this.isAuthenticated) {
                this.requestFailed({
                    message: 'There is no valid token',
                    component: this.$requestModules.USER,
                });
                return;
            }
            const file = this.newFile;
            let fileName = this.fileName;
            if (file) {
                const data = await apiStoreFile(file).then(property('data'));
                if (!data.hasOwnProperty('name')) {
                    this.requestFailed({
                        message: 'Error during file storing',
                        component: this.$requestModules.USER,
                    });
                    return;
                }
                fileName = data.name;
            }

            this.updateUserProfile({
                successMessage: 'profile.successUpdate',
                userData: {
                    skills: mapTagsToString(this.skills),
                    programmingLanguages: mapTagsToString(this.languages),
                    titles: mapTagsToString(this.titles),
                    locations: mapTagsToString(this.destinations),
                    offerType: this.offerType,
                    fileName,
                },
            });

            this.newFile = null;
        },
        uploadCv(e) {
            e.preventDefault();
            const file = e.target.files[0];
            this.fileName = file.name;
            this.newFile = file;
        },
        async recogniseTags() {
            this.requestStart(this.$requestModules.USER);

            this.titles = [];
            this.skills = [];
            this.languages = [];
            this.destinations = [];

            const file = this.newFile
                ? this.newFile
                : await apiGetFile(this.fileName).then(
                      flow(
                          property('data'),
                          blobToFile,
                      ),
                  );

            const tags =
                (await apiRecognisedTags({ file }).then(
                    property(['data', 'tags']),
                )) || [];
            this.requestFinish(this.$requestModules.USER);
            tags.forEach(tag => {
                const mapped = mapRemoteTag(tag);
                if (this.hasOwnProperty(mapped.type))
                    this[mapped.type].push(mapped);
            });
        },
    },
};
</script>

<style lang="scss">
.profile__form {
    margin: 0 0 $spacing * 5;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.upload-status {
    display: inline-block;
    color: $text-color-grey;
}

.form__button-row {
    .button {
        min-width: 220px;
    }
}
</style>
