<template>
    <svg
        viewBox="0 0 36 36"
        class="circular-chart green">
        <path
            class="circle-bg"
            d="M18 2.0845
        a 15.9155 15.9155 0 0 1 0 31.831
        a 15.9155 15.9155 0 0 1 0 -31.831"
        />
        <path
            class="circle"
            :stroke-dasharray="`${percent}, 100`"
            d="M18 2.0845
        a 15.9155 15.9155 0 0 1 0 31.831
        a 15.9155 15.9155 0 0 1 0 -31.831"
        />
        <text
            x="18"
            y="20.35"
            class="percentage">{{ percent }}%</text>
    </svg>
</template>

<script>
export default {
    name: 'MatchCircle',
    props: {
        percent: {
            type: Number,
            default: 0,
        },
    },
};
</script>

<style lang="scss">


.circle {
    fill: none;
    stroke-width: 2.8;
    stroke-linecap: round;
    animation: progress 1s ease-out forwards;
    &-bg {
        fill: none;
        stroke: #eee;
        stroke-width: 3.8;
    }
}

.circular-chart {
    display: block;
    margin: 0 auto;
    max-height: 100%;
    &.green .circle {
        stroke: $color-green;
    }
}

.percentage {
    fill: $text-color-grey;
    font-family: sans-serif;
    font-size: 0.5em;
    text-anchor: middle;
}

@keyframes progress {
    0% {
        stroke-dasharray: 0 100;
    }
}
</style>
