<template>
    <ol class="offer-manage-list">
        <template v-for="offer in offers">
            <li
                class="offer-manage-list__element"
                :key="offer.id">
                <offer-card
                    v-bind="offer"
                    :hide-score-match="true"
                    :show-recruiter-section="true"
                    :delete-offer="deleteOffer"/>
            </li>
        </template>
    </ol>
</template>

<script>
import OfferCard from './OfferCard/index.vue';

export default {
    name: 'OfferManageList',
    components: {
        OfferCard,
    },
    props: {
        offers: {
            type: Array,
            default: () => [],
        },
        deleteOffer: {
            type: Function,
            default: () => null
        }
    },
};
</script>

<style lang="scss">

  .offer-manage-list {
    padding: 0;
    margin: $spacing * 5 0;

    &__element {
      margin-bottom: $spacing * 3;
    }
  }
</style>
