<template>
    <pagination
        :is-loading="isLoading"
        :current-page="currentPage"
        :page-size="pageSize"
        :list-length="offersNumber"
        :on-click="paginationClick"
        :route-params-fn="getCurrentSearchPaginationPath"
    />
</template>

<script>
import { mapState, mapActions } from 'vuex';
import { getSearchRoutePathParams } from '~/store/search/utils';
import Pagination from '~/components/common/Pagination';

export default {
    name: 'SearchResultsPagination',
    components: {
        Pagination,
    },
    computed: {
        ...mapState({
            isLoading: state => state.offersList.offersLoading,
            currentPage: state => state.search.currentPage,
            pageSize: state => state.search.pageSize,
            query: state => state.search.query,
            offerLanguage: state => state.search.offerLanguage,
            offerLanguages: state => state.search.offerLanguages,
            offersNumber: state => state.offersList.offersNumber,
            seoPageCode: state => state.offersList.seoPageCode,
        }),
    },
    methods: {
        ...mapActions(['changePage', 'appendOffers']),
        paginationClick(index) {
            const needsNarrowPagination = this.$viewport.isMobileOrTablet(
                document.body.clientWidth,
            );

            this.$ga &&
                this.$ga.event({
                    eventCategory: 'action',
                    eventAction: 'searchPagination',
                    eventLabel: needsNarrowPagination
                        ? 'showMore'
                        : 'changePage',
                });

            needsNarrowPagination
                ? this.appendOffers(index)
                : this.changePage(index);
        },
        getCurrentSearchPaginationPath(pageIndex) {
            let routeName = 'search-query';

            if (this.$route.name.includes('search-by-cv')) {
                routeName = 'search-by-cv';
            }

            if (this.$route.name.includes('search-popular-code')) {
                routeName = 'search-popular-code';
            }

            const routeParams = getSearchRoutePathParams(
                routeName,
                this.offerLanguages.hasOwnProperty(this.offerLanguage)
                    ? this.offerLanguages[this.offerLanguage].urlParam
                    : '',
                pageIndex > 1 ? pageIndex : 1,
            );

            if (this.$route.name.includes('search-query')) {
                routeParams.params.query = this.query;
            }

            if (this.$route.name.includes('search-popular-code')) {
                routeParams.params.code = this.seoPageCode;
            }

            try {
                return this.localePath(routeParams, this.$i18n.locale);
            } catch (e) {
                return this.localePath(routeParams, 'de');
            }
        },
    },
};
</script>
