<template>
    <article class="block search-seo-content" v-html="content"></article>
</template>

<script>
export default {
    name: 'SearchSeoContent',
    props: {
        content: {
            type: String,
            default: '',
        },
    },
};
</script>

<style lang="scss">
.search-seo-content {
    column-count: 2;

    @media screen and (max-width: $screen-tablet) {
        column-count: 1;
    }

    ul,
    ol {
        list-style: disc;
    }
}
</style>
