<template>
    <ol class="search-list">
        <template v-for="offer in offers">
            <li class="search-list__element" :key="offer.id">
                <offer-card
                    v-bind="offer"
                    :hide-score-match="hideScoreMatch"
                    :click-offer-fn="clickout"
                    :show-job-actions="false"
                />
            </li>
        </template>
    </ol>
</template>

<script>
import { mapActions } from 'vuex';
import OfferCard from './OfferCard/index.vue';

export default {
    name: 'SearchList',
    components: {
        OfferCard,
    },
    props: {
        offers: {
            type: Array,
            default: () => [],
        },
        hideScoreMatch: {
            type: Boolean,
            default: false,
        },
    },
    methods: {
        ...mapActions(['clickout']),
    },
};
</script>

<style lang="scss">
.search-list {
    padding: 0;
    margin-top: $spacing * 11;

    &__element {
        margin-bottom: $spacing * 3;
    }
}
</style>
