$or-left-padding: 560px;

.search-form {
  margin-top: $spacing * 9;

  &__search {
    position: relative;
    max-width: 100%;
  }

  &__conversational {
    display: flex;
    justify-content: flex-end;
    @media screen and (max-width:$screen-tablet-large) {
      justify-content: center;
    }
  }

  &__or {
    font-size: $font-size-m;
    text-align: center;
    color: $color-dark-grey;
    margin: $spacing * 3 $spacing * 2;
    flex-grow: 1;
    flex-basis: 0;
    max-width: calc(100% / 3);
  }

  .search-button__add {
      max-width: 160px;
      max-width: min-content;
      @media screen and (max-width:$screen-tablet) {
          flex-shrink: 1;
          min-width: 60px;
          max-width: 60px;
      }
  }
}
