<template>
    <form
        class="search-form js-search-form"
        @click="scrollTop"
        enctype="multipart/form-data"
    >
        <div class="search-form__search">
            <search-input
                :showssgs="suggestions.length > 0 || suggestionsLoading"
                :recognisedtags="recognisedTags"
                :name="`q`"
                :label="$t('search.label')"
                :placeholder="`${$t('eg')} ${this.defaultquery}...`"
                :searchbuttontext="searchbtntext"
                :searchbuttonclass="`search-button__add`"
                :value="searchQuery"
                :oninput="inputSearch"
                :selectnext="selectNextSuggestion"
                :selectprev="selectPrevSuggestion"
                :onenter="onEnterPress"
                :onclick="textSearch"
                :ssgs-id="'search-suggestions'"
            />

            <div v-if="suggestions.length > 0 || suggestionsLoading">
                <suggestions-list
                    :id="'search-suggestions'"
                    :suggestions="suggestions"
                    :selected="selectedSuggestion"
                    :onenter="onEnterPress"
                    :onssgclick="clickSsg"
                    :selectnext="selectNextSuggestion"
                    :selectprev="selectPrevSuggestion"
                    :onhover="hoverSuggestion"
                    :clickoutside="closeSuggestions"
                    :is-loading="suggestionsLoading"
                />
            </div>
        </div>

        <div class="search-form__conversational">
            <p class="search-form__or">{{ $t('search.or') }}</p>
        </div>

        <search-by-cv
            :search-button-text="searchcvbtntext"
            :search-button-mobile-text="searchcvbtnmobiletext"
        />
    </form>
</template>

<script>
import { mapState, mapActions } from 'vuex';
import SearchByCv from '../SearchByCv';
import SearchInput from '../SearchInput';
import SuggestionsList from '~/components/common/Suggestions/SuggestionsList';
import { scrollToElement, elClasses } from '~/util';

export default {
    name: 'Search',
    components: {
        SearchByCv,
        SuggestionsList,
        SearchInput,
    },
    props: {
        searchbtntext: {
            type: String,
            default: '',
        },
        searchcvbtntext: {
            type: String,
            default: '',
        },
        searchcvbtnmobiletext: {
            type: String,
            default: '',
        },
        defaultquery: {
            type: String,
            default: '',
        },
    },
    data: () => ({
        timer: 0,
    }),
    computed: {
        ...mapState({
            suggestions: state => state.suggestions.list,
            searchQuery: state => state.search.query,
            selectedSuggestion: state => state.suggestions.selectedSuggestion,
            suggestionsLoading: state => state.suggestions.suggestionsLoading,
            recognisedTags: state => state.search.recognisedSearchTags,
        }),
        finalQuery() {
            if (
                this.selectedSuggestion !== null &&
                this.suggestions[this.selectedSuggestion]
            ) {
                const selectedSsg = this.suggestions[this.selectedSuggestion];
                return selectedSsg.text;
            }
            return this.searchQuery.length > 0
                ? this.searchQuery
                : this.defaultquery;
        },
    },
    methods: {
        ...mapActions([
            'search',
            'getSuggestions',
            'selectSuggestion',
            'hoverSuggestion',
            'searchResetKeywords',
            'closeSuggestions',
            'selectNextSuggestion',
            'selectPrevSuggestion',
            'searchformInputChange',
        ]),
        textSearch(e) {
            this.search({
                query: this.finalQuery,
                analyticsModule: this.$ga,
            });
            e.preventDefault();
        },
        clickSsg(index = 0) {
            if (this.suggestions.length > 0 && this.suggestions[index]) {
                this.selectSuggestion({
                    analyticsModule: this.$ga,
                    ssgText: this.suggestions[index].text,
                });
            }
        },
        onEnterPress() {
            this.searchResetKeywords();
            this.search({
                query: this.finalQuery,
                analyticsModule: this.$ga,
            });
            this.closeSuggestions();
        },
        inputSearch(query) {
            this.searchformInputChange(query);
            clearTimeout(this.timer);
            this.timer = setTimeout(() => {
                this.getSuggestions(query);
            }, 300);
        },
        scrollTop() {
            const searchFormEl = document.querySelector(
                `.${elClasses.searchFormKeywords}`,
            );
            scrollToElement(searchFormEl);
        },
    },
};
</script>

<style lang="scss" src="./index.scss"></style>
