<template>
    <main class="search-page">
        <div class="main-keywords-form__wrapper js-keywords-search-form">
            <div class="main-keywords-form">
                <keywords v-if="keywords.length > 0" />
                <span
                    class="main-keywords-form__empty-text"
                    v-else
                    v-html="$t('search.emptySearchText')"
                />
            </div>
        </div>
        <div
            class="main-search-form__wrapper"
            :class="{ 'main-search-form__wrapper--sticky': formSticky }"
        >
            <div class="main-search-form js-main-search-form">
                <search
                    :searchbtntext="$t('search.buttonText')"
                    :searchcvbtntext="$t('search.cvButtonText')"
                    :searchcvbtnmobiletext="$t('search.cvMobileButtonText')"
                    :defaultquery="$t('search.defaultQuery')"
                />
            </div>
        </div>
        <div class="main-content js-results-page">
            <div class="main-content-wrapper">
                <search-results />
                <search-seo-content
                    :content="seoContent"
                    v-if="seoContent.length"
                />
                <loading v-if="offersLoading" />
            </div>
        </div>
    </main>
</template>

<script>
import { mapState, mapGetters } from 'vuex';
import { hydrateWhenIdle } from 'vue-lazy-hydration';
import { offerLanguages } from '../../../store/search/utils.js';
import SearchResults from '../../../components/SearchResults.vue';
import Keywords from '../../../components/search/Keywords/Keywords.vue';
import Loading from '~/components/Loading.vue';
import { get, head as arrHead, isObject } from '~/util/lodash';
import SearchSeoContent from '~/components/offers-list/SearchSeoContent';
import { getTagsFromRemote } from '~/util';

const isFromStudents = from =>
    get(from, ['name'], '').includes('students-query');

const getCurrentOfferLanguage = (offerLanguage, offerLanguages) => {
    if (offerLanguage && offerLanguage.length > 0) {
        const currentOfferLanguage = Object.values(offerLanguages).find(
            lang => lang.urlParam === offerLanguage,
        );
        return currentOfferLanguage &&
            currentOfferLanguage.code &&
            currentOfferLanguage.code.length > 0
            ? currentOfferLanguage.code
            : offerLanguages.all.code;
    } else {
        return offerLanguages.all.code;
    }
};

const getServerCVSearchRedirectObject = (offerLang, allLangs) =>
    offerLang === allLangs
        ? { name: 'search-by-cv' }
        : {
              name: 'offerLanguage-search-by-cv',
              params: { offerLanguage: offerLang },
          };

const isCVSearchPage = name =>
    name.startsWith('offerLanguage-search-by-cv') ||
    name.startsWith('search-by-cv');

const isTextSearchPage = name =>
    name.startsWith('offerLanguage-search-query') ||
    name.startsWith('search-popular-code') ||
    name.startsWith('search-query');

const setResults = async (offersData, page, dispatch) => {
    const { jobs, tags = {}, number_of_jobs = 0 } = offersData || {}; // eslint-disable-line camelcase
    const keywords = getTagsFromRemote(tags);
    await dispatch('gotServerResults', {
        offers: jobs,
        keywords,
        offersNumber: number_of_jobs,
    });

    // We need this to avoid changing query from other concurrent requests
    await dispatch('setPage', page);
};

const tryProcessSeoPage = async (code, dispatch) => {
    if (!code || !code.length) {
        await dispatch('setSeoPageContent', '');
        await dispatch('setSeoPageCode', '');
        return null;
    }

    const { location = '', programming = '', content = '' } = await dispatch(
        'getSeoPage',
        code,
    );

    content && (await dispatch('setSeoPageContent', content));
    code && (await dispatch('setSeoPageCode', code));

    return location ? { location, programming } : null;
};

export default {
    components: {
        Search: hydrateWhenIdle(() =>
            import('../../../components/search/Search/Search.vue'),
        ),
        Keywords,
        SearchResults,
        Loading,
        SearchSeoContent,
    },
    head() {
        const head = {
            title: this.seoTitle,
            meta: [
                {
                    hid: 'keywords',
                    name: 'keywords',
                    content: this.seoKeywords,
                },
                {
                    hid: 'description',
                    name: 'description',
                    content: this.seoDescription,
                },
                {
                    hid: `og:title`,
                    property: 'og:title',
                    content: this.seoTitle,
                },
                {
                    hid: `og:url`,
                    property: 'og:url',
                    content: `https://clusterjobs.de{this.$route.fullPath}`,
                },
                {
                    hid: `og:description`,
                    property: 'og:description',
                    content: this.seoDescription,
                },
            ],
        };

        const links = [];
        const query = get(this.$route, ['params', 'query'], null);
        const page = get(this.$route, ['params', 'page'], 0);
        const currentRoute = arrHead(this.$route.name.split('___'));
        if (query && query.length) {
            const canonicalQuery = query
                .split(' ')
                .sort()
                .join(' ');
            links.push({
                rel: 'canonical',
                link: `https://clusterjobs.de${this.localePath(
                    {
                        name: 'search-query',
                        params: { query: canonicalQuery },
                    },
                    'de',
                )}`,
            });
        }

        if (this.hasPrevPage) {
            links.push({
                rel: 'prev',
                link: this.localePath(
                    {
                        name: currentRoute,
                        params: { query, page: parseInt(page, 10) - 1 },
                    },
                    this.$i18n.locale,
                ),
            });
        }

        if (page && this.hasNextPage) {
            links.push({
                rel: 'next',
                link: this.localePath(
                    {
                        name: currentRoute,
                        params: { query, page: parseInt(page, 10) + 1 },
                    },
                    this.$i18n.locale,
                ),
            });
        }

        head.link = links;

        return head;
    },
    data: () => ({
        lastScrollTop: 0,
        scrollTopThresholdStart: 0,
        scrollBottomThresholdStart: 0,
        formSticky: false,
        originalFormPosition: null,
    }),
    computed: {
        ...mapGetters(['hasNextPage', 'hasPrevPage']),
        ...mapState({
            offersLoading: state => state.offersList.offersLoading,
            keywords: state => state.search.keywords,
            searchQuery: state => state.search.query,
            offersNumber: state => state.offersList.offersNumber,
            seoContent: state => state.offersList.seoContent,
            file: state => state.search.file,
        }),
        seoTitle() {
            return this.searchQuery && this.searchQuery.length
                ? `${this.$t('seo.search.jobsFor', {
                      query: this.searchQuery,
                  })}`
                : this.$t('seo.search.emptySearch');
        },
        seoKeywords() {
            return this.$t('seo.search.keywords', {
                keywords:
                    (this.keywords &&
                        this.keywords
                            .map(tag => (tag && tag.text) || '')
                            .join(', ')) ||
                    '',
            });
        },
        seoDescription() {
            return this.$t('seo.search.description', {
                query: this.searchQuery,
                number: this.offersNumber,
            });
        },
    },
    async fetch({ redirect, store, params, route, app, from = {}, error }) {
        const { offerLanguage, code, query, page } = params;
        if (isFromStudents(from)) {
            await store.dispatch('envChangePopoverMode', 'saveSearch');
        }

        const offerLang = getCurrentOfferLanguage(
            offerLanguage,
            offerLanguages,
        );
        const paramCode = code ? decodeURI(code) : null;
        let paramQuery = query ? decodeURI(query) : null;
        const paramPage =
            decodeURI(page) > 1 ? parseInt(decodeURI(page), 10) : 1;

        const seoPage = await tryProcessSeoPage(
            paramCode,
            store.dispatch.bind(store),
        );

        if (paramCode) {
            if (!seoPage || !isObject(seoPage)) {
                error({
                    offerCode: paramCode,
                    statusCode: 404,
                });
                return;
            }
            const { location, programming } = seoPage;

            paramQuery =
                programming && programming.length > 0
                    ? `${location} ${programming}`
                    : location;
        }

        if (!process.server) {
            await store.dispatch('serverSetQuery', paramQuery);
            return;
        }

        if (isCVSearchPage(route.name)) {
            store.commit('SEARCH_SET_PAGE', 1);
            await store.dispatch('searchformInputReset');
            paramPage && paramPage > 1
                ? redirect(
                      app.localePath(
                          getServerCVSearchRedirectObject(offerLang),
                      ),
                  )
                : store.commit('SEARCH_GOT_SEARCH_RESULTS', {
                      offers: [],
                      keywords: [],
                      offersNumber: 0,
                  });
        } else if (
            isTextSearchPage(route.name) &&
            paramQuery &&
            paramQuery.length > 0
        ) {
            const offersData = await store.dispatch('serverSearch', {
                query: paramQuery,
                page: paramPage,
            });
            await setResults(offersData, paramPage, store.dispatch.bind(store));
            await store.dispatch('serverSetQuery', paramQuery);
        } else {
            store.commit('SEARCH_SET_PAGE', 1);
            await store.dispatch('searchformInputReset');
        }
    },
    created() {
        // if (!process.server) {
        //     const form = document.querySelector(
        //         `.${elClasses.searchFormWrapper}`,
        //     );
        //     this.originalFormPosition =
        //         form && form.scrollTop + form.scrollHeight;
        //     document.addEventListener('scroll', this.handleScroll);
        // }
    },
    destroyed() {
        // if (!process.server) {
        //     document.removeEventListener('scroll', this.handleScroll);
        // }
    },
    methods: {
        handleScroll() {
            const topPixel =
                window.pageYOffset || document.documentElement.scrollTop;
            if (
                topPixel < this.lastScrollTop &&
                topPixel < this.scrollTopThresholdStart
            ) {
                this.formSticky = topPixel > this.originalFormPosition;
                this.scrollBottomThresholdStart = topPixel + 80;
            } else if (
                topPixel > this.lastScrollTop &&
                topPixel > this.scrollBottomThresholdStart
            ) {
                this.formSticky = false;
                this.scrollTopThresholdStart = topPixel - 80;
            }

            this.lastScrollTop = topPixel <= 0 ? 0 : topPixel;
        },
    },
};
</script>

<style lang="scss">
$main-search-from-color: #f5f4f4;
$keywords-box-shadow: 0 -3px 3px 0 rgba(41, 51, 57, 0.4);

.search-page {
    min-height: 50vh;
}

.main-keywords-form {
    @include layout-padding;

    &__empty-text {
        width: 100%;
        padding: $spacing * 3;
        display: block;
        color: $color-grey;
        font-size: $font-size-s;
    }

    &__wrapper {
        position: relative;
        z-index: 6;
        width: 100%;
        background-color: $color-white;
        margin-bottom: -($spacing * 2);
    }
}

.main-search-form {
    @include layout-padding;

    &__wrapper {
        width: 100%;
        background-color: $color-white;
        box-shadow: $default-box-shadow;
        z-index: 5;
        position: sticky;
        top: -66px;
        @include transition(top 0.4s ease-in);

        &.main-search-form__wrapper--sticky {
            top: 0;
        }
    }

    .search-form {
        padding: ($spacing * 2) 0;
        margin: 0;
        display: flex;
        flex: 1 0 100%;
        @media screen and (max-width: $screen-tablet) {
            flex-direction: column;
            align-items: flex-end;

            &__conversational {
                display: none;
            }
        }

        &__search {
            flex: 17 1 auto;
            min-width: 150px;
            .query {
                min-width: 110px;
            }

            @media screen and (max-width: $screen-tablet) {
                min-width: 100%;
            }
        }
        &__conversational {
            flex-grow: 1;
            justify-content: center;
        }
        &__cv-container {
            flex: 1 1 $max-cv-button-width;

            @media screen and (max-width: $screen-tablet-large) {
                flex-basis: $tablet-cv-button-width;
            }

            @media screen and (max-width: $screen-tablet) {
                display: none;
            }

            .search-form__cv-label {
                display: none;
            }

            .upload-button__wrapper {
                margin: $spacing;
            }
        }
    }
}
</style>
