<template>
    <div class="company-info">
        <p>{{ name }}</p>
        <address property="address" typeof="PostalAddress">
            <p v-html="address" />
        </address>
        <address property="email">
            <p>
                <b>{{ $t('company.email') }}</b>
                <a :href="emailHref">{{ email }}</a>
            </p>
        </address>
    </div>
</template>

<script>
export default {
    name: 'CompanyInfo',
    data: () => ({
        name: 'owliphy UG',
        address: 'Parkstr. 72<br> 40477 Düsseldorf, Germany',
        email: 'info@clusterjobs.com',
        emailHref: 'mailto:info@clusterjobs.com',
    }),
};
</script>

<style lang="scss">
.company-info {
    color: $text-color-grey;

    p {
        padding: $spacing * 2 0;
    }
    a {
        @include link-decoration;
    }
}
</style>
