<template>
    <form class="feedback form">
        <div class="form__input-group">
            <label for="connect-name" class="feedback__label">
                {{ $t('contactUs.name') }}
            </label>

            <input
                type="text"
                name="connect-name"
                ref="feedbackName"
                class="feedback__input"
                id="connect-name"
            />
        </div>

        <div class="form__input-group">
            <label for="connect-email" class="feedback__label">
                {{ $t('contactUs.email') }}
            </label>

            <input
                type="email"
                name="connect-email"
                ref="feedbackEmail"
                class="feedback__input"
                id="connect-email"
            />
        </div>

        <div class="form__input-group">
            <label for="connect-message" class="feedback__label">
                {{ $t('contactUs.message') }}
            </label>
            <textarea
                name="connect-message"
                ref="feedbackMessage"
                id="connect-message"
                class="feedback__textarea"
                rows="10"
            />
        </div>

        <div class="form__button-row">
            <button
                type="submit"
                @click="formSubmit"
                :disabled="disabled"
                :aria-label="$t('aria.submitForm')"
                class="feedback__submit button button--blue"
            >
                <span>
                    {{ $t('contactUs.send') }}
                </span>
            </button>
        </div>

        <component-response :component-name="`feedbackForm`" />
    </form>
</template>

<script>
import { mapActions } from 'vuex';
import ComponentResponse from '~/components/form/response/ComponentResponse';

export default {
    name: 'ContactUsForm',
    components: {
        ComponentResponse,
    },
    data: () => ({
        disabled: false,
    }),
    methods: {
        ...mapActions(['sendFeedback']),
        formSubmit(e) {
            this.disabled = true;
            setTimeout(() => (this.disabled = false), 6000);

            this.sendFeedback({
                name: this.$refs.feedbackName.value,
                email: this.$refs.feedbackEmail.value,
                message: this.$refs.feedbackMessage.value,
            });
            e.preventDefault();
        },
    },
};
</script>

<style lang="scss">
$connect-us-input-background: #49606c;

.feedback {
    &:hover {
        box-shadow: none;
    }

    &__label {
        display: block;
        margin: $spacing * 2 0 $spacing;
    }

    &__input,
    &__textarea {
        width: 100%;
    }

    &__input {
        background-color: $connect-us-input-background;
        border: none;
        padding: $spacing * 3;
        color: $color-white;
        font-size: $font-size-m;
        @include border-radius($border-radius);
    }

    &__textarea {
        resize: vertical;
        background-color: $connect-us-input-background;
        border: none;
        padding: $spacing * 3;
        color: $color-white;
        font-size: $font-size-m;
        @include border-radius($border-radius);
    }

    &__submit {
        width: 40%;
        padding: $spacing * 3 0;
        margin: $spacing * 2 0 $spacing;
        font-size: $font-size-m;
    }
}
</style>
