<template>
    <ul class="social-media">
        <li>
            <social-link
                :name="'LinkedIn'"
                :link="'https://www.linkedin.com/company/clusterjobs/'"
            >
                <linkedin slot="svg" />
            </social-link>
        </li>
        <li>
            <social-link
                :name="'Facebook'"
                :link="'https://www.facebook.com/clusterjobs/'"
            >
                <facebook slot="svg" />
            </social-link>
        </li>
    </ul>
</template>

<script>
import SocialLink from './SocialLink';
import Linkedin from '~/static/svg/social/linkedin.svg?inline';
import Facebook from '~/static/svg/social/facebook.svg?inline';

export default {
    name: 'SocialMediaLinks',
    components: {
        Linkedin,
        Facebook,
        SocialLink,
    },
};
</script>

<style lang="scss">
.social-media {
    list-style: none;
    padding: 0;

    li {
        display: inline-block;
    }
}
</style>
