<template>
    <a
        :href="link"
        :title="name"
        rel="noopener"
        target="_blank">
        <slot name="svg">-</slot>
    </a>
</template>

<script>
export default {
    name: 'SocialNetworkLink',
    props: {
        link: {
            type: String,
            default: '#'
        },
        name: {
            type: String,
            default: ''
        },
    }
};
</script>
