<template>
    <main>
        <div class="headline">
            <h1>{{ $t('offersList.title') }}</h1>
        </div>
        <div class="main-content aside__wrapper">
            <div class="aside-menu">
                <cabinet-menu
                    :get-menu-fn="getRecruiterMenu"
                    :current="$route.name"
                />
            </div>
            <div class="aside-content company-offers">
                <div class="block company-offers__text">
                    <p>{{ $t('offersList.descriptionText') }}</p>
                </div>
                <offer-manage-list
                    v-if="recruiterOffers"
                    :offers="recruiterOffers"
                    :delete-offer="deleteRecruiterOffer"
                />
                <loading v-if="isLoading" />
                <pagination
                    v-if="totalNumber > 0"
                    :is-loading="isLoading"
                    :current-page="page"
                    :page-size="pageSize"
                    :list-length="totalNumber"
                    :on-click="changePage"
                    :route-params-fn="getOffersListPath"
                />
            </div>
        </div>
    </main>
</template>

<script>
import { mapState, mapActions } from 'vuex';
import OfferManageList from '~/components/offers-list/OfferManageList';
import CabinetMenu from '~/components/cabinet/CabinetMenu';
import Loading from '~/components/Loading';
import Pagination from '~/components/common/Pagination';
import { getRecruiterMenu } from '~/util';
import { get } from '~/util/lodash';

export default {
    middleware: 'authenticatedRecruiter',
    components: {
        OfferManageList,
        Loading,
        CabinetMenu,
        Pagination,
    },
    data: function() {
        return {
            pageSize: 15,
            page:
                parseInt(this.$route.params.page, 10) > 1
                    ? parseInt(this.$route.params.page, 10)
                    : 1,
            getRecruiterMenu,
        };
    },
    computed: {
        ...mapState({
            token: state => state.user.token,
            recruiterOffers: state => state.recruiter.recruiterOffers,
            totalNumber: state => state.recruiter.totalNumber,
            isLoading(state) {
                return get(
                    state,
                    [
                        'request',
                        'responses',
                        this.$requestModules.OFFERS_LIST,
                        'isRequestLoading',
                    ],
                    false,
                );
            },
        }),
    },
    watch: {
        token(value) {
            if (!value) return;
            this.getRecruiterOffers(this.page);
        },
    },
    mounted() {
        this.getRecruiterOffers(this.page);
    },
    methods: {
        ...mapActions([
            'requestStart',
            'requestFinish',
            'deleteOffer',
            'getRecruiterOffers',
        ]),
        changePage(pageIndex) {
            this.page = pageIndex;
            this.getRecruiterOffers(this.page);
        },
        deleteRecruiterOffer(offerId) {
            this.deleteOffer({ offerId, page: this.page });
        },
        getOffersListPath(pageIndex) {
            const routeParams = {
                name:
                    `cabinet-recruiter-offers-list` +
                    `${pageIndex > 1 ? '-page' : ''}`,
            };
            const pageParams = {};

            if (pageIndex > 1) pageParams.page = pageIndex;
            routeParams.params = pageParams;

            try {
                return this.localePath(routeParams, this.$i18n.locale);
            } catch (e) {
                return this.localePath(routeParams, 'de');
            }
        },
    },
};
</script>

<style lang="scss">
.company-offers {
    position: relative;
    min-height: 400px;
    &__text {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 60px;
        font-style: $font-size-l;
    }
}
</style>
