<template>
    <article class="block post-preview">
        <div
            class="post-preview-img"
            v-if="images">
            <img
                :data-srcset="imgSrcset"
                :src="images.small"
                alt="Article preview image"
                title="Article preview image"
                data-sizes="auto"
                class="lazyload blur-up">
        </div>
        <div class="post-preview-content">
            <h3 class="post-preview-title">{{ title }}</h3>
            <div
                class="post-preview-text"
                v-html="preview"/>
            <div class="post-preview-button-row">
                <nuxt-link :to="localePath({ name: 'blog-post', params: { post: code }})">
                    <button
                        class="button button--green"
                        :aria-label="$t('aria.goToOffer')">
                        <span>
                            Open article
                        </span>
                    </button>
                </nuxt-link>
            </div>
        </div>
    </article>
</template>

<script>
export default {
    name: 'ArticlePreview',
    props: {
        code: {
            type: String,
            default: ''
        },
        title: {
            type: String,
            default: ''
        },
        preview: {
            type: String,
            default: ''
        },
        images: {
            type: Object,
            default: () => null
        },
    },
    computed: {
        imgSrcset() {
            return `${this.images.small} 600w, ${this.images.normal} 1200w`;
        }
    }
};
</script>

<style lang="scss">
$post-preview-max-height: 240px;
$post-preview-max-height-mobile: 200px;

.post-preview {
  display: flex;
  justify-content: space-between;
  padding: 0;
  overflow: hidden;

  &-img {
    flex: 0 0 27.5%;
    max-height: $post-preview-max-height;
    @media screen and (max-width: $screen-tablet) {
      max-height: $post-preview-max-height-mobile;
    }

    img {
      object-fit: cover;
      background-size: cover;
      width: 100%;
      height: 100%;
    }
  }

  &-content {
    padding: $spacing * 3 $spacing * 4;
    max-height: $post-preview-max-height;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    flex: 0 0 72.5%;
    @media screen and (max-width: $screen-tablet) {
      max-height: $post-preview-max-height-mobile;
    }

    .post-preview-title {
      border-bottom: $narrow-border;
      padding: $spacing * 2 0;
    }

    .post-preview-text {
      overflow: hidden;
      font-size: $font-size-l;
      line-height: 1.5em;
      padding: $spacing * 4 0;
      @include shading-out(to bottom, 1, 80%);

      @media screen and (max-width: $screen-tablet) {
        @include shading-out(to bottom, 1, 60%);
        font-size: $font-size-s;
        line-height: 1.2em;
      }
    }

    .post-preview-button-row {
      padding-top: $spacing * 2;
      display: flex;
      justify-content: flex-end;
    }
  }
}
</style>
