<template>
    <article class="featured block">
        <div
            class="featured-img"
            v-if="images">
            <img
                :data-srcset="imgSrcset"
                :src="images.small"
                alt="Article preview image"
                title="Article preview image"
                data-sizes="auto"
                class="lazyload blur-up">
        </div>
        <div class="featured-content">
            <h2 class="featured-title">{{ title }}</h2>
            <div
                class="featured-preview"
                v-html="preview"/>
            <div class="featured-button-row">
                <nuxt-link :to="localePath({ name: 'blog-post', params: { post: code }})">
                    <button
                        class="button button--green"
                        :aria-label="$t('aria.goToOffer')">
                        <span>
                            Open article
                        </span>
                    </button>
                </nuxt-link>
            </div>
        </div>
    </article>
</template>

<script>
export default {
    name: 'FeaturedArticle',
    props: {
        code: {
            type: String,
            default: ''
        },
        title: {
            type: String,
            default: ''
        },
        preview: {
            type: String,
            default: ''
        },
        images: {
            type: Object,
            default: () => null
        },
    },
    computed: {
        imgSrcset() {
            return `${this.images.small} 400w, ${this.images.normal} 800w, ${this.images.big} 1200w`;
        }
    }
};
</script>

<style lang="scss">
$featured-img-height: 300px;
$featured-img-max-height: 700px;
$featured-text-height: 300px;

.featured {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
  overflow: hidden;
  margin-bottom: $spacing * 20;

  &-img {
    flex: 3 0 auto;
    min-height: $featured-img-height;
    height: 50vh;
    max-height: $featured-img-max-height;
    overflow: hidden;

    img {
      object-fit: cover;
      background-size: cover;
      width: 100%;
      height: 100%;
    }
  }

  &-content {
    flex-grow: 5;
    flex-basis: 0;
    min-height: $featured-text-height;
    padding: $spacing * 3 $spacing * 4;
    display: flex;
    flex-direction: column;
    align-content: space-between;

    .featured-title {
      border-bottom: $narrow-border;
      padding: $spacing * 2 0;
    }

    .featured-preview {
      padding: $spacing * 4 0;
      overflow: hidden;
      font-size: $font-size-l;
      line-height: 1.6em;
      @include shading-out(to bottom, 1, 80%);

      @media screen and (max-width: $screen-tablet) {
        @include shading-out(to bottom, 1, 60%);
        font-size: $font-size-s;
        line-height: 1.2em;
      }
    }

    .featured-button-row {
      padding-top: $spacing * 4;
      display: flex;
      justify-content: flex-end;
    }
  }
}
</style>
