<template>
    <section class="recent-posts">
        <h2
            class="section-title"
            v-if="posts && posts.length">
            Recent posts
        </h2>
        <ul
            class="posts-list"
            v-if="posts">
            <li
                v-for="post in posts"
                :key="post.id">
                <article-preview v-bind="post"/>
            </li>
        </ul>
    </section>
</template>

<script>
import ArticlePreview from '~/components/blog/ArticlePreview';

export default {
    name: 'RecentArticles',
    components: {
        ArticlePreview
    },
    props: {
        posts: {
            type: Array,
            default: () => []
        }
    },
};
</script>

<style lang="scss">
.recent-posts {
  margin-bottom: $spacing * 30;
}
</style>
