<template>
    <div>
        <div
            class="input-container"
            :class="{
                'input-container--with-ssgs': showssgs,
                'input-container--focused': focused,
            }"
        >
            <label :for="name" class="hidden">
                {{ label }}
            </label>
            <input
                type="text"
                class="query"
                :name="name"
                :id="name"
                :value="value"
                @input="changeHandler"
                @keydown="keyHandler"
                @scroll="updateQueryTagsScroll"
                @focus="onFocus"
                @blur="onBlur"
                :placeholder="placeholder"
                spellcheck="false"
                autocapitalize="none"
                autocomplete="off"
                aria-autocomplete="both"
                aria-expanded="true"
                :aria-owns="ssgsId"
                role="combobox"
            />

            <div
                class="query-tags"
                :class="{ hidden: !focused }"
                :id="`${name}-query-tags`"
            >
                <template v-for="(tag, index) in queryTags">
                    <span
                        :key="index"
                        :class="[
                            'query-tag',
                            tag.type !== 'none' ? `query-tag--${tag.type}` : '',
                            tag.text.trim().length > 0 ? 'query-tag--text' : '',
                        ]"
                    >
                        {{ tag.text }}
                    </span>
                </template>
            </div>

            <button
                :aria-label="searchbuttontext"
                class="search-button button button--orange"
                :class="searchbuttonclass"
                :title="searchbuttontext"
                @click="onclick"
            >
                <span>{{ searchbuttontext }}</span>
            </button>
        </div>
    </div>
</template>

<script>
export default {
    name: 'SearchInput',
    props: {
        ssgsId: {
            type: String,
            default: null,
        },
        name: {
            type: String,
            default: '',
        },
        label: {
            type: String,
            default: '',
        },
        showssgs: {
            type: Boolean,
            default: false,
        },
        placeholder: {
            type: String,
            default: '',
        },
        oninput: {
            type: Function,
            default: null,
        },
        selectprev: {
            type: Function,
            default: null,
        },
        selectnext: {
            type: Function,
            default: null,
        },
        onenter: {
            type: Function,
            default: null,
        },
        value: {
            type: String,
            default: '',
        },
        onclick: {
            type: Function,
            default: null,
        },
        searchbuttontext: {
            type: String,
            default: '',
        },
        searchbuttonclass: {
            type: String,
            default: '',
        },
        recognisedtags: {
            type: Array,
            default: () => [],
        },
    },
    data: () => ({
        queryTags: [],
        focused: false,
    }),
    watch: {
        recognisedtags(val) {
            this.updateQueryTags(val, this.value);
        },
        value(val) {
            this.updateQueryTags(this.recognisedtags, val);
        },
    },
    methods: {
        changeHandler(e) {
            this.updateQueryTagsScroll();
            this.oninput(e.target.value);
        },
        keyHandler(e) {
            switch (e.which) {
                case 13: {
                    this.onenter();
                    e.preventDefault();
                    break;
                }
                case 38: {
                    this.selectprev();
                    e.preventDefault();
                    break;
                }
                case 40: {
                    this.selectnext();
                    e.preventDefault();
                    break;
                }
            }
        },
        updateQueryTags(recognisedTags, query = '') {
            function getQueryPart(val, type) {
                return {
                    text: val,
                    type,
                };
            }

            if (!recognisedTags || !recognisedTags.length) {
                this.queryTags = [];
                return;
            }

            let userQuery = query || '';
            let lowerCaseQuery = query ? query.toLowerCase() : '';
            const newQueryTags = [];
            let lastTagIndex = 0;
            recognisedTags.forEach(tag => {
                const foundTagIndex = lowerCaseQuery.indexOf(tag.text);
                if (foundTagIndex < 0) return;

                lastTagIndex = foundTagIndex + tag.text.length;
                const unrecognisedPart = userQuery.substring(0, foundTagIndex);
                const recognisedPartText = userQuery.substring(
                    foundTagIndex,
                    lastTagIndex,
                );

                lowerCaseQuery = lowerCaseQuery.substring(lastTagIndex);
                userQuery = userQuery.substring(lastTagIndex);

                newQueryTags.push(
                    getQueryPart(unrecognisedPart, 'none'),
                    getQueryPart(recognisedPartText, tag.type),
                );
            });
            const lastUnrecognisedPart = userQuery.substring(lastTagIndex);
            const lastPart = getQueryPart(lastUnrecognisedPart, 'none');
            if (lastPart.text.trim().length > 0) {
                newQueryTags.push(lastPart);
            }

            newQueryTags.filter(tag => tag.length > 0);
            this.queryTags = newQueryTags.map(({ text, type }) => ({
                type,
                text: text.replace(/ /g, '\u00A0'),
            }));
        },
        updateQueryTagsScroll() {
            const input = document.getElementById(this.name);
            const queryTags = document.getElementById(
                `${this.name}-query-tags`,
            );
            queryTags.style.left = `${-input.scrollLeft}px`;
        },
        onFocus() {
            this.focused = true;
        },
        onBlur() {
            this.focused = false;
        },
    },
};
</script>

<style lang="scss">
.input-container {
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: relative;
    border: $narrow-border-light;
    background-color: $color-white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include border-radius($border-radius);
    @include transition(border-color 0.2s ease-in);

    @media screen and (max-width: $screen-mobile-large) {
        height: 100%;
    }

    &--with-ssgs {
        @include border-radius-bottomleft(0);
        @include border-radius-bottomright(0);
    }

    &--focused {
        border-color: $color-darkest-grey;
    }
}

.query {
    height: $input-height - $spacing * 4;
    margin: 6px 0 6px $spacing * 3;
    @include border-radius($border-radius);
    border: 0;
    padding: 0 0 0 $spacing;
    font-size: $font-size-xl;
    flex: 3 0 0;
    min-width: 150px;

    .page--rtl & {
        margin: 6px $spacing * 3 6px 0;
        padding-left: 0;
        padding-right: $spacing;
    }

    @media screen and (max-width: $screen-tablet-large) {
        margin: $spacing * 2 $spacing * 3;
        font-size: $font-size-m;
    }
}

.query-tags {
    position: absolute;
    display: flex;
    align-items: center;
    pointer-events: none;

    height: $input-height - $spacing * 3;
    margin: $spacing 0 $spacing $spacing * 3;
    border: 0;
    padding-left: $spacing;
    font-size: $font-size-xl;
    @media screen and (max-width: $screen-tablet-large) {
        margin: $spacing * 2 $spacing * 3;
        font-size: $font-size-m;
    }
}

.query-tag {
    color: rgba(0, 0, 0, 0);
    margin-right: 1px;

    &--text:not(:last-child) {
        margin-right: -2px;
    }

    &--title {
        border-bottom: 3px solid $color-dark-grey;
    }

    &--destination {
        border-bottom: 3px solid $color-green-light;
    }

    &--skill {
        border-bottom: 3px solid $main-color-light;
    }

    &--language {
        border-bottom: 3px solid $color-orange-light;
    }

    &--benefits {
        border-bottom: 3px solid $color-pink-light;
    }
}
</style>
