<template>
    <div class="search-form__cv-container">
        <label class="search-form__cv-label" for="search-by-cv">
            {{ $t('search.cvLabel') }}
        </label>

        <div class="upload-button__wrapper">
            <button
                :aria-label="searchButtonText"
                class="button button--blue upload-button upload-button--mobile-text"
            >
                <span class="upload-button-text">{{ searchButtonText }}</span>
                <span class="upload-button-mobile-text">{{
                    searchButtonMobileText
                }}</span>
            </button>

            <input
                ref="cvFileInput"
                name="cv"
                type="file"
                @change="cvSearch"
                id="search-by-cv"
            />

            <div class="search-form__cv-file-name-wrapper">
                <span
                    v-if="file && file.name"
                    class="search-form__cv-file-name"
                >
                    {{ file.name }}
                </span>
            </div>
        </div>
    </div>
</template>

<script>
import { mapActions, mapState } from 'vuex';

export default {
    name: 'SearchByCv',
    props: {
        searchButtonText: {
            type: String,
            default: '',
        },
        searchButtonMobileText: {
            type: String,
            default: '',
        },
    },
    methods: {
        ...mapActions(['fileSearch']),
        cvSearch(e) {
            this.$ga &&
                this.$ga.event({
                    eventCategory: 'action',
                    eventAction: 'search',
                    eventLabel: 'search-by-cv',
                });
            e.preventDefault();
            if (!this.$refs || !this.$refs.cvFileInput) {
                return;
            }
            const file = this.$refs.cvFileInput.files[0];
            this.fileSearch(file);
        },
    },
    computed: {
        ...mapState({
            file: state => state.search.file,
        }),
    },
};
</script>

<style lang="scss">
$cv-button-font-size: 18px;
$cv-file-name-max-size: 200px;

.search-form__cv {
    &-container {
        display: inline-flex;
        justify-content: space-between;

        .upload-button {
            border: 0;
            width: 100%;
            height: $input-height;
            font-size: $cv-button-font-size;
            padding: $spacing 0;

            &__wrapper {
                margin: 0;
                flex-grow: 1;
                flex-basis: 0;
            }
        }
    }

    &-label {
        font-size: $font-size-xl;
        color: $color-darkest-grey;
        display: inline-block;
        margin: 0 $spacing * 4 0 $spacing;
        flex-grow: 2;
        flex-basis: 0;
        line-height: 40px;
        @media screen and (max-width: $screen-tablet) {
            font-size: $font-size-m;
            flex-grow: 4;
        }
    }

    &-file-name {
        font-size: $font-size-s;
        text-overflow: ellipsis;
        max-width: $cv-file-name-max-size;
        display: block;
        white-space: nowrap;
        overflow: hidden;
        margin: $spacing * 2;
        color: $text-color-grey;

        &-wrapper {
            width: 100%;
            display: flex;
            justify-content: center;
        }
    }
}
</style>
