.error-page {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 50%;
    margin: $spacing * 12 auto;

    @media screen and (max-width: $screen-tablet-large) {
        max-width: 100%;
    }

    img {
        min-width: 100%;
        max-width: 100%;
    }
}
