<template>
    <div
        class="page"
        :class="{ 'page--rtl': this.$i18n.locale === 'ar' }"
        itemscope="itemscope"
        itemtype="http://schema.org/WebPage"
    >
        <header class="main-header__wrapper">
            <div class="main-header">
                <a
                    :href="localePath({ name: 'index' })"
                    class="main-header__logo-wrapper"
                >
                    <img
                        src="/logo/clusterjobs.png"
                        alt="clusterjobs - let AI find your perfect job"
                        title="Open homepage"
                        class="lazyload main-header__logo"
                    />
                </a>
                <div class="main-header__panel">
                    <panel-container />
                </div>
            </div>
        </header>
        <nuxt class="" />
        <client-only>
            <cookie-notification
                v-if="showCookieNotification && allowedToWriteCookies"
            />
        </client-only>
        <footer class="main-footer__wrapper">
            <div class="main-footer">
                <nav class="footer__nav">
                    <ul>
                        <li>
                            <a :href="localePath({ name: 'index' })">{{
                                $t('links.home')
                            }}</a>
                        </li>
                        <li>
                            <a :href="localePath({ name: 'blog' })">{{
                                $t('links.blog')
                            }}</a>
                        </li>
                        <li>
                            <a
                                :href="
                                    localePath({
                                        name: 'jobs-alphabet-letter',
                                        params: { letter: 'A' },
                                    })
                                "
                                >{{ $t('links.alphabet') }}</a
                            >
                        </li>
                        <li>
                            <a
                                rel="nofollow"
                                :href="
                                    localePath({
                                        name: 'company-terms-and-conditions',
                                    })
                                "
                            >
                                {{ $t('links.termsAndConditions') }}
                            </a>
                        </li>
                        <li>
                            <a
                                rel="nofollow"
                                :href="
                                    localePath({
                                        name: 'company-privacy-policy',
                                    })
                                "
                                >{{ $t('links.privacyPolicy') }}</a
                            >
                        </li>
                        <li>
                            <a
                                rel="nofollow"
                                :href="
                                    localePath({ name: 'company-impressum' })
                                "
                                >{{ $t('links.impressum') }}</a
                            >
                        </li>
                    </ul>
                </nav>
                <div class="footer__details">
                    <section class="footer__details-section">
                        <h4>
                            {{ $t('footer.socialMedia') }}
                        </h4>
                        <social-media-links />
                        <h4>
                            {{ $t('footer.selectLanguage') }}
                        </h4>
                        <languages-list css-class="footer__languages" />
                        <h4>{{ $t('footer.ourCompany') }}</h4>
                        <company-info />
                    </section>
                    <section class="footer__details-section">
                        <h4>{{ $t('footer.contactFormTitle') }}</h4>
                        <contact-us-form />
                    </section>
                </div>
            </div>
        </footer>
        <div class="copyright__wrapper">
            <div class="copyright">
                <p>
                    {{ $t('footer.copyright') }} {{ new Date().getFullYear() }}.
                    {{ $t('footer.rightsReserved') }}
                </p>
            </div>
        </div>
    </div>
</template>

<script>
import { mapState } from 'vuex';
import { hydrateWhenVisible } from 'vue-lazy-hydration';
import PanelContainer from '~/components/header-panel/panel/PanelContainer.vue';
import CookieNotification from '~/components/modal/CookieNotification.vue';
import CompanyInfo from '~/components/footer/CompanyInfo.vue';
import SocialMediaLinks from '~/components/footer/SocialMediaLinks.vue';
import LanguagesList from '~/components/common/LanguagesList';
import { processAlternateLinks } from '~/util';

export default {
    components: {
        CompanyInfo,
        ContactUsForm: hydrateWhenVisible(() =>
            import('../components/footer/ContactUsForm.vue'),
        ),
        SocialMediaLinks,
        PanelContainer,
        CookieNotification,
        LanguagesList,
    },
    computed: {
        ...mapState({
            showCookieNotification: state =>
                !state.environment.cookieNotificationClosed,
            allowedToWriteCookies: state =>
                state.environment.allowedToWriteCookies,
        }),
    },
    head() {
        const i18nSeo = this.$nuxtI18nSeo();
        return {
            meta: [
                {
                    hid: `og:site_name`,
                    property: 'og:site_name',
                    content: this.$t('seo.general.siteName'),
                },
            ],
            link: processAlternateLinks(i18nSeo.link),
        };
    },
};
</script>
