<template>
    <div class="main-content">
        <template v-if="error.offerCode">
            <not-found-offer :offer-code="error.offerCode" />
        </template>
        <section v-else class="error-page">
            <template v-if="[404, 410].includes(error.statusCode)">
                <h1>{{ $t('error.notFound') }}</h1>
                <img
                    data-srcset="/img/404-400.png 400w,
           /img/404-800.png 800w,
           /img/404-1200.png 1200w"
                    src="/img/404-400.png"
                    alt="404 Error image"
                    title="404 Error image"
                    data-sizes="auto"
                    class="lazyload blur-up"
                />
                <div class="block">
                    <p>{{ $t('error.notfoundText') }}</p>
                    <nuxt-link :to="localePath({ name: 'index' })">
                        {{ $t('error.toHomepage') }}
                    </nuxt-link>
                </div>
            </template>
            <template v-else>
                <h1>{{ $t('error.error') }}</h1>
                <img
                    data-srcset="/img/error-400.png 400w,
         /img/error-800.png 800w,
         /img/error-1200.png 1200w"
                    src="/img/error-400.png"
                    alt="Error image"
                    title="Error image"
                    data-sizes="auto"
                    class="lazyload blur-up"
                />
                <div class="block">
                    <p>{{ $t('error.errorText') }}</p>
                    <nuxt-link :to="localePath({ name: 'index' })">
                        {{ $t('error.toHomepage') }}
                    </nuxt-link>
                </div>
            </template>
        </section>
    </div>
</template>

<script>
import NotFoundOffer from '~/components/offer-page/NotFoundOffer';
import { processAlternateLinks } from '~/util';
import { capitalize } from '~/util/string';

export default {
    components: {
        NotFoundOffer,
    },
    props: {
        error: {
            type: Object,
            default: () => ({}),
        },
    },
    head() {
        const i18nSeo = this.$nuxtI18nSeo();
        return {
            meta: [
                {
                    hid: `og:site_name`,
                    property: 'og:site_name',
                    content: this.$t('seo.general.siteName'),
                },
            ],
            link: [...processAlternateLinks(i18nSeo.link)],
        };
    },
    serverPrefetch() {
        const title = capitalize(
            this.error &&
                this.error.offerCode &&
                this.error.offerCode.split('-').join(' '),
        );
        return (
            title &&
            this.$store
                .dispatch('setNotFoundOfferTitle', title)
                .then(() => this.$store.dispatch('getNotFoundSubstituteOffers'))
                .then(() => this.$store.dispatch('getPopularOffersSeoPages'))
        );
    },
};
</script>
