<template>
    <div
        class="landing-page"
        itemscope="itemscope"
        itemtype="http://schema.org/WebPage"
    >
        <nuxt />
        <client-only>
            <cookie-notification
                v-if="showCookieNotification && allowedToWriteCookies"
            />
        </client-only>
        <footer class="copyright__wrapper">
            <div class="copyright">
                <p>
                    {{ $t('footer.copyright') }} {{ new Date().getFullYear() }}.
                    {{ $t('footer.rightsReserved') }}
                </p>
            </div>
        </footer>
    </div>
</template>

<script>
import { mapState } from 'vuex';
import CookieNotification from '~/components/modal/CookieNotification.vue';
import { processAlternateLinks } from '~/util';

export default {
    components: {
        CookieNotification,
    },
    computed: {
        ...mapState({
            showCookieNotification: state =>
                !state.environment.cookieNotificationClosed,
            allowedToWriteCookies: state =>
                state.environment.allowedToWriteCookies,
        }),
    },
    head() {
        const i18nSeo = this.$nuxtI18nSeo();
        return {
            meta: [
                {
                    hid: `og:site_name`,
                    property: 'og:site_name',
                    content: this.$t('seo.general.siteName'),
                },
            ],
            link: [...processAlternateLinks(i18nSeo.link)],
        };
    },
};
</script>
