<template>
    <section class="form-section">
        <div class="heading">
            <h2>{{ $t('savedSearches.listFormTitle') }}</h2>
            <hr class="delimeter heading-delimeter" />
        </div>

        <ul class="searches-list">
            <li
                v-for="(search, index) in searches"
                :key="`schedule-element-wrapper-${index}`"
            >
                <save-search-list-element
                    v-if="search && search.query"
                    :id="search.id"
                    :query="search.query"
                    :schedule="search.schedule"
                    :key="`schedule-element-${index}`"
                />
            </li>
        </ul>
        <loading v-if="isLoading" />
    </section>
</template>

<script>
import { mapState } from 'vuex';
import SaveSearchListElement from './SaveSearchListElement';
import Loading from '~/components/Loading';
import { get } from '~/util/lodash';

export default {
    name: 'SaveSearchesList',
    components: {
        SaveSearchListElement,
        Loading,
    },
    props: {
        searches: {
            type: Array,
            default: () => [],
        },
    },
    computed: {
        ...mapState({
            isLoading(state) {
                return get(
                    state,
                    [
                        'request',
                        'responses',
                        this.$requestModules.SAVE_SEARCH,
                        'isRequestLoading',
                    ],
                    false,
                );
            },
        }),
    },
};
</script>

<style lang="scss">
.searches-list {
    padding: 0;
    display: flex;
    flex: 1 0 100%;
    justify-content: space-between;
    flex-direction: column;
}
</style>
