<template>
    <article class="saved-search">
        <button @click="toggleSchedule" class="button button--accordeon">
            <span>{{ query }}</span>
            <span v-if="schedule.isWeekly && schedule.weekDays.length">
                {{
                    $t('savedSearches.weekly', {
                        days: schedule.weekDays.join(', '),
                    })
                }}
            </span>
            <span v-else-if="schedule.monthDays.length">
                {{
                    $t('savedSearches.monthly', {
                        days: schedule.monthDays.join(', '),
                    })
                }}
            </span>
        </button>
        <accordeon :open="isOpen">
            <save-searches-schedule
                :key="`schedule-${parseInt(id, 10)}`"
                v-bind="schedule"
                :id="parseInt(id, 10)"
                slot="component"
            />
        </accordeon>
    </article>
</template>

<script>
import Accordeon from '../../common/Accordeon';
import SaveSearchesSchedule from './SaveSearchesSchedule';

export default {
    name: 'SaveSearchListElement',
    components: {
        SaveSearchesSchedule,
        Accordeon,
    },
    props: {
        id: {
            type: [Number, String],
            default: 0,
        },
        query: {
            type: String,
            default: '',
        },
        schedule: {
            type: Object,
            default: () => ({}),
        },
    },
    data: () => ({
        isOpen: false,
    }),
    methods: {
        toggleSchedule() {
            this.isOpen = !this.isOpen;
        },
    },
};
</script>

<style lang="scss">
.saved-search {
    width: 100%;

    .button--accordeon {
        min-width: 100%;
        display: flex;
        justify-content: space-between;
    }
}
</style>
