<template>
    <form class="mail-schedule" @submit.prevent="handleSubmit">
        <div class="form__input-group">
            <form-select
                :label="$t('savedSearches.scheduleTypes')"
                :id="`schedule-type-${id}`"
                :value="formScheduleType"
                :update-value="updateScheduleType"
                :options="selectOptions"
            />
        </div>

        <div class="form__input-group">
            <form-checkbox-list
                v-if="formScheduleType === 'weekly'"
                :label="$t('savedSearches.weeklyDays')"
                :id="`weekly-days-${id}`"
                :key="`weekly-days-${id}`"
                :values="formWeekDays"
                :update-value="updateWeekDays"
                :options="allWeekDays"
            />
            <form-multi-input
                v-if="formScheduleType === 'monthly'"
                :label="$t('savedSearches.monthlyDays')"
                :clarification="$t('savedSearches.monthlyDaysClarification')"
                :id="`monthly-days-${id}`"
                :placeholder="$t('savedSearches.monthlyDaysExample')"
                :values="formMonthDays"
                :type="'number'"
                :min="1"
                :max="31"
                :update-value="updateMonthDays"
            />
        </div>
        <div class="form__button-row">
            <button
                @click="saveSearchSchedule"
                :aria-label="$t('savedSearches.saveSearchSchedule')"
                class="button button--green"
            >
                <span>
                    {{ $t('savedSearches.saveSearchSchedule') }}
                </span>
            </button>
            <button
                @click="deleteSearchSchedule"
                :aria-label="$t('savedSearches.saveSearchSchedule')"
                class="button button--grey"
            >
                <span>
                    {{ $t('savedSearches.removeSearchSchedule') }}
                </span>
            </button>
        </div>
        <component-response :component-name="$requestModules.SAVE_SEARCH" />
    </form>
</template>

<script>
import { mapActions } from 'vuex';
import ComponentResponse from '~/components/form/response/ComponentResponse';
import FormSelect from '~/components/form/FormSelect';
import FormCheckboxList from '~/components/form/FormCheckboxList';
import FormMultiInput from '~/components/form/FormMultiInput';

export default {
    name: 'SaveSearchesSchedule',
    components: {
        ComponentResponse,
        FormSelect,
        FormCheckboxList,
        FormMultiInput,
    },
    props: {
        id: {
            type: Number,
            default: 0,
        },
        isWeekly: {
            type: Boolean,
            default: false,
        },
        weekDays: {
            type: Array,
            default: () => [],
        },
        monthDays: {
            type: Array,
            default: () => [],
        },
    },
    data() {
        return {
            selectOptions: [
                {
                    value: 'weekly',
                    text: this.$t('savedSearches.weeklyOption'),
                },
                {
                    value: 'monthly',
                    text: this.$t('savedSearches.monthlyOption'),
                },
            ],
            allWeekDays: [
                'Monday',
                'Tuesday',
                'Wednesday',
                'Thursday',
                'Friday',
                'Saturday',
                'Sunday',
            ],
            formScheduleType: this.isWeekly ? 'weekly' : 'monthly',
            formWeekDays: this.weekDays.slice(),
            formMonthDays: this.monthDays.slice(),
        };
    },
    watch: {
        isWeekly(val) {
            this.formScheduleType = val ? 'weekly' : 'monthly';
        },
        weekDays(val) {
            this.formWeekDays = val.slice();
        },
        monthDays(val) {
            this.formMonthDays = val.slice();
        },
    },
    methods: {
        ...mapActions(['updateSaveSearch', 'removeSearchSchedule']),
        updateScheduleType(val) {
            this.formScheduleType = val.slice();
        },
        updateWeekDays(val) {
            this.formWeekDays = val.slice();
        },
        updateMonthDays(val) {
            this.formMonthDays = val.slice();
        },
        saveSearchSchedule() {
            this.updateSaveSearch({
                id: this.id,
                isWeekly: this.formScheduleType === 'weekly',
                weekDays: this.formWeekDays,
                monthDays: this.formMonthDays,
            });
        },
        deleteSearchSchedule() {
            this.removeSearchSchedule(this.id);
        },
        handleSubmit(e) {
            e.preventDefault();
        },
    },
};
</script>

<style lang="scss"></style>
