<template>
    <main class="profile">
        <div class="headline">
            <h1>{{ $t('account.title') }}</h1>
        </div>
        <div class="main-content aside__wrapper">
            <div class="aside-menu">
                <cabinet-menu
                    :get-menu-fn="getRecruiterMenu"
                    :current="$route.name"
                />
            </div>
            <div class="aside-content">
                <div v-if="userData === null" class="preloader">
                    <loading />
                </div>
                <account-form v-else :user-data="userData" />
            </div>
        </div>
    </main>
</template>

<script>
import { mapState } from 'vuex';
import CabinetMenu from '~/components/cabinet/CabinetMenu';
import AccountForm from '~/components/cabinet/AccountForm';
import Loading from '~/components/Loading';
import { getRecruiterMenu } from '~/util';

export default {
    middleware: 'authenticatedRecruiter',
    components: {
        CabinetMenu,
        AccountForm,
        Loading,
    },
    computed: {
        ...mapState({
            userData: state => state.user.userData,
        }),
    },
    data: () => ({
        getRecruiterMenu,
    }),
};
</script>
