<template>
    <main class="add-offer">
        <div class="headline">
            <h1>{{ $t('addOffer.title') }}</h1>
        </div>
        <div class="main-content aside__wrapper">
            <div class="aside-menu">
                <cabinet-menu
                    :get-menu-fn="getRecruiterMenu"
                    :current="$route.name"
                />
            </div>
            <div class="aside-content">
                <offer-form
                    :on-button-click="addOffer"
                    :button-text="$t('addOffer.button')"
                />
            </div>
        </div>
    </main>
</template>

<script>
import { mapActions } from 'vuex';
import OfferForm from '~/components/cabinet/recruiter/OfferForm';
import { getRecruiterMenu } from '~/util';
import CabinetMenu from '~/components/cabinet/CabinetMenu';

export default {
    middleware: 'authenticatedRecruiter',
    components: {
        OfferForm,
        CabinetMenu,
    },
    data: () => ({
        getRecruiterMenu,
    }),
    methods: {
        ...mapActions(['addOffer']),
    },
};
</script>
