<template>
    <div class="notification__wrapper">
        <article class="notification">
            <h3 class="hidden">{{ $t('cookieNotification.title') }}</h3>
            <div class="notification__panel">
                <p class="notification__text">
                    {{ $t('cookieNotification.text') }}
                </p>
                <div class="notification__actions">
                    <button
                        :aria-label="$t('aria.close')"
                        class="notification__button button"
                        @click="envCloseCookie()">
                        <span class="notification__button-text">
                            {{ $t('cookieNotification.close') }}
                        </span>
                    </button>
                    <a
                        :href="localePath({ name: 'company-privacy-policy' })"
                        class="notification__link">
                        {{ $t('cookieNotification.infoLink') }}
                    </a>
                </div>
            </div>
        </article>
    </div>
</template>

<script>
import { mapActions } from 'vuex';
export default {
    name: 'CookieNotification',
    methods: {
        ...mapActions(['envCloseCookie']),
    },
};
</script>

<style lang="scss">

.notification {
    @include layout-padding;

    &__wrapper {
      background-color: $color-white;
      border-top: $narrow-border;
      position: fixed;
      z-index: 5;
      width: 100vw;
      width: 100%;
      bottom: 0;
    }

    &__panel {
        padding: $spacing * 3 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media screen and (max-width: $screen-tablet) {
          flex-direction: column;
        }
    }
    &__text {
        flex-grow: 5;
        padding-right: $spacing * 2;
        font-size: $font-size-s;
        @media screen and (max-width: $screen-tablet) {
          margin-bottom: $spacing * 2;
        }
    }
    &__actions {
        flex-grow: 2;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__button {
        flex-grow: 1;
        &-text {
            font-size: $font-size-s;
        }
    }
    &__link {
        padding: 0 $spacing * 4;
        flex-grow: 1;
    }
}
</style>
