<template>
    <section class="post">
        <div class="post-img">
            <img
                v-if="images"
                :data-srcset="imgSrcset"
                :src="images.small"
                data-sizes="auto"
                alt="Article main image"
                title="Article main image"
                class="lazyload blur-up"
            />
        </div>
        <div class="main-content blog-content">
            <div class="post-title">
                <h1>{{ `> ${title}` }}</h1>
            </div>
            <div class="post-content" v-html="text" />
            <div class="post-links">
                <nuxt-link :to="localePath({ name: 'blog' })">
                    <button class="button">
                        <span>{{ $t('blog.backToMain') }}</span>
                    </button>
                </nuxt-link>

                <nuxt-link
                    v-if="nextPostCode"
                    :to="
                        localePath({
                            name: 'blog-post',
                            params: { post: nextPostCode },
                        })
                    "
                >
                    <button class="button button--green">
                        <span>{{ $t('blog.nextArticle') }}</span>
                    </button>
                </nuxt-link>
            </div>
            <recent-articles />
        </div>
    </section>
</template>

<script>
import { mapState, mapActions } from 'vuex';
import RecentArticles from '~/components/blog/RecentArticles.vue';

export default {
    head() {
        return {
            title: `${this.seoTitle} - clusterjobs`,
            meta: [
                {
                    hid: 'keywords',
                    name: 'keywords',
                    content: this.seoKeywords,
                },
                {
                    hid: 'description',
                    name: 'description',
                    content: this.seoDescription,
                },
                {
                    hid: `og:title`,
                    property: 'og:title',
                    content: `${this.seoTitle} - clusterjobs`,
                },
                {
                    hid: `og:description`,
                    property: 'og:description',
                    content: this.seoDescription,
                },
                {
                    hid: `og:image`,
                    property: 'og:image',
                    content: this.images.normal,
                },
                {
                    hid: `og:image:secure_url`,
                    property: 'og:image:secure_url',
                    content: this.images.normal,
                },
                {
                    hid: `og:image:type`,
                    property: 'og:image:type',
                    content: 'image/jpg',
                },
            ],
        };
    },
    layout: 'blog',
    components: {
        RecentArticles,
    },
    computed: {
        ...mapState({
            title: ({ blog: { posts, currentPostCode } }) =>
                (posts[currentPostCode] && posts[currentPostCode].title) || '',
            images: ({ blog: { posts, currentPostCode } }) =>
                (posts[currentPostCode] && posts[currentPostCode].images) || [],
            text: ({ blog: { posts, currentPostCode } }) =>
                (posts[currentPostCode] && posts[currentPostCode].text) || '',
            seoTitle: ({ blog: { posts, currentPostCode } }) =>
                (posts[currentPostCode] && posts[currentPostCode].seoTitle) ||
                '',
            seoKeywords: ({ blog: { posts, currentPostCode } }) =>
                (posts[currentPostCode] &&
                    posts[currentPostCode].seoKeywords) ||
                '',
            seoDescription: ({ blog: { posts, currentPostCode } }) =>
                (posts[currentPostCode] &&
                    posts[currentPostCode].seoDescription) ||
                '',
            nextPostCode: ({ blog: { currentPostCode, nextPostCode } }) =>
                currentPostCode !== nextPostCode && nextPostCode,
        }),
        imgSrcset() {
            return `${this.images.small} 400w, ${this.images.normal} 800w, ${this.images.big} 1200w`;
        },
    },
    async fetch({ params, store: { dispatch } }) {
        await dispatch('blogLoadPost', params.post);
    },
    methods: {
        ...mapActions(['blogLoadPost']),
    },
};
</script>

<style lang="scss">
$post-min-img-height: 500px;

.post {
    &-img {
        min-height: $post-min-img-height;
        height: 60vh;
        width: 100%;

        img {
            object-fit: cover;
            background-size: cover;
            width: 100%;
            height: 100%;
        }
    }

    &-content {
        margin-bottom: $spacing * 5;
        font-size: $font-size-xl;
        line-height: 1.8em;

        ul,
        ol {
            list-style: disc;
        }
    }

    &-links {
        margin-top: $spacing * 10;
        margin-bottom: $spacing * 15;
        display: flex;
        justify-content: space-between;

        span {
            font-size: $font-size-xl;
        }
    }
}

.attachment--preview {
    display: flex;
    justify-content: center;

    img {
        object-fit: cover;
        background-size: cover;
        width: 100%;
        height: 100%;
        max-width: max-content;
    }
}
</style>
