<template>
    <section class="blog-main">
        <div class="blog-title__wrapper">
            <div class="blog-title">
                <h1>{{ $t('blog.title') }}</h1>
            </div>
        </div>
        <div class="main-content blog-content">
            <featured-article v-bind="blogFeaturedArticle" />
            <recent-articles :posts="blogRecentArticles" />
        </div>
    </section>
</template>

<script>
import { mapGetters } from 'vuex';
import FeaturedArticle from '~/components/blog/FeaturedArticle.vue';
import RecentArticles from '~/components/blog/RecentArticles.vue';

export default {
    head() {
        return {
            title: this.$t('blog.seoTitle'),
            meta: [
                {
                    hid: 'keywords',
                    name: 'keywords',
                    content: this.$t('blog.seoKeywords'),
                },
                {
                    hid: 'description',
                    name: 'description',
                    content: this.$t('blog.seoDescription'),
                },
                {
                    hid: `og:title`,
                    property: 'og:title',
                    content: this.$t('blog.seoTitle'),
                },
                {
                    hid: `og:description`,
                    property: 'og:description',
                    content: this.$t('blog.seoDescription'),
                },
            ],
        };
    },
    components: {
        FeaturedArticle,
        RecentArticles,
    },
    layout: 'blog',
    computed: {
        ...mapGetters(['blogFeaturedArticle', 'blogRecentArticles']),
    },
    async fetch({ store, app }) {
        let currentLocale = app.i18n.locale;
        if (!['en', 'ua', 'de', 'ru'].includes(currentLocale)) {
            currentLocale = 'en';
        }

        await store.dispatch('blogLoadRecentPosts', currentLocale);
    },
};
</script>
