<template>
    <main>
        <div class="headline">
            <h1>{{ $t('findForCandidate.title') }}</h1>
        </div>
        <div class="find-for-candidate main-content aside__wrapper">
            <div class="aside-menu">
                <cabinet-menu
                    :get-menu-fn="getRecruiterMenu"
                    :current="$route.name"
                />
            </div>
            <div class="aside-content find-for-candidate__content">
                <form class="form block">
                    <div class="find-for-candidate__form">
                        <span class="secondary-text find-for-candidate__text">
                            {{ $t('findForCandidate.pageDescription') }}
                        </span>
                        <div
                            class="find-for-candidate__button form__button-wrapper upload-button__wrapper"
                        >
                            <button
                                :aria-label="$t('findForCandidate.button')"
                                class="button button--blue upload-button form__button"
                            >
                                <span class="upload-button-text">
                                    {{ $t('findForCandidate.button') }}
                                </span>
                            </button>

                            <input
                                ref="cvFileInput"
                                name="cv"
                                type="file"
                                @change="cvSearch"
                                id="user-cv"
                            />
                        </div>
                    </div>
                    <div
                        v-if="recruiterSearchFile && recruiterSearchFile.name"
                        class="find-for-candidate__file-name"
                    >
                        <hr class="delimeter" />
                        <span>
                            {{ recruiterSearchFile.name }}
                        </span>
                    </div>
                    <tags-list
                        v-if="keywords && keywords.length"
                        :removable="false"
                        :keywords="keywords"
                    />
                </form>
                <search-list v-if="offersNumber > 0" :offers="offers" />
                <loading v-if="isLoading" />
                <pagination
                    v-if="offersNumber > 0"
                    :is-loading="isLoading"
                    :current-page="page"
                    :page-size="pageSize"
                    :list-length="offersNumber"
                    :on-click="changePage"
                    :route-params-fn="getFindForCandidatePath"
                />
            </div>
        </div>
    </main>
</template>

<script>
import { mapGetters, mapState, mapActions } from 'vuex';
import CabinetMenu from '~/components/cabinet/CabinetMenu';
import SearchList from '~/components/offers-list/SearchList';
import Loading from '~/components/Loading';
import TagsList from '~/components/common/TagsList';
import Pagination from '~/components/common/Pagination';
import { getRecruiterMenu } from '~/util';
import { get } from '~/util/lodash';

export default {
    middleware: 'authenticatedRecruiter',
    components: {
        CabinetMenu,
        SearchList,
        Loading,
        Pagination,
        TagsList,
    },
    data: function() {
        return {
            getRecruiterMenu,
            page:
                parseInt(this.$route.params.page, 10) > 1
                    ? parseInt(this.$route.params.page, 10)
                    : 1,
            pageSize: 15,
        };
    },
    computed: {
        ...mapState({
            isLoading(state) {
                return get(
                    state,
                    [
                        'request',
                        'responses',
                        this.$requestModules.FIND_FOR_CANDIDATE,
                        'isRequestLoading',
                    ],
                    false,
                );
            },
            recruiterSearchFile: state => state.recruiter.recruiterSearchFile,
            offers: state => state.recruiter.recruiterOffers,
            offersNumber: state => state.recruiter.totalNumber,
            keywords: state => state.recruiter.candidateCvKeywords,
        }),
    },
    methods: {
        ...mapGetters(['getId']),
        ...mapActions([
            'recruiterSetCandidateCv',
            'requestStart',
            'requestFinish',
            'getRecruiterOffersByCandidateCv',
        ]),
        cvSearch(e) {
            e.preventDefault();
            if (!this.$refs || !this.$refs.cvFileInput) {
                return;
            }

            this.recruiterSetCandidateCv(this.$refs.cvFileInput.files[0]);
            this.page = 1;
            this.getRecruiterOffersByCandidateCv({
                pageSize: this.pageSize,
                page: this.page,
            });
        },
        changePage(newPageIndex) {
            this.page = newPageIndex;
            this.getRecruiterOffersByCandidateCv({
                pageSize: this.pageSize,
                page: this.page,
            });
        },
        getFindForCandidatePath(pageIndex) {
            const routeParams = {
                name:
                    `cabinet-recruiter-find-for-candidate` +
                    `${pageIndex > 1 ? '-page' : ''}`,
            };
            const pageParams = {};

            if (pageIndex > 1) pageParams.page = pageIndex;
            routeParams.params = pageParams;
            return this.localePath(routeParams, this.$i18n.locale);
        },
    },
};
</script>

<style lang="scss">
.find-for-candidate {
    &__content {
        position: relative;
        min-height: 400px;
    }
    &__form {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__file-name {
        padding: $spacing * 2 0;
        display: flex;
        flex-direction: column;
        align-items: center;

        .delimeter {
            width: 100%;
        }
        span {
            padding-top: $spacing * 2;
            font-size: $font-size-xs;
            color: $color-grey;
        }
    }
    &__text {
        text-align: right;
        padding-right: $spacing * 2;
    }
    & .find-for-candidate__button {
        max-width: 250px;
        justify-content: flex-start;
        padding: 0;
    }
    .upload-button {
        padding: 0 $spacing * 3;
        @media screen and (max-width: $screen-tablet-large) {
            padding: 0;
        }
    }
}
</style>
