<template>
    <div>
        <form-response
            v-if="response && Object.keys(response).length > 0"
            :message="response"
            :success="isSuccess"
            :close-handler="resetMessage"
        />
    </div>
</template>

<script>
import { mapState, mapActions } from 'vuex';
import FormResponse from './FormResponse';
import { get } from '~/util/lodash';

export default {
    name: 'ComponentResponse',
    components: {
        FormResponse,
    },
    props: {
        componentName: {
            type: String,
            default: '',
        },
    },
    computed: {
        ...mapState({
            response(state) {
                return get(
                    state,
                    ['request', 'responses', this.componentName, 'response'],
                    {},
                );
            },
            isSuccess(state) {
                return get(
                    state,
                    ['request', 'responses', this.componentName, 'isSuccess'],
                    false,
                );
            },
        }),
    },
    methods: {
        ...mapActions(['resetLastResponseMessage']),
        resetMessage() {
            this.resetLastResponseMessage(this.componentName);
        },
    },
};
</script>
