<template>
    <div
        class="form-result"
        :class="{
            'form-result--error': !success,
            'form-result--success': success,
        }"
    >
        <p
            class="form-result__text"
            v-if="message.message"
            v-html="$t(message.message)"
        />
        <p
            class="form-result__text"
            v-if="message.details"
            v-html="message.details"
        />
    </div>
</template>

<script>
export default {
    name: 'FormResponse',
    props: {
        message: {
            type: Object,
            default: () => {},
        },
        success: {
            type: Boolean,
            default: true,
        },
        closeHandler: {
            type: Function,
            default: () => {},
        },
    },
    mounted() {
        setTimeout(() => this.closeHandler(), 6000);
    },
};
</script>

<style lang="scss">
.form-result {
    @include border-radius($border-radius);
    margin: $spacing * 5 $spacing * 3;
    padding: ($spacing * 2) ($spacing * 3);
    -webkit-animation: openAnimation 2.5s infinite ease-in-out;
    animation: openAnimation 2.5s infinite ease-in-out;
    &--error {
        border: solid 1px $color-red;
        .form-result__text {
            color: $color-red;
        }
    }
    &--success {
        border: solid 1px $color-green;
        .form-result__text {
            color: $color-green;
        }
    }
    &__text {
        font-size: $font-size-m;
    }
}
</style>
