<template>
    <main class="main-content">
        <article class="text-page block">
            <div class="heading">
                <h1>{{ $t('accountRemoved.title') }}</h1>
                <hr class="delimeter heading-delimeter">
            </div>
            <p v-html="$t('accountRemoved.text')"/>
        </article>
    </main>
</template>

<script>
export default {
    head() {
        return {
            title: this.$t('seo.accountRemoved.title'),
        };
    },
};
</script>
