<template>
    <main class="homepage">
        <section class="js-homepage-search homepage-search">
            <picture>
                <source
                    type="image/webp"
                    data-srcset="/hp_img.webp 680w,
            /hp_img_x2.webp 1300w,
            /hp_img_x3.webp 2700w,
            /hp_img_x4.webp 3600w"
                />
                <source
                    type="image/jpeg"
                    data-srcset="/hp_img.jpg 680w,
            /hp_img_x2.jpg 1300w,
            /hp_img_x3.jpg 2700w,
            /hp_img_x4.jpg 3600w"
                />
                <img
                    decoding="async"
                    src="/hp_img_lqip.jpg"
                    data-sizes="auto"
                    class="lazyload blur-up"
                    :alt="$t('homepage.imgAlt')"
                    :title="$t('homepage.imgAlt')"
                />
            </picture>
            <div class="homepage-search__form">
                <div class="homepage-search__cta">
                    <h1 class="homepage-search__cta-title">
                        {{ $t('homepage.ctaTitle') }}
                    </h1>
                    <search
                        :searchbtntext="$t('search.defaultButtonText')"
                        :searchcvbtntext="$t('search.defaultCvButtonText')"
                        :searchcvbtnmobiletext="
                            $t('search.defaultCvMobileButtonText')
                        "
                        :defaultquery="$t('search.defaultQuery')"
                    />
                </div>
            </div>
        </section>
        <div class="homepage-content main-content">
            <homepage-infographics />
            <homepage-popular-queries
                :title="$t('popularQueries.title')"
                :are-seo-pages="areSeoPages"
                :pages="areSeoPages ? seoPages : links"
            />
            <homepage-popular-queries
                v-if="citySeoPages.length > 0"
                :title="$t('popularQueries.cityPagesTitle')"
                :are-seo-pages="true"
                :pages="citySeoPages"
            />
            <home-recently-added
                v-if="recentlyAdded && recentlyAdded.length > 0"
                :offers="recentlyAdded"
            />
            <features-seo-content />
        </div>
    </main>
</template>

<script>
import { mapState } from 'vuex';
import HomepagePopularQueries from '../components/homepage/HomepagePopularQueries.vue';
import FeaturesSeoContent from '../components/homepage/FeaturesSeoContent.vue';
import HomepageInfographics from '../components/homepage/HomepageInfographics.vue';
import Search from '../components/search/Search/Search.vue';
import homepageLinks from '~/sitemap_links/homepage_links.js';
import HomeRecentlyAdded from '~/components/homepage/HomeRecentlyAdded.vue';

export default {
    head() {
        return {
            title: this.$t('seo.homepage.title'),
            meta: [
                {
                    hid: 'keywords',
                    name: 'keywords',
                    content: this.$t('seo.homepage.keywords'),
                },
                {
                    hid: 'description',
                    name: 'description',
                    content: this.$t('seo.homepage.description'),
                },
                {
                    hid: `og:title`,
                    property: 'og:title',
                    content: this.$t('seo.homepage.title'),
                },
                {
                    hid: `og:description`,
                    property: 'og:description',
                    content: this.$t('seo.homepage.description'),
                },
            ],
        };
    },
    components: {
        HomeRecentlyAdded,
        HomepagePopularQueries,
        FeaturesSeoContent,
        HomepageInfographics,
        Search,
    },
    computed: {
        ...mapState({
            recentlyAdded: store => store.homepageConfiguration.list,
            links: state => state.homepageLinks.links,
            seoPages: state => state.homepageConfiguration.seoPages,
            areSeoPages: state =>
                state.homepageConfiguration.seoPages.length > 0,
            citySeoPages: state => state.homepageConfiguration.citySeoPages,
        }),
    },
    async fetch({ store }) {
        store.commit('HOMEPAGE_LINKS_SET', homepageLinks);
        await store.dispatch('loadHomepageConfiguration');
        await store.dispatch('searchformInputReset');
    },
};
</script>

<style lang="scss">
$min-image-block-height: 490px;
$image-block-height: 50vh;

.homepage {
    .homepage-search {
        position: relative;
        min-height: $min-image-block-height;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        @media screen and (min-width: $screen-desktop-small) {
            height: 55vh;
        }

        @media screen and (min-width: $screen-desktop-large) {
            height: 65vh;
        }

        picture {
            max-width: 100vw;
            position: absolute;
            height: 100%;
            width: 100%;
            img {
                object-fit: cover;
                background-size: cover;
                height: 100%;
                width: 100%;
            }

            .page--rtl & {
                -webkit-transform: scaleX(-1);
                transform: scaleX(-1);
            }
        }

        &__form {
            position: relative;
            @include layout-padding;
            min-height: 300px;
            height: $image-block-height;
            display: flex;
            align-items: center;
            width: 100vw;
            justify-content: flex-start;

            @media screen and (max-width: $screen-desktop-small) {
                justify-content: center;
            }

            .search-form__or {
                color: $color-darkest-grey;
            }
            .search-form__cv-container {
                width: 100%;
                align-items: center;
                .upload-button {
                    height: 40px;
                }
            }
            .search-form__cv-label {
                color: $color-darkest-grey;
                line-height: 1.5em;
            }
        }
        &__cta {
            max-width: $homepage-search-width;
            width: 100%;
            padding: $spacing * 4;
            @include border-radius($border-radius);

            &-title {
                font-size: $font-size-super-xxl;
                color: $color-darkest-grey;
                letter-spacing: -0.2px;

                @media screen and (max-width: $screen-desktop-small) {
                    font-size: $font-size-xxl;
                    text-align: center;
                }
            }
        }
    }

    .homepage-content {
        padding-top: $spacing * 4;
        position: relative;
        z-index: 1;
        border-top: $narrow-border;
    }
}
</style>
