<template>
    <div class="main-content">
        <section class="no-offer">
            <h1>{{ $t('popularOffers') }}</h1>
            <search-list :hide-score-match="true" :offers="offersToShow" />
        </section>
        <homepage-popular-queries
            v-if="seoPages.length > 0"
            :are-seo-pages="true"
            :title="$t('popularQueries.title')"
            :pages="seoPages"
        />
        <homepage-popular-queries
            v-if="citySeoPages.length > 0"
            :title="$t('popularQueries.cityPagesTitle')"
            :are-seo-pages="true"
            :pages="citySeoPages"
        />
    </div>
</template>
<script>
import { mapState, mapGetters } from 'vuex';
import { property } from '~/util/lodash';
import HomepagePopularQueries from '~/components/homepage/HomepagePopularQueries.vue';
import SearchList from '~/components/offers-list/SearchList';

export default {
    head() {
        return {
            title: this.$t('popularOffers'),
        };
    },
    components: {
        HomepagePopularQueries,
        SearchList,
    },
    computed: {
        ...mapState({
            seoPages: property(['popularOffers', 'seoPages']),
            citySeoPages: property(['popularOffers', 'citySeoPages']),
        }),
        ...mapGetters(['offersToShow']),
    },
    async fetch({ store }) {
        await store.dispatch('getPopularOffers');
        await store.dispatch('getPopularOffersSeoPages');
    },
    methods: {
        getMoreOffersLink() {
            return this.localePath({
                name: 'search-query',
                params: { query: this.notFoundTitle },
            });
        },
    },
};
</script>

<style lang="scss">
.no-offer {
    max-width: 100%;

    h1 {
        text-align: center;
        margin: $spacing * 7 0;
    }
}
</style>
