<template>
    <section class="features">
        <h2 class="section-title">{{ $t('featuresSeo.title') }}</h2>
        <div class="features__list">
            <article class="features__element">
                <div class="features__icon">
                    <span class="features__icons-ai">ai</span>
                </div>
                <div class="features__element-description">
                    <h3 class="features__element-title">
                        {{ $t('featuresSeo.aiTitle') }}
                    </h3>
                    <p class="features__element-text">
                        {{ $t('featuresSeo.aiText') }}
                    </p>
                </div>
            </article>
            <article class="features__element">
                <div class="features__icon">
                    <span class="features__icons-cv">cv</span>
                </div>
                <div class="features__element-description">
                    <h3 class="features__element-title">
                        {{ $t('featuresSeo.cvTitle') }}
                    </h3>
                    <p class="features__element-text">
                        {{ $t('featuresSeo.cvText') }}
                    </p>
                </div>
            </article>
            <article class="features__element">
                <div class="features__icon">
                    <span class="features__icons-full-text">full-text</span>
                </div>
                <div class="features__element-description">
                    <h3 class="features__element-title">
                        {{ $t('featuresSeo.fullTextTitle') }}
                    </h3>
                    <p class="features__element-text">
                        {{ $t('featuresSeo.fullTextText') }}
                    </p>
                </div>
            </article>
        </div>
    </section>
</template>

<script>
export default {
    name: 'FeaturesSeoContent',
};
</script>

<style lang="scss">
$icon-side: 80px;

.features {
    &__list {
        display: flex;
        flex: 1 0 100%;
        justify-content: space-between;
        flex-direction: column;
    }

    &__icon {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__icons-ai,
    &__icons-cv,
    &__icons-full-text {
        height: $icon-side;
        width: $icon-side;
        display: block;
        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;
        @include border-radius(3em);
    }

    &__icons {
        &-ai {
            background: $color-lightest-grey url('/svg/gear_blue.svg') center
                no-repeat;
        }

        &-cv {
            background: $color-lightest-grey url('/svg/sheet_blue.svg') center
                no-repeat;
        }

        &-full-text {
            background: $color-lightest-grey url('/svg/magnifier_blue.svg')
                center no-repeat;
        }
    }

    &__element {
        background-color: $color-white;
        @include border-radius($border-radius);
        max-width: 100%;
        text-align: center;
        margin-bottom: $spacing * 10;
        padding: $spacing * 5;
        color: $color-dark-grey;
        display: flex;
        border: $narrow-border-half;
        @include transition(box-shadow 0.2s ease-in);

        @media screen and (max-width: $screen-desktop-small) {
            max-width: 100%;
            height: 100%;
        }

        &:hover {
            @include transition(box-shadow 0.2s ease-in);
            -webkit-box-shadow: $default-box-shadow-big;
            -moz-box-shadow: $default-box-shadow-big;
            box-shadow: $default-box-shadow-big;
        }

        &-description {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        &-title {
            padding-left: $spacing * 5;
            text-align: left;
            font-size: $font-size-l;
            .page--rtl & {
                text-align: right;
            }

            @media screen and (max-width: $screen-tablet-large) {
                font-size: $font-size-m;
            }
        }

        &-text {
            text-align: left;
            font-size: $font-size-m;
            line-height: 1.5em;
            padding: $spacing * 5;
            @media screen and (max-width: $screen-tablet-large) {
                font-size: $font-size-s;
            }
        }
    }
}
</style>
