<template>
    <section class="popular-queries">
        <h2 class="section-title" v-if="title">{{ title }}</h2>
        <div class="block">
            <ul class="popular-queries-list">
                <template v-if="areSeoPages">
                    <li v-for="seoPage in pages" :key="seoPage.code">
                        <link-to-seo-search-page v-bind="seoPage" />
                    </li>
                </template>
                <template v-else>
                    <li v-for="linkText in pages" :key="linkText">
                        <link-to-search-page :link-query="linkText" />
                    </li>
                </template>
            </ul>
        </div>
    </section>
</template>

<script>
import { mapState } from 'vuex';
import LinkToSeoSearchPage from '~/components/common/LinkToSeoSearchPage';
import LinkToSearchPage from '~/components/common/LinkToSearchPage';

export default {
    name: 'HomePopularQueries',
    components: {
        LinkToSeoSearchPage,
        LinkToSearchPage,
    },
    props: {
        pages: {
            type: Array,
            default: () => [],
        },
        areSeoPages: {
            type: Boolean,
            default: false,
        },
        title: {
            type: String,
            default: '',
        },
    },
    computed: {
        ...mapState({}),
    },
};
</script>

<style lang="scss">
.popular-queries {
    margin-bottom: $spacing * 15;
    margin-top: $spacing * 15;

    &-list {
        -webkit-columns: 3;
        -moz-columns: 3;
        columns: 3;
        list-style-position: inside;
        font-size: $font-size-m;
        padding: $spacing * 4;

        @media screen and (max-width: $screen-desktop-small) {
            -webkit-columns: 2;
            -moz-columns: 2;
            columns: 2;
        }
        @media screen and (max-width: $screen-tablet-large) {
            -webkit-columns: 1;
            -moz-columns: 1;
            columns: 1;
        }

        li {
            padding: $spacing * 2 0;
        }
    }
}
</style>
