<template>
    <section class="homepage-recently-added">
        <h2 class="section-title">{{ $t('homepage.recentlyAddedTitle') }}</h2>
        <search-list
            :offers="offers && offers.slice(0,8)"
            :hide-score-match="true"/>
    </section>
</template>

<script>
import SearchList from '../offers-list/SearchList';

export default {
    name: 'HomeRecentlyAdded',
    components: {
        SearchList,
    },
    props: {
        offers: {
            type: Array,
            default: () => []

        }
    }
};
</script>

<style lang="scss">
.homepage-recently-added {
    margin-bottom: $spacing * 15;
}
</style>
