<template>
    <article class="offer__card" ref="offerCard">
        <div
            class="offer__preview"
            :class="{
                'offer__preview--without-circle':
                    hideScoreMatch && !showRecruiterSection,
            }"
        >
            <div class="offer__image">
                <img
                    v-if="
                        logo &&
                            (logo.indexOf('http://') === 0 ||
                                logo.indexOf('https://') === 0)
                    "
                    class="lazyload"
                    :data-src="logo"
                    :alt="$t('logoText', { companyName: this.companyName })"
                    :title="$t('logoText', { companyName: this.companyName })"
                />
                <img
                    v-else-if="logo"
                    class="lazyload"
                    :data-src="$storageFile(logo)"
                    :alt="$t('logoText', { companyName: this.companyName })"
                    :title="$t('logoText', { companyName: this.companyName })"
                />
                <object
                    v-else
                    data="/svg/company_no_logo.svg"
                    :alt="$t('logoText', { companyName: this.companyName })"
                    :title="$t('logoText', { companyName: this.companyName })"
                    type="image/svg+xml"
                >
                    Company logo
                </object>
            </div>
            <div class="offer__title-holder">
                <a
                    :href="url"
                    target="_blank"
                    rel="noopener"
                    class="offer__title-link"
                >
                    <h3
                        class="offer__title"
                        @click="logOfferCardClickout('clickoutTitle')"
                    >
                        {{ title }}
                    </h3>
                </a>
            </div>
            <div class="offer__company-details">
                <span class="offer__company-name">{{
                    $t('offers.companyName', { companyName })
                }}</span>
                <div
                    class="offer__tags offer__tags--location"
                    v-if="destinationsList && destinationsList.length > 0"
                >
                    <tags-list
                        :label="$t('offers.in')"
                        :has-highlighting="true"
                        :keywords="destinationsList"
                    />
                </div>
                <div
                    v-if="benefitsList.length > 0"
                    class="offer__tags offer__tags--benefits"
                >
                    <tags-list
                        :label="$t('offers.benefits')"
                        :has-highlighting="true"
                        :keywords="benefitsList"
                    />
                </div>
            </div>
            <hr class="offer__delimeter delimeter" />
            <div
                v-if="!hideScoreMatch && !showRecruiterSection"
                class="offer__score"
            >
                <div class="offer__score-inner">
                    <span class="offer__score__text">
                        {{ $t('offers.match') }}
                    </span>
                    <div class="offer__score__circle">
                        <match-circle :percent="Math.floor(score)" />
                    </div>
                </div>
            </div>
            <template
                v-if="
                    offerCompetencesList.length > 0 || offerLangsList.length > 0
                "
            >
                <div class="offer__tags offer__tags--langs">
                    <template v-if="offerLangsList.length > 0">
                        <tags-list
                            :label="$t('offers.programmingLanguages')"
                            :has-highlighting="true"
                            :keywords="offerLangsList"
                        />
                    </template>
                </div>
                <div class="offer__tags offer__tags--competences">
                    <template v-if="offerCompetencesList.length > 0">
                        <tags-list
                            :label="$t('offers.competences')"
                            :has-highlighting="true"
                            :keywords="offerCompetencesList"
                        />
                    </template>
                </div>
            </template>
            <p
                v-else-if="miniDescription && miniDescription.length"
                class="offer__text"
            >
                {{ miniDescription }}
            </p>
            <p
                v-else-if="
                    generatedMiniDescription && generatedMiniDescription.length
                "
                class="offer__text"
            >
                {{ generatedMiniDescription }}
            </p>
            <template v-if="showRecruiterSection">
                <span class="offer__indexed" v-if="isIndexed">
                    {{ $t('offers.indexed') }}
                </span>
                <span class="offer__indexed" v-else>
                    {{ $t('offers.notIndexed') }}
                </span>
            </template>
            <div
                class="offer__cta"
                :class="{
                    'offer__cta--actions': showRecruiterSection,
                    'offer__cta--links': !showRecruiterSection,
                }"
            >
                <template v-if="showRecruiterSection">
                    <nuxt-link
                        :to="
                            localePath({
                                name: 'offer-id',
                                params: { id: this.id },
                            })
                        "
                        class="offer__cta-link"
                    >
                        <button
                            class="button button--blue button--secondary"
                            :aria-label="$t('aria.goToOffer')"
                        >
                            <span>
                                {{ $t('offers.goToOffer') }}
                            </span>
                        </button>
                    </nuxt-link>
                    <nuxt-link
                        :to="
                            localePath({
                                name: 'cabinet-recruiter-offer-update-id',
                                params: { id: this.id },
                            })
                        "
                        class="offer__cta-link"
                    >
                        <button
                            :aria-label="$t('offers.update')"
                            class="button button--green button--secondary"
                        >
                            <span>
                                {{ $t('offers.update') }}
                            </span>
                        </button>
                    </nuxt-link>
                    <a class="offer__cta-link">
                        <button
                            :aria-label="$t('offers.delete')"
                            class="button"
                            @click="deleteOffer(id)"
                        >
                            <span>
                                {{ $t('offers.delete') }}
                            </span>
                        </button>
                    </a>
                </template>
                <template v-else>
                    <a
                        :href="
                            localePath({
                                name: 'offer-id',
                                params: { id: getOfferDetailPageCode() },
                            })
                        "
                        target="_blank"
                        @click="logOpen"
                        class="offer__cta-link js-offer-page-url"
                    >
                        <span>
                            {{ $t('offers.view') }}
                        </span>
                    </a>
                    <a :href="url" rel="noopener" target="_blank">
                        <button
                            @click="logOfferCardClickout('clickoutButton')"
                            :aria-label="$t('offers.btnText')"
                            class="button button--green offer__cta-link"
                        >
                            <span>
                                {{ $t('offers.apply') }}
                            </span>
                        </button>
                    </a>
                </template>
            </div>
        </div>
    </article>
</template>

<script>
import { mapActions } from 'vuex';
import TagsList from '../../common/TagsList';
import MatchCircle from '../MatchCircle';
import {
    getOfferTagsFromRemote,
    mapTagsToString,
    getOfferPageCode,
} from '~/util';

export default {
    name: 'OfferCard',
    components: {
        TagsList,
        MatchCircle,
    },
    props: {
        id: {
            type: [Number, String],
            default: 0,
        },
        title: {
            type: String,
            default: '',
        },
        logo: {
            type: String,
            default: '',
        },
        miniDescription: {
            type: String,
            default: '',
        },
        htmlDescription: {
            type: String,
            default: '',
        },
        description: {
            type: String,
            default: '',
        },
        // eslint-disable-next-line camelcase
        programmingLanguages: {
            type: [Array, String],
            default: '',
        },
        // eslint-disable-next-line camelcase
        skills: {
            type: [Array, String],
            default: '',
        },
        destinations: {
            type: [Array, String],
            default: '',
        },
        benefits: {
            type: [Array, String],
            default: '',
        },
        url: {
            type: String,
            default: '',
        },
        offerType: {
            type: String,
            default: '',
        },
        companyName: {
            type: String,
            default: '',
        },
        startsFrom: {
            type: String,
            default: '',
        },
        score: {
            type: Number,
            default: 0,
        },
        isIndexed: {
            type: Boolean,
            default: false,
        },
        showRecruiterSection: {
            type: Boolean,
            default: false,
        },
        hideScoreMatch: {
            type: Boolean,
            default: false,
        },
        deleteOffer: {
            type: Function,
            default: () => null,
        },
        language: {
            type: String,
            default: '',
        },
        partner: {
            type: String,
            default: '',
        },
        bid: {
            type: Number,
            default: 0,
        },
        code: {
            type: String,
            default: '',
        },
        clickOfferFn: {
            type: Function,
            default: () => null,
        },
    },
    data: () => ({
        intersectionTimer: null,
        isLogged: false,
    }),
    computed: {
        destinationsList() {
            return this.destinations && this.destinations.length
                ? getOfferTagsFromRemote('destinations', this.destinations)
                : [];
        },
        benefitsList() {
            return this.benefits && this.benefits.length
                ? getOfferTagsFromRemote('benefits', this.benefits)
                : [];
        },
        offerLangsList() {
            return this.programmingLanguages && this.programmingLanguages.length
                ? getOfferTagsFromRemote('languages', this.programmingLanguages)
                : [];
        },
        offerCompetencesList() {
            return this.skills && this.skills.length
                ? getOfferTagsFromRemote('skills', this.skills)
                : [];
        },
        generatedMiniDescription() {
            const description = this.description.substr(0, 498);
            const lastWordIndex = description.lastIndexOf(' ');
            return `${description.substr(0, lastWordIndex)}..`;
        },
    },
    mounted() {
        if (!!window.IntersectionObserver) {
            const observer = new IntersectionObserver(
                (entries, observer) =>
                    entries.forEach(entry => {
                        if (
                            entry.intersectionRatio !== 1 &&
                            this.intersectionTimer
                        ) {
                            clearTimeout(this.intersectionTimer);
                            this.intersectionTimer = null;
                        } else if (
                            entry.intersectionRatio &&
                            !this.intersectionTimer &&
                            !this.isLogged
                        ) {
                            this.intersectionTimer = setTimeout(() => {
                                this.viewOffer({
                                    ga: this.$ga,
                                    gtm: this.$gtm,
                                    id: this.id,
                                    location: mapTagsToString(
                                        this.destinations,
                                    ),
                                    pageType: 'offerdetail',
                                });
                                this.isLogged = true;
                                observer.unobserve(entry.target);
                            }, 1000);
                        }
                    }),
                { rootMargin: '0px 0px -200px 0px' },
            );

            if (this.$refs.offerCard) {
                observer.observe(this.$refs.offerCard);
            }
        }
    },
    methods: {
        ...mapActions(['viewOffer']),
        logOfferCardClickout(event) {
            this.clickOfferFn({
                gtm: this.$gtm,
                analyticsModule: this.$ga,
                partner: this.partner,
                event: event,
                bid: this.bid,
                offerId: this.id,
            });
        },
        logOpen() {
            this.$ga &&
                this.$ga.event({
                    eventCategory: 'action',
                    eventAction: 'openOffer',
                    eventLabel: 'linkClick',
                });
        },
        getOfferDetailPageCode() {
            return getOfferPageCode(this.id, this.title, this.code);
        },
    },
};
</script>

<style lang="scss" src="./index.scss"></style>
