$cta-text-color: #1d579f;
$underline-text-color: #5f6368;

.offer {
    &__card {
        font-size: $font-size-s;
        background-color: $color-white;
        @include border-radius($border-radius);
        overflow: hidden;
        display: flex;
        flex-wrap: wrap;
        height: $offer-card-height;
        border: $narrow-border-half;

        @media screen and (max-width: $screen-tablet-large) {
            height: $mobile-tablet-offer-card-height;
        }

        @media screen and (max-width: $screen-tablet) {
            height: $mobile-offer-card-height;
        }
        @include transition(box-shadow 0.2s ease-in);
        &:hover {
            @include transition(box-shadow 0.2s ease-in);
            -webkit-box-shadow: $default-box-shadow-big;
            -moz-box-shadow: $default-box-shadow-big;
            box-shadow: $default-box-shadow-big;
        }
    }

    &__preview {
        padding: $spacing * 3;
        overflow: hidden;
        width: 100%;
        display: grid;
        grid-template-columns: 0.2fr 2fr 0.5fr ;
        grid-template-rows: 0.5fr 1fr 0.2fr 1fr 1fr;
        height: 100%;
        @media screen and (max-width: $screen-tablet-large) {
            grid-template-columns: 0.2fr 2fr 0.5fr;
            grid-template-rows: 0.5fr 0.7fr 0.2fr 0.7fr 0.7fr 1fr;
        }

        @media screen and (max-width: $screen-tablet) {
            grid-template-columns: 0.5fr 2fr 0.8fr;
            grid-template-rows: 0.5fr 0.5fr 1fr 0.2fr 1fr 1fr 1fr;
        }

        @media screen and (max-width: $screen-mobile-large) {
            grid-template-columns: 0.2fr 2.4fr 0.8fr;
        }

        &--without-circle {
            .offer__title-holder {
                grid-column-start: 2;
                grid-column-end: 4;
            }
            .offer__delimeter {
                grid-column-start: 1;
                grid-column-end: 4;
            }
        }
    }

    .offer__card &__tag {
        font-size: $font-size-s;
        padding: 0 $spacing;
    }

    &__company-details {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        grid-column: 2;
        grid-row: 2;
        min-width: 0;
        overflow: hidden;
        margin-right: $spacing * 2;
        margin-left: $spacing * 2;
        @include shading-out(to right, 1, 80%);

        @media screen and (max-width: $screen-tablet) {
            grid-row-start: 2;
            grid-row-end: 4;
            flex-direction: column;
            align-items: flex-start;
        }

        .offer__preview--without-circle & {
            grid-column-start: 2;
            grid-column-end: 5;
        }

        .page--rtl & {
            @include shading-out(to left, 1, 80%);
        }
    }

    &__image {
        display: flex;
        justify-content: center;
        grid-row-start: 1;
        grid-row-end: 3;
        grid-column: 1;
        min-width: 60px;

        img,
        object {
            max-height: 52px;
            max-width: 52px;
            object-fit: contain;
            @include border-radius($border-radius);
            overflow: hidden;

            @media screen and (max-width: $screen-mobile-large) {
                max-height: 36px;
                max-width: 36px;
            }
        }

        @media screen and (max-width: $screen-mobile-large) {
            min-width: 44px;
        }
    }

    &__title {
        font-size: $font-size-m;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        max-width: 100%;

        @media screen and (max-width: $screen-tablet-large) {
            font-size: $font-size-m;
        }

        @media screen and (max-width: $screen-mobile-large) {
            font-size: $font-size-s;
        }

        &-holder {
            align-items: center;
            padding-right: $spacing * 5;
            grid-row: 1;
            grid-column: 2;
            max-width: 100%;
            min-width: 0;
            margin-left: $spacing * 2;
        }

        &-link {
            max-width: 100%;
        }
    }

    &__indexed {
        font-size: $font-size-xs;
        color: $color-grey;
        grid-row: 1;
        grid-column: 3;
        text-align: right;
    }

    &__delimeter {
        grid-row: 3;
        grid-column-start: 1;
        grid-column-end: 3;
        margin: ($spacing * 2) ($spacing * 2) $spacing 0;
        @media screen and (max-width: $screen-tablet) {
            grid-row: 4;
            grid-column-end: 4;
        }

        @media screen and (max-width: $screen-mobile) {
            margin-right: 0;
        }
    }

    &__text {
        color: $text-color-grey;
        line-height: 1.4em;
        overflow: hidden;
        grid-row-start: 4;
        grid-row-end: 6;
        grid-column-start: 1;
        grid-column-end: 3;
        @include shading-out(to bottom, 1, 70%);

        @media screen and (max-width: $screen-tablet) {
            line-height: 1.8em;
            grid-row-start: 5;
            grid-row-end: 7;
            grid-column-start: 1;
            grid-column-end: 4;
            @include shading-out(to bottom, 1, 60%);
        }
    }

    &__score {
        grid-row-start: 1;
        grid-row-end: 5;
        grid-column: 3;
        padding-top: $spacing;
        display: flex;
        justify-content: flex-end;

        @media screen and (max-width: $screen-tablet) {
            grid-row-start: 1;
            grid-row-end: 4;
        }

        &-inner {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-end;
            width: 100%;
        }

        &__circle {
            width: 70px;

            @media screen and (max-width: $screen-tablet) {
                width: 50px;
            }
        }

        &__text {
            padding-bottom: $spacing;
            color: $text-color-grey;
            white-space: nowrap;
            width: 70px;
            text-align: center;

            @media screen and (max-width: $screen-tablet) {
                font-size: $font-size-xs;
                width: 50px;
            }
        }
    }

    &__company-name {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        padding-left: 0;
        max-width: 300px;
        font-size: $font-size-s;
        color: $color-grey;
        font-weight: lighter;
        padding-right: $spacing;
        flex: 0 0 auto;
    }

    &__tags {
        overflow: hidden;
        @include shading-out(to right, 1, 92%);

        .page--rtl & {
            @include shading-out(to left, 1, 80%);
        }

        .tags {
            min-width: 620px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;

            .tags-label,
            .tags-list {
                white-space: nowrap;
            }
        }

        &--location {
            max-width: 50%;
            flex: 1 0 auto;

            .tags {
                min-width: unset;

                &-label {
                    font-size: $font-size-s;
                    padding-right: $spacing;
                    @media screen and (max-width: $screen-tablet) {
                        padding-left: 0;
                    }
                }
            }

            @media screen and (max-width: $screen-tablet) {
                min-width: unset;
                max-width: unset;
            }
        }

        &--benefits {
            flex: 1 0 auto;
            margin: ($spacing * 2) ($spacing * 3) ($spacing * 2) ($spacing * 4);
            border-left: $narrow-border;
            padding-left: $spacing * 4;

            @media screen and (max-width: $screen-tablet-larger) {
                .tags-label {
                    display: none;
                }
            }

            @media screen and (max-width: $screen-tablet) {
                display: none;
            }
        }

        &--competences,
        &--langs {
            grid-column-start: 1;
            grid-column-end: 3;
            margin-right: $spacing * 3;
            min-width: 0;

            @media screen and (max-width: $screen-tablet-large) {
                .offer__preview--without-circle & {
                    grid-column-start: 1;
                    grid-column-end: 4;
                }
            }

            @media screen and (max-width: $screen-tablet) {
                min-width: unset;
                grid-column-end: 4;

                .offer__preview--without-circle & {
                    .tags {
                        min-width: 420px;
                    }
                }
                .tags-label {
                    display: none;
                }
            }
        }

        &--langs {
            grid-row: 4;
            @media screen and (max-width: $screen-tablet) {
                grid-row: 5;
            }
        }

        &--competences {
            grid-row: 5;

            @media screen and (max-width: $screen-tablet) {
                grid-row: 6;
            }
        }
    }

    &__cta {
        font-weight: bold;
        text-align: center;
        grid-row: 5;
        grid-column: 3;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        background-color: white;

        @media screen and (max-width: $screen-tablet-large) {
            grid-row: 6;
            grid-column-start: 1;
            grid-column-end: 4;
        }

        @media screen and (max-width: $screen-tablet) {
            grid-row: 7;
        }

        &.offer__cta--links {
            a {
                outline: none;

                &:hover {
                    text-decoration: none;
                }
            }

            @media screen and (max-width: $screen-tablet-large) {
                padding-top: $spacing;
                justify-content: space-around;
            }
        }

        &.offer__cta--actions {
            grid-row-start: 3;
            flex-direction: column;
            justify-content: flex-end;
            align-items: flex-end;
            grid-row-end: 7;

            .offer__cta-link {
                margin-bottom: $spacing;

                button {
                    min-width: 100px;
                    padding: $spacing * 2;
                    span {
                        font-size: $font-size-s;
                    }
                    @media screen and (max-width: $screen-tablet) {
                        min-width: 90px;
                        &:before {
                            content: none;
                        }
                        span {
                            display: inline;
                        }
                    }
                }
            }

            @media screen and (max-width: $screen-tablet) {
                grid-row-start: 3;
                grid-row-end: 7;
            }
        }

        &-link {
            float: right;
            display: flex;
            align-items: center;
            height: 100%;
            margin-left: $spacing * 2;
            padding-left: $spacing * 3;
            padding-right: $spacing * 3;

            & > span {
                font-size: $font-size-m;
                font-weight: normal;
                padding: 0 $spacing * 4;
            }

            @media screen and (max-width: $screen-tablet-large) {
                .button > span {
                    font-size: $font-size-m;
                }
            }
        }
    }
}

.offer__card {
    .tags-list {
        display: inline-block;
        padding: 0;
        li {
            display: inline-block;
            span {
                font-size: $font-size-s;
            }
        }
        @media screen and (max-width: $screen-tablet) {
            display: block;
        }
    }
}
