<template>
    <section class="search-keywords js-keywords">
        <div class="search-keywords__list">
            <tags-list
                :label="$t('keywords.label')"
                :is-inline-label="true"
                :removable="true"
                :onclick="removeKeyword"
                :keywords="keywords"
            />
        </div>
        <a
            href="#"
            class="search-keywords__reset"
            :aria-label="$t('keywords.resetBtnText')"
            :title="$t('keywords.resetLabel')"
            @click="resetKeywordsAndResetQuery"
        >
            <span>
                {{ $t('keywords.resetBtnText') }}
            </span>
        </a>
    </section>
</template>

<script>
import { mapState, mapActions } from 'vuex';
import TagsList from '~/components/common/TagsList.vue';

export default {
    name: 'Keywords',
    components: {
        TagsList,
    },
    data: () => ({
        query: '',
        timer: 0,
    }),
    computed: {
        ...mapState({
            keywords: state => state.search.keywords,
            tagsSuggestions: state => state.suggestions.tagsSuggestions,
            selectedTagSuggestion: state =>
                state.suggestions.selectedTagSuggestion,
        }),
        finalQuery() {
            return this.query.length > 0 ? this.query : this.getDefaultQuery();
        },
    },
    methods: {
        ...mapActions([
            'searchByKeywords',
            'searchResetKeywords',
            'goToSearchPage',
            'searchformInputReset',
            'searchUpdateKeywords',
        ]),
        logKeywordsAction(event) {
            this.$ga &&
                this.$ga.event({
                    eventCategory: 'action',
                    eventAction: 'keywords',
                    eventLabel: event,
                });
        },
        resetKeywordsAndResetQuery() {
            this.searchResetKeywords();
            this.goToSearchPage();
            this.searchformInputReset();
        },
        removeKeyword(index) {
            this.logKeywordsAction('remove');
            if (this.keywords.length === 1) {
                this.resetKeywordsAndResetQuery();
            } else {
                const newKeywords = this.keywords.slice();
                newKeywords.splice(index, 1);
                this.searchUpdateKeywords(newKeywords);
                this.searchByKeywords();
            }
        },
    },
};
</script>

<style lang="scss">
.tags-list {
    margin-left: $spacing;
    padding: $spacing 0;

    &:empty {
        padding: 0;
    }
}

.search-keywords {
    padding-top: $spacing * 2;
    position: relative;
    display: flex;
    align-items: flex-start;

    &__label {
        color: $color-dark-grey;
    }

    &__list {
        flex: 3 2 auto;
    }

    &__reset {
        flex: 0 1 $max-short-button-width;
        height: $input-button-height;
        font-size: $font-size-m;
        display: flex;
        justify-content: center;
        align-items: center;

        @media screen and (max-width: $screen-tablet) {
            &:after {
                content: url('/svg/keywords_close.svg');
                display: block;
                width: 20px;
                float: right;
            }
            flex-basis: 20px;

            span {
                display: none;
            }
        }
    }

    .tags-list {
        margin-left: 0;
        .tag__button {
            margin-left: 0;
            margin-right: $spacing * 2;
        }
    }
}
</style>
