<template>
    <button @click="saveSearchOpen" class="button save-search-btn">
        <Envelope v-if="!searchIsSaved" />
        <EnvelopeFill v-else />
        <span>
            {{ $t('offers.saveSearch') }}
        </span>
        <popover
            v-if="['saveSearch'].includes(popoverMode)"
            :mode="popoverMode"
        />
    </button>
</template>

<script>
import { mapActions, mapState } from 'vuex';
import { get } from '~/util/lodash';
import Popover from '~/components/common/Popover/Popover';
import Envelope from '~/static/svg/envelope.svg?inline';
import EnvelopeFill from '~/static/svg/envelope_fill.svg?inline';

export default {
    name: 'SaveSearchButton',
    components: {
        EnvelopeFill,
        Envelope,
        Popover,
    },
    computed: {
        ...mapState({
            popoverMode: state => state.environment.popoverMode,
            searchIsSaved: state =>
                get(state, ['user', 'savedSearches'], []).some(
                    search =>
                        get(search, 'query', '') ===
                        get(state, ['search', 'query'], ''),
                ),
        }),
    },
    methods: {
        ...mapActions(['envChangePopoverMode']),
        saveSearchOpen() {
            this.envChangePopoverMode('saveSearch');
        },
    },
};
</script>

<style lang="scss">
.save-search-btn {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    max-width: 260px;

    span {
        margin-left: $spacing * 2;
        font-size: $font-size-s;

        .page--rtl & {
            margin-left: 0;
            margin-right: $spacing * 2;
        }
    }
}
</style>
