<template>
    <div class="registration-form">
        <form class="form">
            <div class="form__input-group">
                <label for="auth__email" class="form__label">{{
                    $t('authentication.email')
                }}</label>
                <input
                    type="email"
                    ref="userEmail"
                    id="auth__email"
                    class="form__input"
                />
            </div>
            <div class="form__input-group">
                <label for="auth__email-repeat" class="form__label">{{
                    $t('authentication.repeatEmail')
                }}</label>
                <input
                    type="email"
                    ref="userEmailConfirmation"
                    id="auth__email-repeat"
                    class="form__input"
                />
            </div>
            <div class="form__input-group">
                <label for="auth__password" class="form__label tooltip">
                    {{ $t('authentication.password') }}
                    <span class="tooltip__text tooltip__text--top">
                        {{ $t('validationPassword') }}
                    </span>
                </label>
                <input
                    type="password"
                    ref="userPassword"
                    id="auth__password"
                    class="form__input"
                />
            </div>
            <div v-if="canRegisterRecruiter" class="form__checkbox-group">
                <input
                    type="checkbox"
                    ref="userIsRecruiter"
                    id="auth__is-recruiter"
                    class="form__checkbox"
                />
                <label
                    for="auth__is-recruiter"
                    class="form__label form__label--checkbox"
                    >{{ $t('authentication.isRecruiter') }}</label
                >
            </div>
            <component-response :component-name="componentName" />
        </form>
        <button
            :aria-label="$t('header.signUp')"
            class="button button--blue ending"
            @click="formSubmit"
        >
            <span>{{ $t('authentication.signUp') }}</span>
        </button>
        <loading v-if="isLoading" />
    </div>
</template>

<script>
import { mapState } from 'vuex';
import ComponentResponse from '~/components/form/response/ComponentResponse';
import Loading from '~/components/Loading';
import { get } from '~/util/lodash';

export default {
    name: 'RegistrationForm',
    components: {
        ComponentResponse,
        Loading,
    },
    props: {
        canRegisterRecruiter: {
            type: Boolean,
            default: true,
        },
        componentName: {
            type: String,
            default: 'user',
        },
        registerFn: {
            type: Function,
            default: () => null,
        },
    },
    computed: {
        ...mapState({
            isLoading(state) {
                return get(
                    state,
                    [
                        'request',
                        'responses',
                        this.componentName,
                        'isRequestLoading',
                    ],
                    false,
                );
            },
        }),
    },
    methods: {
        formSubmit(e) {
            const isApplicant = !this.$refs.userIsRecruiter.checked;
            this.registerFn({
                email: this.$refs.userEmail.value,
                emailConfirmation: this.$refs.userEmailConfirmation.value,
                password: this.$refs.userPassword.value,
                isApplicant,
                analyticsModule: this.$ga,
            });
            e.preventDefault();
        },
    },
};
</script>

<style lang="scss">
.registration-form {
    position: relative;
}
</style>
