.aside {
    &__wrapper {
        margin-top: $spacing * 3;
        display: flex;
        justify-content: space-around;
        flex-direction: row;
    }
    &-menu {
        max-width: 300px;
        width: 20vw;
        margin-right: $spacing * 5;
        padding-bottom: $spacing * 5;
        @media screen and (max-width: $screen-desktop-small) {
            display: none;
            width: 0;
        }
    }
    &-content {
        text-align: center;
        position: relative;
        width: 100%;
        width: 100vw;
    }
}
