.auth {
    &__wrapper {
        position: relative;
        max-width: 400px;
        width: 100vw;
        min-width: 200px;
    }

    &__title {
        margin: $spacing * 2 auto;
        text-align: center;

        .sign-up__wrapper & {
            font-size: $font-size-l;
        }
    }

    &__heading-text {
        text-align: center;
        a {
            cursor: pointer;
            @include link-decoration();
        }
    }
}