.block {
    border: $narrow-border-half;
    background-color: $color-white;
    @include border-radius($border-radius);
    padding: $spacing * 3 $spacing * 4;
    margin: 0 0 $spacing * 5;
    @include transition(box-shadow 0.2s ease-in);

    &:hover {
        @include transition(box-shadow 0.2s ease-in);
        box-shadow: $default-box-shadow-big;
    }

    &--divided {
        padding: 0;
        border: 0;

        .block-content {
            padding: $spacing * 3 $spacing * 4;
        }

        .ending {
            padding: $spacing * 3 $spacing * 4;
            width: 100%;
            max-width: none;
            @include border-radius-topleft(0);
            @include border-radius-topright(0);
            @include border-radius-bottomleft($border-radius);
            @include border-radius-bottomright($border-radius);
        }
    }

    .form {
        padding: $spacing * 4 $spacing * 4 $spacing * 5;
        width: 100%;
        text-align: left;
        .page--rtl & {
            text-align: right;
        }
    }

    .form__input,
    .form__button {
        width: 100%;
    }
}
