.blog-layout {
    a {
        text-decoration: underline;
    }

    .blog-title {
        @include layout-padding;
        padding-top: $spacing * 15 !important;
        padding-bottom: $spacing * 30 !important;
        font-size: $font-size-super-puper-xxl;
        text-align: left;
        .page--rtl & {
            text-align: right;
        }

        @media screen and (max-width: $screen-tablet-large) {
            font-size: $font-size-xl;
        }

        &__wrapper {
            max-width: 100%;
            color: $color-white;
            @include gradient-animation(135deg, $main-color-light, $color-green-light, 0.4s);
            z-index: 1;

            @media screen and (max-width: $screen-tablet-large) {
                max-width: 100%;
            }
        }
    }

    .post-title {
        padding: $spacing * 8 $spacing * 4;
        margin-bottom: $spacing * 8;
        font-size: $font-size-super-xxl;
        text-align: left;
        max-width: 100%;
        color: $color-white;
        overflow: hidden;
        @include border-radius($border-radius);
        @include gradient-animation(135deg, $main-color-light, $color-green-light, 0.4s);
        z-index: 1;

        .page--rtl & {
            text-align: right;
        }
    }

    .blog-content {
        position: relative;
        z-index: 2;
        margin-top: -($spacing * 20);
        margin-bottom: $spacing * 20;
    }

    .posts-list {
        padding: 0;
    }
}
