
.tag__button {
    color: $color-black;
    background-color: $color-white;
    border: 1px $color-dark-grey solid;
    padding: $spacing $spacing * 2;
    margin: $spacing;
    min-width: $spacing * 11;
    text-align: center;
    display: inline-block;
    text-transform: capitalize;
    line-height: 18px;
    @include border-radius($border-radius);
    @include outline(4px);
    @include transition(background-color 0.1s ease-out);

    &:hover {
        box-shadow: $default-box-shadow-big;
    }

    &:focus:after {
        // fix to be able to work with outline mixin
        position: static;
    }

    &:active {
        background-color: $color-light-grey;
        box-shadow: 0 0 0;
    }

    span {
        font-size: $font-size-s;
    }

    &--inactive {
        cursor: default;
        &:hover {
            box-shadow: none;
        }
        &:active {
            background-color: $color-white;
            box-shadow: none;
        }
    }

    &--titles {
        background-image:  linear-gradient(to bottom, #fff 92%, $color-dark-grey 8%);
    }

    &--active-checkbox {
        border: 2px $color-green solid;
        padding: ($spacing - 1px) ($spacing * 2 - 1px);
    }

    &--destinations {
        background-image:  linear-gradient(to bottom, #fff 92%, $color-green-light 8%);

        &.tag--no-highlight {
            background-image:  linear-gradient(to bottom, #fff 96%, $color-green-light 4%);
        }
    }

    &--skills {
        background-image:  linear-gradient(to bottom, #fff 92%, $main-color-light 8%);

        &.tag--no-highlight {
            background-image:  linear-gradient(to bottom, #fff 96%, $main-color-light 4%);
        }
    }

    &--languages {
        background-image:  linear-gradient(to bottom, #fff 92%, $color-orange-light 8%);

        &.tag--no-highlight {
            background-image:  linear-gradient(to bottom, #fff 96%, $color-orange-light 4%);
        }
    }

    &--benefits {
        background-image:  linear-gradient(to bottom, #fff 92%, $color-pink-light 8%);

        &.tag--no-highlight {
            background-image:  linear-gradient(to bottom, #fff 96%, $color-pink-light 4%);
        }
    }
}

.button {
    color: $color-darkest-grey;
    background-color: $color-white;
    border: 1px solid $color-darkest-grey;
    padding: $spacing * 2 $spacing * 4;
    display: inline-block;
    cursor: pointer;
    @include border-radius($border-radius);
    @include outline(4px);
    @include transition(color 0.15 ease-in-out, background-color 0.15 ease-in-out);

    & > span {
        font-size: $font-size-m;
        white-space: nowrap;
        @media screen and (max-width: $screen-tablet-large) {
            font-size: $font-size-s;
        }
    }

    &:hover {
        -webkit-box-shadow: $default-box-shadow-btn;
        -moz-box-shadow: $default-box-shadow-btn;
        box-shadow: $default-box-shadow-btn;
        text-decoration: none;
    }

    &:active {
        background-color: $color-xlightest-grey;
        box-shadow: 0 0 0;
    }

    &:disabled {
        background-color: $color-light-grey !important;
        border: 1px solid $color-grey !important;
        color: $color-darkest-grey !important;
        cursor: default !important;
        box-shadow: 0 0 0;
    }

    &__no-style {
        cursor: pointer;
        border: none;
        background-color: $color-white;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }

    &--accordeon {
        color: $color-darkest-grey;
        padding-left: 0;
        padding-right: 0;
        cursor: pointer;
        border: none;
        border-bottom: $narrow-border;
        background-color: $color-white;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        @include border-radius(0);

        &:hover {
            color: $color-black;
            border-bottom: $narrow-border-dark;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
        }
    }

    &--small {
        padding: 0 $spacing * 2;
    }

    &--close,
    &--plus {
        padding: $spacing;
        border: none;
        background: none;
    }

    &--close {
        &:after {
            content: url('/svg/close.svg');
            display: block;
            height: 20px;
            width: 20px;
            float: right;
        }
    }

    &--plus {
        &:after {
            content: url('/svg/plus.svg');
            display: block;
            height: 20px;
            width: 20px;
            float: right;
        }
    }
}

.button--grey {
    background-color: $color-lightest-grey;
    border: 1px $color-lightest-grey solid;
    color: $color-dark-grey;
    &:hover {
        box-shadow: 0 0 3px $color-dark-grey;
    }
    &:active {
        background-color: $color-light-grey;
        border: 1px $color-light-grey solid;
        box-shadow: 0 0 0;
    }
}

.button--blue {
    background-color: $main-color;
    border: 1px $main-color solid;
    color: $color-white;
    &:hover {
        box-shadow: 0 0 3px $main-color-dark;
    }
    &:active {
        background-color: $main-color-dark;
        color: $color-white;
        box-shadow: 0 0 0;
    }

    &.button--secondary {
        background-color: $color-white;
        color: $main-color-dark;
        border: 1px $main-color-dark solid;
    }
}

.button--green {
    background-color: $color-green;
    border: 1px solid $color-green;
    color: $color-white;

    &:hover {
        box-shadow: 0 0 3px $color-green-dark;
    }
    &:active {
        background-color: $color-green-dark;
        color: $color-white;
        box-shadow: 0 0 0;
    }

    &.button--secondary {
        background-color: $color-white;
        color: $color-green-dark;
        border: 1px solid $color-green-dark;
    }
}

.button--orange {
    background-color: $color-orange;
    border: 1px solid $color-orange;
    color: $color-white;

    &:hover {
        box-shadow: 0 0 3px $color-dark-orange;
    }
    &:active {
        background-color: $color-dark-orange;
        color: $color-white;
        box-shadow: 0 0 0;
    }

    &.button--secondary {
        background-color: $color-white;
        color: $color-dark-orange;
        border: 1px solid $color-dark-orange;
    }
}

.upload-button {
    max-width: unset;
    height: $input-height;
    padding: $spacing / 2;

    @media screen and (max-width: $screen-tablet-large) {
        max-width: 56px;
        min-width: 56px;

        &:before {
            content: url('/svg/upload.svg');
            margin: $spacing $spacing * 3;
            float: left;
        }
    }

    &--mobile-text {
        @media screen and (max-width: $screen-tablet-large) {
            max-width: calc(36px + #{$spacing * 10});
            min-width: 75px;
            &:before {
                margin-right: $spacing;
            }
        }
    }

    &:active {
        box-shadow: 0 0 0;
    }

    &-text {
        display: inline-block;
        line-height: 25px;
        white-space: nowrap;
        &:before {
            content: url('/svg/upload.svg');
            display: block;
            width: 25px;
            height: 25px;
            float: left;
            margin: 0 $spacing * 3 0 0;
        }
        @media screen and (max-width: $screen-tablet-large) {
            display: none;
        }
    }
    &-mobile-text {
        display: none;
        @media screen and (max-width: $screen-tablet-large) {
            padding: 6px $spacing * 2 $spacing 0;
            display: inline-block;
        }
    }

    &__wrapper {
        position: relative;
        text-align: center;

        &:hover {
            .upload-button {
                box-shadow: 0 0 3px $main-color-dark;
            }
        }
        & input[type='file'] {
            position: absolute;
            left: 0;
            top: 0;
            opacity: 0;
            width: 100%;
            height: $input-height;
            cursor: pointer;
        }

        @media screen and (max-width: $screen-tablet-large) {
            margin: 0 $spacing * 2;
            max-width: 74px;
        }
    }
}

.search-button {
    .input-container > & {
        height: $input-button-height;
        margin: $spacing $spacing;
        flex-grow: 1;
        flex-basis: 0;
        position: relative;
        @media screen and (max-width: $screen-tablet) {
            max-width: calc(20px + #{$spacing * 6});
            min-width: unset;

            &:before {
                content:  url('/svg/magnifier_small.svg');
                position: absolute;
                top: $spacing * 2;
                left: calc(50% - 10px);
            }
            span {
                display: none;
            }
        }
    }
}
