.column-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    list-style: none;

    @media screen and (max-width: $screen-tablet-large) {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
}

.column {
    max-width: 48%;
    width: 100vw;
    width: 100%;
    @media screen and (max-width: $screen-tablet-large) {
        max-width: 100%;
    }

    &--fifth {
        max-width: 18%;
    }

    &--fourth {
        max-width: 23%;
    }

    &--third {
        max-width: 28%;
    }
}