.form {
    position: relative;

    &-section {
        background-color: $color-white;
        border: $narrow-border-half;
        padding: $spacing * 3 $spacing * 4;
        @include border-radius($border-radius);
        margin-bottom: $spacing * 6;
    }

    &__label {
        display: inline-block;
        font-size: $font-size-s;
        padding-right: $spacing * 2;
        margin-bottom: $spacing * 2;
        color: $color-darkest-grey;
        &.form__label--required {
            color: $color-dark-grey;
            &:after {
                content: '*';
            }
        }
        &--checkbox {
            color: $color-black;
        }
    }

    .suggestion {
        font-size: $font-size-s;
    }

    &__input {
        width: 100%;
        height: $spacing * 10;
        padding: $spacing $spacing * 3;
        font-size: $font-size-s;
        @include border-radius($border-radius);
        border: $narrow-border;
        @include transition(border-color 0.2s ease-in);

        &:focus {
            border-color: $color-black;
        }

        &__suggestions {
            .suggestion {
                font-size: $font-size-s;
            }
        }
    }

    &__textarea {
        resize: vertical;
        width: 100%;
        padding: ($spacing * 2) ($spacing * 3);
        @include border-radius($border-radius);
        border: $narrow-border;
        font-size: $font-size-s;
        @include transition(border-color 0.2s ease-in);

        &:focus {
            border-color: $color-black;
        }
    }

    &__select {
        width: 100%;
        height: $spacing * 10;
        padding: $spacing $spacing * 2;
        @include border-radius($border-radius);
        border: $narrow-border;
        font-size: $font-size-s;
        background: $color-white url('/svg/chevron_down.svg') calc(100% - 20px) center no-repeat;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        outline: none;

        &::-ms-expand {
            display: none; /* hide the default arrow in ie10 and ie11 */
        }

        &--placeholder {
            color: $color-grey;
        }

        option[value=""][disabled] {
            display: none;
        }
    }

    &__group {
        margin-bottom: $spacing * 4;
        position: relative;
    }

    &__text-group,
    &__input-group {
        margin-top: $spacing * 3;
        margin-bottom: $spacing * 3;
        position: relative;
        min-height: 70px;
        text-align: left;

        &--button {
            display: flex;
            align-items: flex-end;
        }

        .page--rtl & {
            text-align: right;
        }
    }

    &__text-group {
        display: flex;
        align-items: flex-end;
        .secondary-text {
            min-height: $input-height;
            max-height: $input-height;
            overflow: hidden;
            line-height: $input-height;
            &--two-lines {
                line-height: $input-height / 2;
            }
        }
    }

    &__checkbox-group {
        display: flex;
        margin-top: $spacing * 6;
        margin-bottom: $spacing * 3;
        align-items: center;
        justify-content: center;
        input {
            width: $spacing * 5;
            height: $spacing * 5;
            margin-right: $spacing * 2;
        }
        label {
            margin-bottom: 0;
        }
    }

    &__button {
        font-size: $font-size-m;
        &-wrapper {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            width: 100%;
            padding-top: 28px;
            &--uploaded {
                justify-content: space-between;
            }

            @media screen and (min-width: $screen-tablet-large) and (max-width: $screen-desktop-small) {
                display: block;
                padding-top: 0;
                text-align: center;

                .upload-status, .uploaded-logo {
                    text-align: center;
                    padding-bottom: $spacing * 2;
                }
            }
        }
    }

    &__button-row {
        margin-top: $spacing * 3;
        margin-bottom: $spacing * 3;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }

    &__hint {
        font-size: $font-size-s;
        color: $color-dark-grey;
        margin: $spacing * 3 0;
        line-height: 1.5em;
    }

    &__fieldset {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @include border-radius($border-radius);
        border: $narrow-border;
    }
}
