.headline {
    background-color: $background-color-black;
    color: $color-white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: $spacing * 6;
    align-items: center;
    margin-bottom: $spacing * 2;
    h1 {
        font-size: $font-size-l;
    }
}
