.panel {
    display: flex;
    align-items: center;
    height: 100%;

    &__element {
        position: relative;
        margin: 6px 0;
        border-right: $narrow-border;
        height: 100%;
        display: flex;
        align-items: center;

        &:last-child {
            border-right: none;
        }

        .language > span {
            font-size: $font-size-xs;
        }
    }

    &__button {
        height: 100%;
        width: 100%;
        @include outline(0);
        &:hover {
            .panel__inner-title {
                text-decoration: underline;
            }
        }
    }
    &__inner {
        height: 48px;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 0 $spacing * 4;

        &-title {
            font-size: $font-size-xxs;
            line-height: 18px;
            color: $color-grey;
        }

        .panel__icon {
            span {
                color: $color-dark-grey;
            }
        }

        ul {
            padding: 0;
            color: $color-dark-grey;
        }
    }
    &__icon {
        margin: $spacing * 2 0 0;
    }
}
