.heading {
    text-align: left;
    .page--rtl & {
        text-align: right;
    }

    h1 {
        color: $color-darkest-grey;
        max-width: 100%;
    }

    h2 {
        color: $color-darkest-grey;
        max-width: 100%;
    }

    h3 {
        color: $color-darkest-grey;
    }

    .heading-delimeter {
        margin: $spacing * 3 0;
    }

    &--inside {
        margin-top: $spacing * 5;
    }

    .block--divided > & {
        text-align: center;
        background-color: $background-color-black;
        color: $color-white;
        padding: $spacing * 3 $spacing * 4;
        @include border-radius-topleft($border-radius);
        @include border-radius-topright($border-radius);

        &--grey {
            background-color: $color-lightest-grey;
            color: $color-darkest-grey;
        }

        &--white {
            background-color: $color-white;
            color: $color-darkest-grey;
        }
    }
}
