.html-content {

    padding: 0 $spacing * 4 $spacing * 4;

    p:empty {
        height: 1em;
    }

    pre {
        padding: 0.7rem 1rem;
        border-radius: 5px;
        background: $color-black;
        color: $color-white;
        font-size: 0.8rem;
        overflow-x: auto;

        code {
            display: block;
        }
    }

    p code {
        display: inline-block;
        padding: 0 0.4rem;
        border-radius: 5px;
        font-size: 0.8rem;
        font-weight: bold;
        background: rgba($color-black, 0.1);
        color: rgba($color-black, 0.8);
    }

    ul,
    ol {
        padding-left: 1rem;
    }

    ol {
        list-style: circle;
    }
    ul {
        list-style: decimal;
    }

    li > p,
    li > ol,
    li > ul {
        margin: 0;
    }

    a {
        color: inherit;
    }

    blockquote {
        border-left: 3px solid rgba($color-black, 0.1);
        color: rgba($color-black, 0.8);
        padding-left: 0.8rem;
        font-style: italic;

        p {
            margin: 0;
        }
    }

    img {
        max-width: 100%;
        border-radius: 3px;
    }

    table {
        border-collapse: collapse;
        table-layout: fixed;
        width: 100%;
        margin: 0;
        overflow: hidden;

        td, th {
            min-width: 1em;
            border: 2px solid $color-dark-grey;
            padding: 3px 5px;
            vertical-align: top;
            box-sizing: border-box;
            position: relative;
            > * {
                margin-bottom: 0;
            }
        }

        th {
            font-weight: bold;
            text-align: left;
            .page--rtl & {
                text-align: right;
            }
        }
    }
}
