.language {
    padding-left: $spacing * 6;
    position: relative;

    .page--rtl & {
        padding-left: 0;
        padding-right: $spacing * 6;
    }

    &--active {
        a {
            pointer-events: none;
            cursor: auto;
        }
    }

    &:before {
        display: block;
        width: 20px;
        height: 20px;
        left: 0;
        top: 0;
        position: absolute;
        margin: 0 6px 0 0;

        .page--rtl & {
            left: unset;
            right: 0;
            margin: 0 0 0 6px;
        }
    }

    &--offer-language {
        vertical-align: middle;
        display: inline-block;
        padding-left: $spacing * 7;
        height: 20px;

        .page--rtl & {
            padding-left: 0;
            padding-right: $spacing * 6;
        }

        &:before {
            display: inline-block;
            left: $spacing;

            .page--rtl & {
                left: unset;
                right: $spacing;
            }
        }

        &:not(:last-child):after {
            content: '+';
            width: 10px;
            height: 20px;
            display: block;
            font-size: $font-size-s;
            line-height: 20px;
        }
    }

    &-en {
        &:before {
            content: url('/svg/flags/uk.svg');
        }
    }
    &-de {
        &:before {
            content: url('/svg/flags/germany.svg');
        }
    }
    &-es {
        &:before {
            content: url('/svg/flags/spain.svg');
        }
    }
    &-pt {
        &:before {
            content: url('/svg/flags/portugal.svg');
        }
    }
    &-tr {
        &:before {
            content: url('/svg/flags/turkey.svg');
        }
    }
    &-ar {
        &:before {
            content: url('/svg/flags/egypt.svg');
        }
    }
    &-ru {
        &:before {
            content: url('/svg/flags/russia.svg');
        }
    }
    &-ro {
        &:before {
            content: url('/svg/flags/romania.svg');
        }
    }
    &-ua {
        &:before {
            content: url('/svg/flags/ua.svg');
        }
    }
}