.blog-layout {
    background-color: $color-white
}

.main-header {
    height: $header-height;
    display: flex;
    justify-content: space-between;
    width: 100%;
    @include layout-padding;

    &__logo {
        margin: $spacing * 2 0 $spacing * 2 -7px;
        display: block;
        height: calc(100% - #{$spacing * 4});
        max-width: 190px;

        &-wrapper {
            flex: 0 0 0;
        }
    }

    &__wrapper {
        background-color: $color-white;
        border-bottom: $narrow-border;
        position: relative;
        z-index: 7;
    }
}

.main-content {
    @include layout-padding;
    min-height: 500px;

    &-wrapper {
        position: relative;
    }
}

.main-footer {
    @include layout-padding;
    color: $text-color-grey;

    &__wrapper {
        background-color: $background-color-black;
        margin-top: $spacing * 15;
    }

    a {
        color: $text-color-grey;
        @include link-decoration;
    }

    h4 {
        color: $color-white;
    }
}

.footer {
    &__nav {
        text-align: right;
        padding: $spacing * 8 0 $spacing * 6;
        border-bottom: 1px $color-dark-grey solid;
        a {
            padding-right: $spacing * 3;
            @media screen and (max-width: $screen-tablet-large) {
                display: block;
                padding: $spacing * 2 0;
            }
        }
        ul li {
            display: inline;
        }
    }

    &__languages {
        padding: 0;
        columns: 2;
        -webkit-columns: 2;
        -moz-columns: 2;
        margin: $spacing * 8 0;

        & .language {
            margin: $spacing * 4 0;

            @media screen and (max-width: $screen-tablet-large) {
                margin: $spacing * 8 0;
            }

            &:first-child {
                margin-top: 0;
            }

            &:hover {
                a {
                    color: $color-white;
                    text-decoration: underline;
                }
            }
            &--active {
                a {
                    color: $color-white;
                    text-decoration: underline;
                }
            }

        }
    }

    &__details {
        display: flex;
        flex: 1 0 100%;
        margin-top: $spacing * 5;
        padding-bottom: $spacing * 8;

        @media screen and (max-width: $screen-tablet-large) {
            flex-direction: column;
        }

        &-section {
            flex-grow: 1;
            flex-basis: 50%;
        }

        h4 {
            margin: $spacing * 5 0 $spacing * 3;
        }
    }
}

.copyright {
    text-align: center;
    color: $text-color-grey;
    @include layout-padding;
    p {
        padding: $spacing * 7 0;
    }
    &__wrapper {
        background-color: $footer-background-secondary-color;
    }
}
