.save-search {
    max-width: 90vw;
    width: 450px;
    min-width: 200px;
    margin: 0;

    @media screen and (max-width: calc(#{$screen-mobile} + 20px)) {
        max-width: calc(100vw - 16px);
    }

    .block-content {
        padding-top: $spacing * 6;
        padding-bottom: $spacing * 6;
        font-size: $font-size-m;
    }
}