.tags {
    &-label {
        padding-left: $spacing;
        font-size: $font-size-xxs;
        color: $color-grey;
    }
    &-list {
        display: block;
        padding-left: 0;
        padding-right: unset;
        line-height: 2em;

        .page--rtl & {
            padding-left: unset;
            padding-right: 0;
        }

        li {
            display: inline-block;
        }

        .tag--removable {
            font-size: $font-size-m;
            cursor: pointer;
            &:after {
                content: url('/svg/keywords_close.svg');
                display: block;
                height: 20px;
                width: 20px;
                float: right;
            }
        }
    }
}

.tags__input-wrapper {
    @include border-radius($border-radius);
    border: $narrow-border;
    background-color: $color-white;
    @include transition(border-color 0.2s ease-in);

    &--suggestions-opened {
        @include border-radius-bottomleft(0);
        @include border-radius-bottomright(0);
    }

    &--focused {
        border-color: $color-black;
    }
}

.tags__input {
    border: none;
    background-color: transparent;
    box-shadow: none;
}
