.secondary-text {
    font-size: $font-size-xs;
    color: $text-color-grey;
}

.main-text {
    font-size: $font-size-s;
    color: $color-darkest-grey;

    @media screen and (max-width: $screen-tablet) {
        font-size: $font-size-xs;
    }
}

.markdown-text {
    font-size: $font-size-xs;
    color: $text-color-grey;

    b {
        font-size: $font-size-s;
        color: $color-darkest-grey;
        font-weight: normal;
    }
}