.section-title {
    color: $color-darkest-grey;
    text-align: left;
    font-size: $font-size-super-xxl;
    border-bottom: $narrow-border;
    padding: $spacing * 4 0;
    max-width: 50%;
    margin-bottom: $spacing * 10;

    @media screen and (max-width: $screen-tablet-large) {
        font-size: $font-size-xl;
        max-width: 100%;
    }

    .page--rtl & {
        text-align: right;
    }
}
