.tooltip {
    position: relative;
    text-decoration: underline dotted;
    cursor: pointer;
    &:hover {
        text-decoration: none;
        .tooltip__text {
            opacity: 1;
            visibility: visible;
        }
    }

    &__text {
        opacity: 0;
        transition: opacity 1s;
        position: absolute;
        z-index: 1;
        visibility: hidden;
        display: inline-block;
        white-space: nowrap;
        font-size: $font-size-xs;
        background-color: $color-darkest-grey;
        color: $color-white;
        text-align: center;
        padding: $spacing $spacing * 2;
        box-shadow: $default-box-shadow-big;
        @include border-radius(4px);
        &--right {
            top: -5px;
            left: 105%;
            &:after {
                content: " ";
                position: absolute;
                top: 50%;
                right: 100%; /* To the left of the tooltip */
                margin-top: -5px;
                border-width: 5px;
                border-style: solid;
                border-color: transparent $color-darkest-grey transparent transparent;
            }
        }
        &--top {
            width: 250px;
            bottom: 100%;
            left: 50%;
            margin-left: -125px;
            &::after {
                content: " ";
                position: absolute;
                top: 100%; /* At the bottom of the tooltip */
                left: 50%;
                margin-left: -5px;
                border-width: 5px;
                border-style: solid;
                border-color: $color-darkest-grey transparent transparent transparent;
            }
        }
    }
}