@import "./layouts/error";
@import "./auth-window";
@import "./variables";
@import "./layout";
@import "./header_panel";
@import "./button";
@import "./language";
@import "./form";
@import "./headline";
@import "./tags-list";
@import "./block";
@import "./aside";
@import "./heading";
@import "./text";
@import "./html_content";
@import "./columns";
@import "./tooltip";
@import "./title";
@import "./blog";
@import "./save-search";

/* latin-ext */
@font-face {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Nunito Sans Regular'), local('NunitoSans-Regular'), url('/fonts/nunito_sans_latin.woff2') format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Nunito Sans Regular'), local('NunitoSans-Regular'), url('/fonts/nunito_sans_latin_ext.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html {
    font-family: $main-font;
    font-size: $font-size-m;
    word-spacing: 1px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    @media screen and (max-width: $screen-tablet-large) {
        font-size: $font-size-s;
    }
}

body {
    background-color: $color-lightest-grey;
}

input, textarea {
    font-family: $main-font;
}

button {
    font-family: inherit;
    padding: 0;
}

h1 {
    font-size: $font-size-xxl;

    @media screen and (max-width: $screen-tablet-larger) {
        font-size: $font-size-xl;
    }

    @media screen and (max-width: $screen-tablet) {
        font-size: $font-size-l;
    }
}

h2 {
    font-size: $font-size-m;

    @media screen and (max-width: $screen-tablet) {
        font-size: $font-size-s;
    }
}

[type="reset"], [type="submit"], button, html [type="button"] {
    -webkit-appearance: button;
}

button, select {
    text-transform: none;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
}

a:focus,
button:focus {
    outline: 1px dotted $color-dark-grey;
}

a[disabled] {
    pointer-events: none;
    cursor: default;
}

input:focus,
textarea:focus {
    outline: 0;
}

button::-moz-focus-inner {
    border: 0;
}

ol,
ul,
dl {
    list-style: none;
}

a {
    text-decoration: underline;
    color: $color-black;
    @include transition(
                    color 0.1s ease-in,
                    text-decoration-color 0.1s ease-in,
                    text-decoration 0.1s ease-in);

    &:hover {
        text-decoration: none;
        text-decoration-color: $main-color;
        color: $main-color;
    }

    button > *,
    button > span,
    button:hover > *,
    button:hover > span {
        text-decoration: none;
    }
}

.hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}


.text-page {
    position: relative;
    min-height: 300px;
    margin-top: $spacing * 5;
    padding-bottom: $spacing * 4;

    p,
    h1,
    h2,
    h3,
    h4 {
        padding-top: $spacing * 2;
    }

    p:last-child {
        padding-bottom: $spacing * 2;
    }

    ul,
    li {
        list-style: round;
    }
}

.delimeter {
    border-top: $narrow-border;
    border-bottom: none;
    border-left: none;
    border-right: none;
}

.page {
    min-height: 100vh;
    direction: ltr;
}
