@import "variables";

@mixin layout-padding {
  max-width: $page-max-width;
  min-width: $page-min-width;
  padding: 0 $page-padding;
  margin: 0 auto;

  @media screen and (max-width: calc(#{$screen-desktop-small} + #{$page-padding * 2})) {
    padding: 0 8%;
  }

  @media screen and (max-width: $screen-desktop-small) {
    min-width: calc(#{$page-min-width} + #{$mobile-page-padding * 2});
    padding: 0 $mobile-page-padding * 2;
  }

  @media screen and (max-width: $screen-tablet-larger) {
    min-width: $page-min-width-mobile;
  }

  @media screen and (max-width: $screen-mobile-large) {
    min-width: 100%;
    padding: 0 ($spacing * 2);
    margin: 0;
  }
}

@mixin shading-out($direction, $z-index, $percent) {
  position: relative;
  &:before {
    content:'';
    width:100%;
    height:100%;
    position:absolute;
    left:0;
    top:0;
    background: linear-gradient($direction, rgba(255,255,255,0) $percent, white);
    z-index: $z-index;
  }
}

@mixin outline($border-radius: 0, $color: $main-color) {
  outline: none;
  position: relative;
  &:focus {
    outline: none;
  }
  &:focus:after {
    border: 1px dotted $color-grey;
    display: block;
    content: "";
    position: absolute;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    top: -1px;
    left: -1px;
    border-radius: $border-radius;
  }
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin border-radius-topleft($radius) {
  -webkit-border-top-left-radius: $radius;
  -moz-border-radius-topleft: $radius;
  border-top-left-radius: $radius;
}


@mixin border-radius-topright($radius) {
  -webkit-border-top-right-radius: $radius;
  -moz-border-radius-topright: $radius;
  border-top-right-radius: $radius;
}


@mixin border-radius-bottomleft($radius) {
  -webkit-border-bottom-left-radius: $radius;
  -moz-border-radius-bottomleft: $radius;
  border-bottom-left-radius: $radius;
}


@mixin border-radius-bottomright($radius) {
  -webkit-border-bottom-right-radius: $radius;
  -moz-border-radius-bottomright: $radius;
  border-bottom-right-radius: $radius;
}

@mixin link-decoration {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

@mixin transition($transition...) {
  -webkit-transition: $transition;
  -moz-transition: $transition;
  -ms-transition: $transition;
  -o-transition: $transition;
  transition: $transition;
}

@mixin gradient-animation($angle, $start, $end, $transTime ){
  background-size: 100%;
  background-image: linear-gradient($angle, $start, $end);
  position: relative;
  z-index: 100;
  &:before {
    background-image: linear-gradient($angle, $end, $start);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    top: 0; left: 0;
    opacity: 0;
    width: 100%;
    z-index: -100;
    transition: opacity $transTime;
  }
  &:hover {
    &:before {
      opacity: 1;
    }
  }
}