@import "./variables/opacity";

$footer-background-secondary-color: #2d3a44;
$footer-text-color: #93a7b6;

$screen-mobile: 320px;
$screen-mobile-large: 412px;
$screen-tablet: 480px;
$screen-tablet-large: 720px;
$screen-tablet-larger: 840px;
$screen-desktop-small: 1020px;
$screen-desktop-large: 1720px;

$spacing: 4px;
$page-max-width: 1740px;
$page-min-width: 770px;
$page-min-width-mobile: 320px;

$page-padding: 114px;
$mobile-page-padding: 15px;
$header-height: 60px;

$font-size-xxs: 16px;
$font-size-xs: 17px;
$font-size-s: 17px;
$font-size-m: 18px;
$font-size-l: 22px;
$font-size-xl: 25px;
$font-size-xxl: 30px;
$font-size-super-xxl: 36px;
$font-size-super-puper-xxl: 50px;

$color-green-light: #78ed99;
$color-green: #4CC790;
$color-green-dark: #2b6e4e;
$color-green-darkest: #215139;
$color-blue-light: #587dff;
$color-blue: #3258B5;
$color-orange-light: #ffbd7b;
$color-orange: #e67942;
$color-dark-orange: #ac572b;
$color-pink-light: #ff98ae;
$color-pink: #e6606f;
$color-red: #e63f24;
$color-black: #000;
$color-darkest-grey: #3a3b40;
$color-dark-grey: #5f6368;
$color-grey: #7b7f84;
$color-light-grey: #e3dfe2;
$color-lightest-grey: #f5f4f4;
$color-xlightest-grey: #fffefe;
$color-white: #fff;
$main-color: #5788e9;
$main-color-lightest: #e1ebff;
$main-color-light: #95beff;
$main-color-dark: #3258B5;
$background-blue: #5788e9;
$background-light-blue: #ced9ff;
$background-color-black: #35434f;
$background-black-transparent: linear-gradient(rgba(20,20,20, .5), rgba(20,20,20, .5));

$narrow-border-light: solid 1px $color-light-grey;
$narrow-border-dark: solid 1px $color-grey;
$narrow-border: solid 1px #d1d1d1;
$narrow-border-half: solid 0.5px #d1d1d1;

$border-radius: 26px;
$homepage-search-width: 632px;

$max-button-width: 180px;
$max-cv-button-width: 240px;
$tablet-cv-button-width: 40px;
$mobile-cv-button-width: 200px;
$max-short-button-width: 100px;
$max-search-button-width: 160px;
$input-button-height: 40px;
$input-height: 40px;

$offer-card-height: 180px;
$mobile-tablet-offer-card-height: 220px;
$mobile-offer-card-height: 240px;

$form-input-height: 84px;

$text-color-grey: #9d9d9d;

$main-font: 'Nunito Sans', Roboto, "Helvetica Neue", Arial, sans-serif;
$angle-box-shadow: 0 6px 4px 0 rgba(41, 51, 57, 0.2);
$default-box-shadow-big: 0 0.5px 10px 0 rgba(41, 51, 57, .2);
$default-box-shadow: 0 0.5px 3px 0 rgba(41,51,57,.4);
$default-box-shadow-btn: 0 0 3px rgba(41,51,57,.4);
$default-box-shadow-below: 0 0 3px rgba(41,51,57,.4);

$input-box-shadow: inset 0 2px 4px 0 rgba(41,51,57,.1);
