<template>
    <section class="auth__wrapper block block--divided">
        <div class="heading heading--grey">
            <h2 class="auth__title">{{ $t('header.logInTitle') }}</h2>
            <p class="auth__heading-text secondary-text">
                {{ $t('header.signUpCta') }}
                <a @click="changePopover()">{{ $t('header.signUp') }}</a>
            </p>
        </div>
        <form class="form">
            <div class="form__input-group">
                <label for="auth__email" class="form__label">{{
                    $t('header.email')
                }}</label>
                <input
                    type="email"
                    ref="userEmail"
                    id="auth__email"
                    class="form__input"
                />
            </div>
            <div class="form__input-group">
                <label for="auth__password" class="form__label">
                    {{ $t('header.password') }}
                </label>
                <input
                    type="password"
                    ref="userPassword"
                    id="auth__password"
                    class="form__input"
                />
            </div>
            <component-response :component-name="`user`" />
        </form>
        <button
            :aria-label="$t('header.logIn')"
            class="button button--blue ending"
            @click="formSubmit"
        >
            <span>{{ $t('header.logIn') }}</span>
        </button>
        <loading v-if="isLoading" />
    </section>
</template>

<script>
import { mapActions, mapState } from 'vuex';
import ComponentResponse from '~/components/form/response/ComponentResponse';
import Loading from '~/components/Loading';
import { get } from '~/util/lodash';

export default {
    name: 'LogIn',
    components: {
        Loading,
        ComponentResponse,
    },
    computed: {
        ...mapState({
            isLoading(state) {
                return get(
                    state,
                    [
                        'request',
                        'responses',
                        this.$requestModules.USER,
                        'isRequestLoading',
                    ],
                    false,
                );
            },
        }),
    },
    methods: {
        ...mapActions([
            'loginUser',
            'envChangePopoverMode',
            'resetLastResponseMessage',
        ]),
        formSubmit(e) {
            this.loginUser({
                email: this.$refs.userEmail.value,
                password: this.$refs.userPassword.value,
                analyticsModule: this.$ga,
            });
            e.preventDefault();
        },
        changePopover() {
            this.resetLastResponseMessage(this.$requestModules.USER);
            this.envChangePopoverMode('signUp');
        },
    },
};
</script>
