<template>
    <section class="mobile-menu">
        <h4 class="hidden">
            {{ $t('header.mobile.menuTitle') }}
        </h4>
        <nav>
            <ul class="accordion-list">
                <li v-for="mode in modes" :key="mode.name">
                    <button
                        :aria-label="$t('aria.toggleMenuSection')"
                        class="button button--accordion"
                        @click="toggleAccordeon(mode.name)"
                        :class="{
                            'button--accordion-opened': opened.includes(
                                mode.name,
                            ),
                        }"
                    >
                        <span>{{ $t(mode.title) }}</span>
                    </button>
                    <accordeon :open="opened.includes(mode.name)">
                        <offers-language
                            v-if="mode.name === 'offersLanguage'"
                            slot="component"
                        />
                        <site-language
                            v-if="mode.name === 'siteLanguage'"
                            slot="component"
                        />
                        <log-in v-if="mode.name === 'logIn'" slot="component" />
                        <sign-up
                            v-if="mode.name === 'signUp'"
                            slot="component"
                        />
                        <user-profile
                            v-if="mode.name === 'userProfile'"
                            slot="component"
                        />
                        <mobile-menu
                            v-if="mode.name === 'mobileMenu'"
                            slot="component"
                        />
                    </accordeon>
                </li>
            </ul>
        </nav>
    </section>
</template>

<script>
import { mapGetters } from 'vuex';
import UserProfile from '../components/UserProfile';
import OffersLanguage from '../components/OffersLanguage';
import SiteLanguage from '../components/SiteLanguage';
import LogIn from '../components/LogIn';
import SignUp from '../components/SignUp';
import MobileMenu from '../components/MobileMenu';
import Accordeon from '../../../common/Accordeon';

export default {
    name: 'MobileMenu',
    components: {
        Accordeon,
        UserProfile,
        OffersLanguage,
        SiteLanguage,
        LogIn,
        SignUp,
        MobileMenu,
    },
    data: () => ({
        opened: [],
    }),
    computed: {
        ...mapGetters(['isAuthenticated']),
        modes: function() {
            return this.isAuthenticated
                ? [
                      {
                          name: 'userProfile',
                          title: 'header.userProfile.headerTitle',
                      },
                      {
                          name: 'offersLanguage',
                          title: 'header.offerLanguage',
                      },
                      {
                          name: 'siteLanguage',
                          title: 'header.language',
                      },
                  ]
                : [
                      {
                          name: 'signUp',
                          title: 'header.signUp',
                      },
                      {
                          name: 'logIn',
                          title: 'header.logIn',
                      },
                      {
                          name: 'offersLanguage',
                          title: 'header.offerLanguage',
                      },
                      {
                          name: 'siteLanguage',
                          title: 'header.language',
                      },
                  ];
        },
    },
    methods: {
        toggleAccordeon(modeName) {
            const modeIndex = this.opened.indexOf(modeName);
            if (modeIndex >= 0) {
                this.opened.splice(modeIndex, 1);
            } else {
                this.opened.push(modeName);
            }
        },
    },
};
</script>

<style lang="scss">
.mobile-menu {
    @include border-radius(4px);
    overflow: hidden;

    .button.button--accordion {
        @include border-radius(0);
        height: 60px;
        text-align: left;
        width: 100%;
        max-width: 100%;
        font-size: $font-size-l;
        display: block;

        .page--rtl & {
            text-align: right;
        }

        &:hover {
            box-shadow: none;
            background-color: $color-lightest-grey;
        }

        &::before {
            content: url('/svg/caret_left.svg');
            position: absolute;
            right: 0;
            top: -1px; //1px border of button
            display: block;
            width: 3em;
            font-size: $font-size-s;
            padding: $spacing * 5 0;
            height: calc(100% + 1px);
            text-align: center;
            -webkit-transition: all 0.55s;
            -o-transition: all 0.55s;
            transition: all 0.55s;
        }

        &-opened {
            background-color: $color-dark-grey;
            color: $color-white;
            border-top: 1px solid $color-dark-grey;

            &:hover {
                background-color: $color-dark-grey;
            }

            &::before {
                content: url('/svg/caret_left_white.svg');
                transform: rotate(-90deg);
            }
        }
    }
}
.accordion-list {
    padding: 0;
    li {
        .button--accordion {
            border: none;
            border-top: $narrow-border;
        }
        &:last-child .button--accordion {
            border-bottom: $narrow-border;
        }
    }
}
</style>
