<template>
    <section class="header__offer-languages-wrapper block block--divided">
        <div class="heading heading--grey">
            <h2>
                {{ $t('header.selectOfferLanguage') }}
            </h2>
        </div>
        <ul class="header__offer-languages">
            <template v-for="lang in Object.values(offerLanguages)">
                <li :key="lang.code">
                    <a
                        :class="[
                            lang.code === offerLanguage ? 'header__offer-language-active' : '',
                            'header__offer-language']"
                        :disabled="lang.code === offerLanguage"
                        @click="changeCurrentOfferLanguage(lang.code)">
                        <div class="header__offer-language-icon">
                            <template v-for="langCode in lang.code.split('+')">
                                <div
                                    :key="langCode"
                                    class="language language--offer-language"
                                    :class="`language-${langCode}`">
                                    <span class="hidden">
                                        {{ langCode.toUpperCase() }}
                                    </span>
                                </div>
                            </template>
                        </div>
                        <span class="header__offer-language-text">
                            {{ lang.title }}
                        </span>
                    </a>
                </li>
            </template>
        </ul>
    </section>
</template>

<script>
import { mapActions, mapState } from 'vuex';
export default {
    name: 'OffersLanguage',
    methods: {
        ...mapActions(['changeCurrentOfferLanguage']),
    },
    computed: {
        ...mapState({
            offerLanguages: state => state.search.offerLanguages,
            offerLanguage: state => state.search.offerLanguage,
        }),
    },
};
</script>

<style lang="scss">

.header {
    &__offer-languages {
        padding: $spacing * 4 $spacing * 3 $spacing;

        & .language {
            margin: 0;
        }

        &-wrapper {
            h2 {
                white-space: nowrap;
            }
        }
    }
    .header__offer-languages &__offer-language {
        margin-bottom: $spacing * 4;
        display: flex;
        color: $color-dark-grey;
        text-decoration: none;
        cursor: pointer;
        flex-direction: row;
        align-items: center;
        &:hover {
            text-decoration: underline;
            text-decoration-color: $color-black;
            color: $color-black;
        }
        &-active {
            color: $color-black;
            text-decoration: underline;
            cursor: default;
        }
        &-icon {
            display: inline-block;
        }
        &-text {
            line-height: 20px;
        }
    }
}
</style>
