<template>
    <section class="auth__wrapper block block--divided">
        <div class="heading heading--grey">
            <h2 class="auth__title">{{ $t('header.signUpTitle') }}</h2>
            <p class="auth__heading-text secondary-text">
                {{ $t('header.logInCta') }}
                <a @click="changePopover()">{{ $t('header.logIn') }}</a>
            </p>
        </div>
        <registration-form
            :component-name="$requestModules.USER"
            :register-fn="registerUser"
        />
    </section>
</template>

<script>
import { mapActions } from 'vuex';
import RegistrationForm from '~~/components/authentication/RegistrationForm';

export default {
    name: 'SignUp',
    components: {
        RegistrationForm,
    },
    methods: {
        ...mapActions(['registerUser', 'envChangePopoverMode', 'resetLastResponseMessage']),
    },
    changePopover() {
        this.resetLastResponseMessage(this.$requestModules.USER);
        this.envChangePopoverMode('logIn');
    }
};
</script>
