<template>
    <section class="header__languages-wrapper block block--divided">
        <div class="heading heading--grey">
            <h2>
                {{ $t('header.selectSiteLanguage') }}
            </h2>
        </div>
        <languages-list css-class="header__languages" />
    </section>
</template>

<script>
import LanguagesList from '~/components/common/LanguagesList';
export default {
    name: 'SiteLanguage',
    components: {
        LanguagesList,
    },
};
</script>

<style lang="scss">
.header {
    &__languages {
        padding: $spacing * 2 $spacing * 4 $spacing * 4;

        & .language {
            margin: $spacing * 3 0 0;
        }

        &-wrapper {
            h2 {
                white-space: nowrap;
            }
        }
    }
    &__languages {
        & .language {
            a {
                text-decoration: none;
                color: $color-dark-grey;

                &:hover {
                    text-decoration: underline;
                    color: $color-black;
                    text-decoration-color: $color-black;
                }
            }
            &--active {
                a {
                    color: $color-black;
                    text-decoration: underline;
                }
            }
        }
    }
}
</style>
