<template>
    <section class="popover__user-profile block block--divided">
        <div class="heading heading--grey">
            <h2>
                {{ $t('header.userProfile.menu') }}
            </h2>
        </div>

        <nav>
            <ul
                class="user-profile__links"
                v-if="$userType.isUser(getUserType())">
                <li
                    class="user-profile__link"
                    v-for="section in userMenu"
                    :key="section.text">
                    <nuxt-link :to="localePath(section.path)">
                        {{ section.text }}
                    </nuxt-link>
                </li>
            </ul>

            <ul
                class="user-profile__links"
                v-else-if="$userType.isRecruiter(getUserType())">
                <li
                    class="user-profile__link"
                    v-for="section in recruiterMenu"
                    :key="section.text">
                    <nuxt-link :to="localePath(section.path)">
                        {{ section.text }}
                    </nuxt-link>
                </li>
            </ul>
        </nav>

        <button
            :aria-label="$t('header.userProfile.logOut')"
            class="button button--grey log-out__button ending"
            @click="logoutUser">
            <span>{{ $t('header.userProfile.logOut') }}</span>
        </button>
    </section>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';
import { getRecruiterMenu, getUserMenu } from '~/util';

export default {
    name: 'UserProfile',
    data: function() {
        return {
            recruiterMenu: getRecruiterMenu(this),
            userMenu: getUserMenu(this),
        };
    },
    methods: {
        ...mapGetters(['getUserType']),
        ...mapActions(['logoutUser']),
    }
};
</script>

<style lang="scss">

.popover__user-profile {
  h2 {
    white-space: nowrap;
  }
}
.user-profile__links {
  padding: 0 $spacing * 3;
  margin-top: $spacing * 3;
}
.user-profile__link {
  margin: $spacing * 2 0;
  display: block;

  a {
    text-decoration: none;
    white-space: nowrap;
    font-size: $font-size-s;

    &:hover {
      text-decoration: underline;
    }
  }
}
.log-out__button {
  margin-top: $spacing * 3;
  span {
    font-size: $font-size-s;
  }
}

</style>
