<template>
    <div class="tags offer-page__destinations">
        <span class="tags-label">
            {{ $t('offerPage.destinationsLabel') }}
        </span>
        <div
            itemprop="jobLocation"
            itemscope
            itemtype="http://schema.org/Place">
            <ul
                class="tags-list"
                itemprop="address"
                itemscope
                itemtype="http://schema.org/PostalAddress">
                <template v-for="(keyword, index) in keywords">
                    <li
                        :key="index"
                        v-if="keyword && keyword.text && keyword.type"
                        itemprop="addressLocality">
                        <tag
                            :clickable="false"
                            :index="index"
                            :classes="`
                                tag tag__button--${keyword.type}
                                tag__button--inactive
                                ${ !keyword.highlight ? 'tag--no-highlight' : '' }
                            `"
                                :text="keyword.text"/>
                    </li>
                </template>
            </ul>
        </div>
    </div>
</template>

<script>
import Tag from '~/components/common/Tag.vue';
export default {
    name: 'LocationTags',
    components: {
        Tag
    },
    props: {
        keywords: {
            type: Array,
            default: () => []
        },
    }
};
</script>

<style lang="scss">
    .tag--no-highlight {
        border: 0;
        border-radius: 0;
    }
</style>
