<template>
    <div>
        <section class="no-offer">
            <h1>{{ notFoundTitle }}</h1>
            <div class="block no-offer-text">
                <p v-html="$t('error.noOfferTextSubstitutes')" />
            </div>
            <search-list :hide-score-match="false" :offers="offersToShow" />
            <show-more :link="getMoreOffersLink()" :text="$t('showMore')" />
        </section>
        <homepage-popular-queries
            v-if="seoPages.length > 0"
            :are-seo-pages="true"
            :title="$t('popularQueries.title')"
            :pages="seoPages"
        />
        <homepage-popular-queries
            v-if="citySeoPages.length > 0"
            :title="$t('popularQueries.cityPagesTitle')"
            :are-seo-pages="true"
            :pages="citySeoPages"
        />
    </div>
</template>
<script>
import { mapState, mapGetters } from 'vuex';
import { property } from '~/util/lodash';
import HomepagePopularQueries from '~/components/homepage/HomepagePopularQueries.vue';
import SearchList from '~/components/offers-list/SearchList';
import ShowMore from '~/components/common/Buttons/ShowMore';

export default {
    components: {
        HomepagePopularQueries,
        SearchList,
        ShowMore,
    },
    computed: {
        ...mapState({
            notFoundTitle: property(['popularOffers', 'title']),
            seoPages: property(['popularOffers', 'seoPages']),
            citySeoPages: property(['popularOffers', 'citySeoPages']),
        }),
        ...mapGetters(['offersToShow']),
    },

    methods: {
        getMoreOffersLink() {
            return this.localePath({
                name: 'search-query',
                params: { query: this.notFoundTitle },
            });
        },
    },
};
</script>

<style lang="scss">
.no-offer {
    max-width: 100%;

    h1 {
        text-align: center;
        margin: $spacing * 7 0;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
</style>
