<template>
    <div class="block">
        <div class="heading">
            <h2>{{ $t('popularQueries.offerTitle') }}</h2>
            <hr class="delimeter heading-delimeter" />
        </div>
        <ul class="offer-popular-jobs-list">
            <li v-for="job in popularJobs" :key="job.code">
                <link-to-seo-search-page v-bind="job" :is-full="false" />
            </li>
        </ul>
    </div>
</template>

<script>
import LinkToSeoSearchPage from '~/components/common/LinkToSeoSearchPage';
export default {
    name: 'PopularJobs',
    components: {
        LinkToSeoSearchPage,
    },
    props: {
        popularJobs: {
            type: Array,
            default: () => [],
        },
    },
};
</script>

<style lang="scss">
.offer-popular-jobs-list {
    padding: $spacing 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    li {
        flex: 0 0 33.3%;
        padding: #{$spacing * 2} 0;

        @media screen and (max-width: $screen-tablet-larger) {
            flex: 1 0 100%;
        }
    }
}
</style>
