<template>
    <section>
        <h2 v-if="offers && offers.length" class="section-title">
            {{ $t('similarOffersTitle') }}
        </h2>
        <search-list :offers="offers" :hide-score-match="true" />
    </section>
</template>

<script>
import SearchList from '../offers-list/SearchList';

export default {
    name: 'SuggestedOffers',
    components: {
        SearchList,
    },
    props: {
        offers: {
            type: Array,
            default: () => [],
        },
    },
};
</script>
