<template>
    <main class="offer-page" itemscope itemtype="http://schema.org/JobPosting">
        <section class="main-content">
            <div class="block offer-page__heading">
                <div class="heading">
                    <div class="offer-page__title-row">
                        <img
                            v-if="
                                logo &&
                                    (logo.indexOf('http://') === 0 ||
                                        logo.indexOf('https://') === 0)
                            "
                            class="lazyload"
                            :data-src="logo"
                            :alt="
                                $t('logoText', {
                                    companyName: this.companyName,
                                })
                            "
                            :title="
                                $t('logoText', {
                                    companyName: this.companyName,
                                })
                            "
                        />
                        <img
                            v-else-if="logo"
                            class="lazyload"
                            :data-src="$storageFile(logo)"
                            :alt="
                                $t('logoText', {
                                    companyName: this.companyName,
                                })
                            "
                            :title="
                                $t('logoText', {
                                    companyName: this.companyName,
                                })
                            "
                        />
                        <h1
                            class="offer-page__title js-offer-title"
                            itemprop="title"
                        >
                            <span itemprop="title">{{ originalTitle }}</span>
                            {{ restOfTitle }}
                        </h1>
                    </div>
                    <hr class="delimeter heading-delimeter" />
                </div>
                <div class="block-content">
                    <div class="offer-page__summary">
                        <div class="offer-page__main-block">
                            <div class="offer-page__main-row">
                                <div class="offer-page__text-props">
                                    <a
                                        class="offer-page__search-company"
                                        :href="companySearchLink"
                                    >
                                        <div
                                            itemprop="hiringOrganization"
                                            itemscope
                                            itemtype="http://schema.org/Organization"
                                        >
                                            <span
                                                class="main-text"
                                                itemprop="name"
                                            >
                                                {{ companyName }}
                                            </span>
                                        </div>
                                    </a>

                                    <div class="offer-page__text-line">
                                        <span
                                            class="markdown-text"
                                            v-html="workTypeString"
                                        />
                                    </div>
                                    <div class="offer-page__text-line">
                                        <span
                                            class="markdown-text"
                                            v-html="startsFrom"
                                        />
                                    </div>
                                    <div
                                        v-if="createdAt"
                                        class="offer-page__text-line"
                                    >
                                        <span class="markdown-text">
                                            {{ $t('offerPage.createdAt') }}
                                            <b itemprop="datePosted">{{
                                                createdAt
                                            }}</b>
                                        </span>
                                    </div>
                                    <div
                                        v-if="salaryString"
                                        class="offer-page__text-line"
                                    >
                                        <span
                                            itemprop="baseSalary"
                                            itemscope
                                            itemtype="http://schema.org/MonetaryAmount"
                                            class="markdown-text"
                                            v-html="salaryString"
                                        />
                                        <span
                                            itemprop="salaryCurrency"
                                            class="hidden"
                                            >EUR</span
                                        >
                                    </div>
                                </div>

                                <location-tags
                                    v-if="destinations && destinations.length"
                                    :keywords="destinations"
                                />
                            </div>

                            <tags-list
                                v-if="benefits && benefits.length"
                                :itemprop="'jobBenefits'"
                                :label="$t('offerPage.benefitsLabel')"
                                :has-highlighting="true"
                                :classes="`offer-page__benefits`"
                                :keywords="benefits"
                            />
                        </div>

                        <tags-list
                            v-if="skills && skills.length"
                            :itemprop="'qualifications'"
                            :label="$t('offerPage.skillsLabel')"
                            :has-highlighting="true"
                            :classes="`offer-page__skills`"
                            :keywords="skills"
                        />

                        <tags-list
                            v-if="
                                programmingLanguages &&
                                    programmingLanguages.length
                            "
                            :itemprop="'skills'"
                            :label="$t('offerPage.programmingLanguagesLabel')"
                            :has-highlighting="true"
                            :classes="`offer-page__programming`"
                            :keywords="programmingLanguages"
                        />
                    </div>
                </div>
                <hr class="delimeter" />
                <div class="offer-page__buttons">
                    <a class="offer-page__back-button" :href="backLink">
                        <arrow-back />
                        <span>
                            {{ $t('offerPage.backToList') }}
                        </span>
                    </a>
                    <a :href="url" rel="noopener" target="_blank">
                        <button
                            @click="logOfferPageClickout()"
                            :aria-label="$t('offerPage.viewOffer')"
                            class="button button--green"
                        >
                            <span>
                                {{ $t('offerPage.viewOffer') }}
                            </span>
                        </button>
                    </a>
                </div>
            </div>

            <popular-jobs
                v-if="popularJobs.length"
                :popular-jobs="popularJobs"
            />

            <div class="block offer-page__description">
                <div class="heading">
                    <h2>{{ $t('offerPage.description') }}</h2>
                    <hr class="delimeter heading-delimeter" />
                </div>
                <div
                    class="html-content"
                    itemprop="description"
                    v-html="htmlDescription"
                />
            </div>
            <suggested-offers :offers="similarOffers" />
        </section>
    </main>
</template>
<script src="./offer-page.js"></script>
<style lang="scss" src="./offer-page.scss"></style>
