.offer-page {
    position: relative;
    margin-bottom: $spacing * 11;

    .column-wrapper {
        margin-bottom: $spacing * 5;
    }

    .block-content {
        padding: $spacing * 3 0 $spacing * 7;
    }

    .html-content {
        padding: $spacing * 3 0;
        overflow: hidden;
        white-space: pre-line;

        h3 {
            margin: $spacing * 3 0;
        }

        p {
            strong:only-child {
                margin: $spacing * 2 0;
                display: block;
            }
        }
    }

    &__title {
        max-height: 4em;
        overflow: hidden;
    }

    &__title-row {
        display: flex;
        align-items: center;

        object,
        img {
            margin-right: $spacing * 5;
            max-height: 50px;
            max-width: 50px;
            min-width: 50px;
            width: 20vw;
            overflow: hidden;
        }
    }

    &__summary {
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
        padding-right: $spacing * 2;

        @media screen and (max-width: $screen-tablet-larger) {
            flex-wrap: wrap;
        }

        @media screen and (max-width: $screen-tablet-large) {
            flex-direction: column;
        }

        .offer-page__main-row {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: flex-start;

            @media screen and (max-width: $screen-tablet) {
                flex-direction: column;
            }
        }
        .offer-page__main-block {
            flex: 1 0 40%;
            max-width: 450px;
            display: flex;
            flex-direction: column;

            @media screen and (max-width: $screen-tablet-large) {
                max-width: unset;
            }

            .offer-page__text-props {
                padding: 0 $spacing * 5 0 0;

                .offer-page__text-line {
                    margin-top: $spacing;
                }
            }

            @media screen and (max-width: $screen-tablet) {
                .offer-page__destinations,
                .offer-page__benefits {
                    padding: $spacing * 5 0 0;
                }
            }

            .offer-page__benefits {
                padding-top: $spacing * 6;
            }
        }

        .offer-page__programming,
        .offer-page__skills {
            flex: 1 0 25%;
            padding: 0 ($spacing * 4);

            @media screen and (max-width: $screen-tablet-large) {
                max-width: unset;
                width: 100%;
                padding: $spacing * 5 0 0;
            }
        }
    }

    &__buttons {
        display: flex;
        justify-content: space-between;
        margin-top: $spacing * 3;

        .button {
            min-width: 160px;

            span {
                font-size: $font-size-xl;
            }
        }
    }

    &__back-button {
        display: flex;
        justify-content: space-between;
        align-items: center;

        svg {
            margin-right: $spacing * 2;
        }
    }

    &__heading {
        padding: $spacing * 4 $spacing * 6;
        margin-top: $spacing * 5;
        direction: ltr; // avoid rtl on arabic, cause we do not have arabic descriptions
    }

    &__description {
        padding: $spacing * 6;
        margin-bottom: $spacing * 11;
        direction: ltr; // avoid rtl on arabic, cause we do not have arabic descriptions
    }
}
